Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

docs(prd-347): create PRD #347 - MCP tool filtering [skip ci]
  docs/ROADMAP.md
  prds/347-mcp-tool-filtering.md
Labels: documentation

fix(prd-331): use flat structure with type in filename for towncrier
  .claude/skills/changelog-fragment/SKILL.md
  changelog.d/.gitkeep
  changelog.d/320.feature.md
  changelog.d/breaking/.gitkeep
  changelog.d/bugfix/.gitkeep
  changelog.d/doc/.gitkeep
  changelog.d/feature/.gitkeep
  changelog.d/misc/.gitkeep
  docs/CHANGELOG.md
Labels: documentation

docs(prd-353): create PRD #353 - Kimi K2.5 support [skip ci]
  .claude/settings.json
  docs/ROADMAP.md
  prds/353-kimi-k25-support.md
Labels: documentation

chore: coordinated release v0.189.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

Examples [skip ci]
  .gitignore
  examples/sql.yaml
Labels: none

docs(prd-348): create PRD #348 - reduce excessive logging [skip ci]
  docs/ROADMAP.md
  prds/348-reduce-excessive-logging.md
Labels: documentation

fix: remove failed v0.180.0 changelog entry for retry [skip ci]
  docs/CHANGELOG.md
Labels: documentation

feat(prd-338): optimize Qdrant query performance with native text filtering (#339)
  package-lock.json
  package.json
  prds/done/338-qdrant-query-performance.md
  src/core/mermaid-tools.ts
  src/core/vector-db-service.ts
  vitest.unit.config.ts
Labels: source, dependencies, config

docs: update release notes for v0.194.0
  .claude/skills/changelog-fragment/SKILL.md
  changelog.d/feature/329.md
  docs/CHANGELOG.md
Labels: documentation

fix: consolidate agent display instructions for visualization URL and feedback
  src/core/agent-display.ts
  src/core/index.ts
  src/tools/generate-manifests.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/project-setup.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

docs: update release notes for v0.180.0
  docs/CHANGELOG.md
Labels: documentation

feat(helm): add global annotations support (#341)
  charts/templates/_helpers.tpl
  charts/templates/clusterrole.yaml
  charts/templates/clusterrolebinding.yaml
  charts/templates/deployment.yaml
  charts/templates/gateway.yaml
  charts/templates/httproute.yaml
  charts/templates/ingress.yaml
  charts/templates/mcpserver.yaml
  charts/templates/secret.yaml
  charts/templates/service.yaml
  charts/templates/serviceaccount.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/setup/kubernetes-setup.md
  prds/done/336-helm-global-annotations.md
  tests/integration/tools/resource-sync.test.ts
Labels: documentation, tests, infrastructure

docs(prd-337): create PRD #337 - exponential backoff and circuit breaker [skip ci]
  docs/ROADMAP.md
  prds/337-exponential-backoff-circuit-breaker.md
Labels: documentation

docs(prd): create modular plugin architecture PRDs #342, #343, #345 [skip ci]
  docs/ROADMAP.md
  prds/342-modular-plugin-architecture.md
  prds/343-kubectl-plugin-migration.md
  prds/345-kubernetes-only-deployment.md
Labels: documentation

Query
  .env.vals.yaml
  dot.nu
  examples/find-mcp-servers.sh
  examples/solution-dot-ai.yaml
  scripts/dot-ai.nu
Labels: config

Anthropic key
  .env.vals.yaml
  CLAUDE.md
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, tests, config

docs(prd-331): create PRD #331 - towncrier release notes [skip ci]
  docs/ROADMAP.md
  prds/331-towncrier-release-notes.md
Labels: documentation

docs(prd-328): create PRD #328 - dashboard HTTP API endpoints [skip ci]
  docs/ROADMAP.md
  prds/328-dashboard-http-api.md
Labels: documentation

docs(changelog): add fragment for PRD #328 dashboard HTTP API
  changelog.d/328.feature.md
Labels: none

feat(prd-331): complete Milestone 1 - towncrier setup
  CONTRIBUTING.md
  changelog.d/.gitkeep
  prds/331-towncrier-release-notes.md
  pyproject.toml
  shared-prompts/prd-create.md
Labels: documentation, config

feat(core): add circuit breaker for LLM API rate limits (#340)
  changelog.d/337.feature.md
  docs/ROADMAP.md
  prds/337-exponential-backoff-circuit-breaker.md
  prds/done/337-exponential-backoff-circuit-breaker.md
  src/core/circuit-breaker.ts
  src/core/embedding-service.ts
  src/core/index.ts
  src/core/unified-creation-session.ts
  tests/unit/core/circuit-breaker.test.ts
Labels: documentation, source, tests

feat(prd-331): add towncrier release notes infrastructure
  .claude/skills/changelog-fragment/SKILL.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  changelog.d/breaking/.gitkeep
  changelog.d/bugfix/.gitkeep
  changelog.d/doc/.gitkeep
  changelog.d/feature/.gitkeep
  changelog.d/feature/320-visualization-urls.md
  changelog.d/misc/.gitkeep
  docs/CHANGELOG.md
  pyproject.toml
Labels: documentation, ci-cd, config

docs: add Dockerfile generation video to prompts guide
  docs/guides/mcp-prompts-guide.md
Labels: documentation

chore: coordinated release v1.0.1
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

docs: update release notes for v0.180.0
  docs/CHANGELOG.md
Labels: documentation

Claude Code [skip ci]
  .claude/settings.local.json
Labels: none

refactor: remove user feedback collection functionality
  .github/ISSUE_TEMPLATE/config.yml
  CLAUDE.md
  README.md
  docs/setup/mcp-setup.md
  src/core/agent-display.ts
  src/core/feedback.ts
  src/core/index.ts
  src/tools/generate-manifests.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/project-setup.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
Labels: documentation, source, tests

Query
  dot.nu
  examples/databases.yaml
  examples/find-mcp-servers.sh
  examples/qdrant-ingress.yaml
  prompts/query-system.md
Labels: none

chore: coordinated release v0.194.0
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

fix(prd-331): correct fragment filename format for towncrier
  .claude/skills/changelog-fragment/SKILL.md
  changelog.d/feature/320.md
Labels: none

chore: coordinated release v0.194.1
  changelog.d/338.misc.md
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

fix(helm): increase probe timeouts from 1s to 5s
  charts/templates/deployment.yaml
Labels: infrastructure

chore: coordinated release v0.191.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-322): close PRD #322 - superseded by UI dashboard [skip ci]
  docs/ROADMAP.md
  prds/done/322-ide-native-visualization.md
Labels: documentation

fix(plugin): resolve lint errors in plugin-manager
  src/core/plugin-manager.ts
Labels: source

chore: reset changelog for v1.0.0 re-release
  docs/CHANGELOG.md
Labels: documentation

docs(changelog): add fragment for global annotations feature (#336)
  changelog.d/336.feature.md
Labels: none

chore: coordinated release v1.0.0
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

Skill [skip ci]
  .claude/skills/changelog-fragment/SKILL.md
  devbox.lock
Labels: none

dot.nu [skip ci]
  dot.nu
Labels: none

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
