Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

docs(capabilities): document truncated as the completeness oracle (#714)
  changelog.d/714.feature.md
  contracts/capabilities/README.md
  docs/ai-engine/tools/capability-management.md
Labels: documentation

fix(capabilities): make truncated the authoritative completeness signal (#714)
  src/core/capability-operations.ts
  src/tools/organizational-data.ts
Labels: source

test(capabilities): cover the 10000 ceiling truncation in the unit contract (#714)
  tests/unit/contracts/capabilities-contract.test.ts
Labels: tests

test(copilot): drop the no-op beforeAll hook
  tests/integration/tools/copilot-provider.test.ts
Labels: tests

test(copilot): isolate integration credential checks (#776)
  changelog.d/759.misc.md
  tests/integration/tools/copilot-provider.test.ts
Labels: tests

docs: update changelog for v2.2.2 [skip ci]
  changelog.d/759.misc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v2.2.2
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix(readiness): run the embedding probe for configured-but-unavailable providers and guard the cache reset race (#714)
  src/core/embedding-service.ts
  src/tools/version.ts
  tests/unit/tools/version-readiness.test.ts
Labels: source, tests

fix(chart): keep readinessProbe on /healthz for single-replica deployments and sync the PRD to Option B (#714)
  charts/templates/deployment.yaml
  prds/714-capabilities-list-contract.md
Labels: infrastructure

fix(readiness): recognize CUSTOM_EMBEDDINGS_API_KEY as semantic-mode configuration (#714)
  src/core/embedding-service.ts
  tests/unit/core/embedding-service.test.ts
Labels: source, tests

test(capabilities): store the contract session fixture under ./tmp (#714)
  tests/unit/contracts/capabilities-contract.test.ts
Labels: tests

fix: honor constructor-supplied embedding config in semantic-mode check (#714)
  src/core/embedding-service.ts
  tests/unit/core/embedding-service.test.ts
Labels: source, tests

fix: report missing capabilities collection as absent in version tool (#714)
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  src/tools/version.ts
Labels: source, tests

OpenCode [skip ci]
  devbox.json
  opencode.json
Labels: config

fix: Fix the deployment manifest to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(capabilities): enforce list and readiness contracts (#757)
  .github/workflows/ci.yml
  changelog.d/714.feature.md
  charts/templates/deployment.yaml
  contracts/capabilities/README.md
  contracts/capabilities/delete.json
  contracts/capabilities/list-backend-unavailable.json
  contracts/capabilities/list-empty.json
  contracts/capabilities/list-full.json
  contracts/capabilities/list-identity-only.json
  contracts/capabilities/list-truncated.json
  contracts/capabilities/progress-completed.json
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/capability-management.md
  package.json
  packages/agentic-tools/src/qdrant/operations.ts
  packages/agentic-tools/src/tools/vector.ts
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  packages/agentic-tools/tests/unit/vector-tools.test.ts
  prds/714-capabilities-list-contract.md
  prompts/readiness-embedding.md
  src/core/base-vector-service.ts
  src/core/capability-operations.ts
  src/core/capability-vector-service.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/tools/organizational-data.ts
  src/tools/version.ts
  tests/integration/tools/auth.test.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/readiness.test.ts
  tests/integration/tools/version.test.ts
  tests/unit/contracts/capabilities-contract.test.ts
  tests/unit/tools/version-readiness.test.ts
Labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

docs: update changelog for v2.3.0 [skip ci]
  changelog.d/714.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v2.3.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix(test): gate Copilot tests on token shape via one shared helper
  changelog.d/759.bugfix.md
  docs/ai-engine/setup/deployment.md
  src/core/providers/copilot-token-exchanger.ts
  tests/integration/tools/copilot-provider.test.ts
  tests/unit/core/providers/copilot-token-exchanger.test.ts
  tests/unit/core/providers/vercel-provider.copilot.createOpenAI.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: documentation, source, tests

fix: Fix invalid Docker image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(test): wire Copilot credential into harness, harden recommend answers
  changelog.d/783.misc.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/copilot-provider.test.ts
  tests/integration/tools/recommend.test.ts
Labels: tests

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(tests): resolve the 21 non-`any` eslint findings (#784 stage 2a)
  packages/agentic-tools/src/index.ts
  packages/agentic-tools/src/tools/base.ts
  packages/agentic-tools/src/tools/kubectl-delete.ts
  tests/integration/helpers/http-client.ts
  tests/integration/helpers/test-base.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/project-setup.test.ts
  tests/integration/tools/prompts.test.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/recommend.test.ts
  tests/unit/core/session-events.test.ts
  tests/unit/core/visualization.test.ts
Labels: tests

refactor(tests): eliminate all 156 no-explicit-any in tests/ (#784 stage 2b)
  packages/agentic-tools/src/tools/shell-exec.ts
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  tests/integration/helpers/api-shapes.ts
  tests/integration/helpers/http-client.ts
  tests/integration/helpers/test-base.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/openapi.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/project-setup.test.ts
  tests/integration/tools/prompts.test.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
  tests/unit/core/circuit-breaker.test.ts
  tests/unit/core/command-executor.test.ts
  tests/unit/core/providers/host-provider.test.ts
  tests/unit/helm/ai-provider.test.ts
  tests/unit/helm/dex.test.ts
  tests/unit/helm/gateway-api.test.ts
  tests/unit/helm/k8s-doc.ts
  tests/unit/helpers/mock-logger.ts
  tests/unit/mock-server/fixtures.test.ts
Labels: tests

build(tests): gate tests/ on lint, format and typecheck (#784 stage 3)
  .github/workflows/ci.yml
  changelog.d/784.misc.md
  package.json
  packages/agentic-tools/package.json
  packages/agentic-tools/tests/unit/server.test.ts
  packages/agentic-tools/tests/unit/vector-tools.test.ts
  packages/agentic-tools/tsconfig.tests.json
  src/core/mcp-client-manager.ts
  src/tools/answer-question.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/mcp-client-auth.test.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/ingested-prompts.test.ts
  tests/unit/core/knowledge-migration.test.ts
  tests/unit/core/mcp-client-auth.test.ts
  tests/unit/core/plugin-manager.test.ts
  tests/unit/core/providers/_helpers/mock-language-model.ts
  tests/unit/core/providers/custom-headers-base-url.test.ts
  tests/unit/core/providers/vercel-provider.copilot.createOpenAI.test.ts
  tests/unit/core/providers/vercel-provider.test.ts
  tests/unit/core/providers/vercel-provider.toolloop.test.ts
  tests/unit/core/user-prompts-loader.test.ts
  tests/unit/core/user-prompts-server-credential.test.ts
  tests/unit/helpers/mock-logger.ts
  tests/unit/helpers/plugin-responses.ts
  tests/unit/interfaces/openapi-generator.test.ts
  tests/unit/interfaces/rest-route-registry.test.ts
  tests/unit/mock-server/prompts-ingest.test.ts
  tests/unit/mock-server/read-json-body.test.ts
  tests/unit/tools/answer-question.test.ts
  tests/unit/tools/push-to-git.test.ts
  tsconfig.tests.json
Labels: source, tests, ci-cd, dependencies, config

fix(tests): format main's new test files, correct empty-answer fallback
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  tests/integration/tools/auth.test.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/readiness.test.ts
  tests/integration/tools/recommend.test.ts
  tests/unit/contracts/capabilities-contract.test.ts
  tests/unit/tools/version-readiness.test.ts
Labels: tests

fix(ci): make the typecheck gate independent of build order
  .github/workflows/ci.yml
  package.json
  tests/integration/tools/version.test.ts
  tsconfig.tests.json
Labels: tests, ci-cd, dependencies, config

fix: Fix image tag in deployment manifest to use valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

refactor(tests): remove the last `any` from tests/ (#784)
  tests/integration/helpers/api-shapes.ts
  tests/integration/helpers/http-client.ts
  tests/integration/helpers/test-base.ts
  tests/integration/tools/auth.test.ts
  tests/integration/tools/impact-analysis.test.ts
  tests/integration/tools/manage-knowledge.test.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/project-setup.test.ts
  tests/integration/tools/prompts.test.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/rbac.test.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/resource-sync.test.ts
  tests/integration/tools/unified-knowledge-base.test.ts
  tests/integration/tools/version.test.ts
  tests/unit/core/providers/vercel-provider.copilot.createOpenAI.test.ts
  tests/unit/tools/query-retry.test.ts
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs: update changelog for v2.3.1 [skip ci]
  changelog.d/759.bugfix.md
  changelog.d/783.misc.md
  changelog.d/784.misc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v2.3.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

build(release): publish to npm via Trusted Publishing (OIDC)
  .github/workflows/release.yml
  changelog.d/796.misc.md
Labels: ci-cd

fix: Fix invalid Docker image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-810,prd-811): create PRDs for remediation execution constraint and untrusted-content boundary [skip ci]
  prds/810-constrained-automatic-remediation.md
  prds/811-untrusted-content-boundary.md
Labels: none

fix: Fix the deployment manifest by changing the image from non-existent 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid image tag in deployment manifest stored in Git [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(prd-810): add failing integration tests for constrained automatic remediation
  tests/integration/helpers/api-shapes.ts
  tests/integration/tools/remediate.test.ts
Labels: tests

fix: Fix the invalid image tag in the deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' (or another valid tag) [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid image tag from 'nginx:v999-nonexistent' to 'nginx:latest' in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
