Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

chore: coordinated release v1.1.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

chore: update package-lock.json for v1.1.0
  package-lock.json
Labels: dependencies, config

feat(prd-360): implement user context propagation to tool handlers
  prds/360-user-authentication.md
  src/interfaces/mcp.ts
  src/interfaces/request-context.ts
  src/tools/version.ts
  tests/integration/tools/auth-test-provider.test.ts
Labels: source, tests

docs(prd-369): create PRD #369 - update OpenAI model to GPT-5.3-Codex [skip ci]
  docs/ROADMAP.md
  prds/369-openai-gpt53-codex-update.md
Labels: documentation

feat: update Anthropic Opus model to Claude Opus 4.6 and fix ESLint lint script (#370)
  changelog.d/370.bugfix.md
  changelog.d/370.feature.md
  docs/setup/mcp-setup.md
  mock-server/fixtures/knowledge/ask-success.json
  mock-server/fixtures/knowledge/delete-source-success.json
  mock-server/fixtures/resources/search-results.json
  mock-server/routes.ts
  package.json
  src/core/model-config.ts
Labels: documentation, source, dependencies, config

Grafana
  dot.nu
  scripts/grafana-stack.nu
Labels: none

dot.nu
  dot.nu
Labels: none

docs(prd-371): create PRD #371 - auto-generated Go CLI [skip ci]
  docs/ROADMAP.md
  prds/371-go-cli.md
Labels: documentation

Knowledgebase
  examples/knowledgebase/apps-devopstoolkit-live.md
  examples/knowledgebase/databases.md
  examples/knowledgebase/environments.md
  examples/knowledgebase/git-knowledge-source.yaml
  examples/knowledgebase/naming-conventions.md
  examples/knowledgebase/security-policies.md
Labels: none

Examples
  examples/knowledgebase/git-knowledge-source.yaml
Labels: none

docs: handle missing PRD label on issue creation [skip ci]
  shared-prompts/prd-create.md
Labels: none

docs: move PRD #371 to vfarcic/dot-ai-cli [skip ci]
  prds/371-go-cli.md
Labels: none

feat: auto-generate OpenAPI spec on release
  .github/workflows/release.yml
  package.json
  schema/openapi.json
  scripts/generate-openapi.sh
Labels: ci-cd, dependencies, config

fix: populate empty OpenAPI schemas by replacing zod-to-json-schema with Zod v4 native toJSONSchema
  package-lock.json
  package.json
  schema/openapi.json
  src/interfaces/openapi-generator.ts
  src/interfaces/rest-registry.ts
  src/interfaces/schemas/common.ts
  tests/integration/tools/openapi.test.ts
Labels: source, tests, dependencies, config

fix: read OpenAPI spec version from package.json instead of hardcoding
  schema/openapi.json
  src/interfaces/openapi-generator.ts
Labels: source

feat: enable mock server fixtures for tools and prompts endpoints
  mock-server/routes.ts
  tests/unit/mock-server/fixtures.test.ts
Labels: tests

fix: make category optional in prompt frontmatter validation (#372)
  changelog.d/372.bugfix.md
  src/tools/prompts.ts
Labels: source

docs: update changelog for v1.2.0 [skip ci]
  changelog.d/370.bugfix.md
  changelog.d/370.feature.md
  changelog.d/372.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.2.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

chore: remove skills submodule and symlinks
  .claude/skills/changelog-fragment
  .claude/skills/process-feature-request
  .claude/skills/query-dot-ai
  .claude/skills/request-dot-ai-feature
  .claude/skills/tag-release
  .claude/skills/worktree-prd
  .gitmodules
Labels: none

docs(prd-373): create PRD #373 - restructure docs into AI Engine and MCP sections [skip ci]
  .claude/skills/dot-ai-changelog-fragment/SKILL.md
  .claude/skills/dot-ai-generate-cicd/SKILL.md
  .claude/skills/dot-ai-generate-dockerfile/SKILL.md
  .claude/skills/dot-ai-manageKnowledge/SKILL.md
  .claude/skills/dot-ai-manageOrgData/SKILL.md
  .claude/skills/dot-ai-operate/SKILL.md
  .claude/skills/dot-ai-port-destroy/SKILL.md
  .claude/skills/dot-ai-port-setup/SKILL.md
  .claude/skills/dot-ai-prd-close/SKILL.md
  .claude/skills/dot-ai-prd-create/SKILL.md
  .claude/skills/dot-ai-prd-done/SKILL.md
  .claude/skills/dot-ai-prd-next/SKILL.md
  .claude/skills/dot-ai-prd-start/SKILL.md
  .claude/skills/dot-ai-prd-update-decisions/SKILL.md
  .claude/skills/dot-ai-prd-update-progress/SKILL.md
  .claude/skills/dot-ai-prds-get/SKILL.md
  .claude/skills/dot-ai-process-feature-request/SKILL.md
  .claude/skills/dot-ai-projectSetup/SKILL.md
  .claude/skills/dot-ai-query-dot-ai/SKILL.md
  .claude/skills/dot-ai-query/SKILL.md
  .claude/skills/dot-ai-recommend/SKILL.md
  .claude/skills/dot-ai-remediate/SKILL.md
  .claude/skills/dot-ai-request-dot-ai-feature/SKILL.md
  .claude/skills/dot-ai-tag-release/SKILL.md
  .claude/skills/dot-ai-version/SKILL.md
  .claude/skills/dot-ai-worktree-prd/SKILL.md
  .claude/skills/dot-ai/SKILL.md
  .github/workflows/release.yml
  .mcp.json
  docs/ROADMAP.md
  package-lock.json
  prds/373-docs-restructure-ai-engine-mcp.md
Labels: documentation, ci-cd, dependencies, config

docs(prd-373): create ai-engine/ and mcp/ directory structure, move all docs [skip ci]
  docs/ai-engine/_category_.yml
  docs/ai-engine/api/_category_.yml
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/capabilities/_category_.yml
  docs/ai-engine/capabilities/capability-management.md
  docs/ai-engine/capabilities/knowledge-base.md
  docs/ai-engine/capabilities/operate.md
  docs/ai-engine/capabilities/overview.md
  docs/ai-engine/capabilities/project-setup.md
  docs/ai-engine/capabilities/prompts.md
  docs/ai-engine/capabilities/query.md
  docs/ai-engine/capabilities/recommend.md
  docs/ai-engine/capabilities/remediate.md
  docs/ai-engine/capabilities/version.md
  docs/ai-engine/index.md
  docs/ai-engine/operations/_category_.yml
  docs/ai-engine/operations/observability.md
  docs/ai-engine/operations/telemetry.md
  docs/ai-engine/organizational-data/_category_.yml
  docs/ai-engine/organizational-data/concepts.md
  docs/ai-engine/organizational-data/patterns.md
  docs/ai-engine/organizational-data/policies.md
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/_category_.yml
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/setup/gateway-api.md
  docs/ai-engine/why-devops-ai-toolkit.md
  docs/guides/_category_.yml
  docs/mcp/_category_.yml
  prds/373-docs-restructure-ai-engine-mcp.md
Labels: documentation

docs(prd-373): split deployment/MCP setup, rename capabilities to tools [skip ci]
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/_category_.yml
  docs/ai-engine/tools/capability-management.md
  docs/ai-engine/tools/knowledge-base.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/project-setup.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  docs/ai-engine/tools/version.md
  docs/mcp/index.md
  prds/373-docs-restructure-ai-engine-mcp.md
Labels: documentation

docs(prd-373): remove MCP-centric language, fix cross-references across all docs [skip ci]
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/operations/observability.md
  docs/ai-engine/organizational-data/concepts.md
  docs/ai-engine/organizational-data/patterns.md
  docs/ai-engine/organizational-data/policies.md
  docs/ai-engine/setup/gateway-api.md
  docs/ai-engine/tools/capability-management.md
  docs/ai-engine/tools/knowledge-base.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/project-setup.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  docs/ai-engine/tools/version.md
  prds/373-docs-restructure-ai-engine-mcp.md
Labels: documentation

docs(prd-373): update entry points and meta docs for AI Engine restructure [skip ci]
  README.md
  docs/CLAUDE.md
  docs/ai-engine/index.md
  docs/ai-engine/quick-start.md
  docs/ai-engine/tools/_category_.yml
  prds/373-docs-restructure-ai-engine-mcp.md
Labels: documentation

docs(prd-373): send feature requests to sibling projects, mark M6 complete [skip ci]
  prds/373-docs-restructure-ai-engine-mcp.md
Labels: none

docs(prd-373): archive PRD and update roadmap [skip ci]
  docs/ROADMAP.md
  prds/done/373-docs-restructure-ai-engine-mcp.md
Labels: documentation

docs(prd-373): add changelog fragment for docs restructure [skip ci]
  changelog.d/373.doc.md
Labels: none

docs(prd-373): address CodeRabbit review feedback [skip ci]
  docs/ai-engine/organizational-data/concepts.md
  docs/ai-engine/tools/knowledge-base.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/remediate.md
  docs/mcp/index.md
Labels: documentation

docs(ai-engine): restructure docs into AI Engine and MCP sections (#374)
  README.md
  changelog.d/373.doc.md
  docs/CLAUDE.md
  docs/ROADMAP.md
  docs/ai-engine/_category_.yml
  docs/ai-engine/api/_category_.yml
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/index.md
  docs/ai-engine/operations/_category_.yml
  docs/ai-engine/operations/observability.md
  docs/ai-engine/operations/telemetry.md
  docs/ai-engine/organizational-data/_category_.yml
  docs/ai-engine/organizational-data/concepts.md
  docs/ai-engine/organizational-data/patterns.md
  docs/ai-engine/organizational-data/policies.md
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/_category_.yml
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/setup/gateway-api.md
  docs/ai-engine/tools/_category_.yml
  docs/ai-engine/tools/capability-management.md
  docs/ai-engine/tools/knowledge-base.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/project-setup.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  docs/ai-engine/tools/version.md
  docs/ai-engine/why-devops-ai-toolkit.md
  docs/guides/_category_.yml
  docs/mcp/_category_.yml
  docs/mcp/index.md
  prds/done/373-docs-restructure-ai-engine-mcp.md
Labels: documentation

docs: fix image paths, cross-section links, and stale references for website doc split
  docs/ai-engine/img/capabilities.jpeg
  docs/ai-engine/img/github.jpeg
  docs/ai-engine/img/index.jpeg
  docs/ai-engine/img/operate-example-01.png
  docs/ai-engine/img/operations.jpeg
  docs/ai-engine/img/patterns.jpeg
  docs/ai-engine/img/policies.jpeg
  docs/ai-engine/img/prompts.jpeg
  docs/ai-engine/img/query-example-01.png
  docs/ai-engine/img/query.jpeg
  docs/ai-engine/img/recommendation-example-01.png
  docs/ai-engine/img/recommendation-example-02.png
  docs/ai-engine/img/recommendation-example-03.png
  docs/ai-engine/img/recommendation-example-04.png
  docs/ai-engine/img/recommendation.jpeg
  docs/ai-engine/img/remediate-example-01.png
  docs/ai-engine/img/remediate-example-02.png
  docs/ai-engine/img/remediation.jpeg
  docs/ai-engine/img/version-example.png
  docs/ai-engine/index.md
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/why-devops-ai-toolkit.md
  docs/mcp/index.md
Labels: documentation

docs: fix AI Engine sidebar ordering so top-level pages appear before categories
  docs/ai-engine/api/_category_.yml
  docs/ai-engine/index.md
  docs/ai-engine/operations/_category_.yml
  docs/ai-engine/organizational-data/_category_.yml
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/_category_.yml
  docs/ai-engine/tools/_category_.yml
  docs/ai-engine/why-devops-ai-toolkit.md
Labels: documentation

docs: add sidebar ordering to tools pages following user journey flow
  docs/ai-engine/tools/capability-management.md
  docs/ai-engine/tools/knowledge-base.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/project-setup.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  docs/ai-engine/tools/version.md
Labels: documentation

docs: remove redundant why-devops-ai-toolkit page and adjust sidebar positions
  README.md
  docs/ai-engine/api/_category_.yml
  docs/ai-engine/index.md
  docs/ai-engine/operations/_category_.yml
  docs/ai-engine/organizational-data/_category_.yml
  docs/ai-engine/setup/_category_.yml
  docs/ai-engine/tools/_category_.yml
  docs/ai-engine/why-devops-ai-toolkit.md
Labels: documentation

docs: update changelog for v1.2.2 [skip ci]
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

fix: resolve release workflow non-fast-forward push failure
  .github/workflows/release.yml
Labels: ci-cd

fix: resolve release workflow non-fast-forward push and restore changelog
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

docs: update changelog for v1.2.2 [skip ci]
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

fix: remove failed v1.2.2 changelog entry and restore fragment for v1.2.3
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

docs: update changelog for v1.2.3 [skip ci]
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
