Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

docs(prd-359): complete PRD - update umbrella PRD #342 with lessons learned
  prds/342-modular-plugin-architecture.md
  prds/359-qdrant-operations-plugin-migration.md
Labels: none

chore(prd-359): archive completed PRD, add changelog, improve hook
  .claude/hooks/prd-done-changelog-reminder.sh
  changelog.d/359.misc.md
  docs/ROADMAP.md
  prds/342-modular-plugin-architecture.md
  prds/done/359-qdrant-operations-plugin-migration.md
Labels: documentation

fix: address CodeRabbit review feedback (#364)
  CLAUDE.md
  packages/agentic-tools/Dockerfile
  packages/agentic-tools/package.json
  packages/agentic-tools/src/qdrant/operations.ts
  src/core/pattern-operations.ts
  src/core/plugin-manager.ts
  src/core/policy-operations.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/tools/version.ts
  tests/integration/tools/manage-org-data-policies.test.ts
  tests/unit/core/plugin-manager.test.ts
Labels: documentation, source, tests

fix: add missing getPluginManager import in version.ts
  src/tools/version.ts
Labels: source

Env
  .env.vals.yaml
Labels: config

docs(prd): update #360 to align with MCP Authorization Specification
  prds/360-user-authentication.md
Labels: none

docs: add MCP vs Plugin architecture guidance to CLAUDE.md
  CLAUDE.md
Labels: documentation

feat(prd-356): implement knowledge base ingest and getByUri operations
  package-lock.json
  package.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
  packages/agentic-tools/src/tools/index.ts
  packages/agentic-tools/src/tools/knowledge.ts
  prds/356-knowledge-base-system.md
  src/core/knowledge-types.ts
  src/interfaces/mcp.ts
  src/tools/index.ts
  src/tools/manage-knowledge.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: source, tests, dependencies, config

feat(prd-360): implement auth plugin tools and MCP OAuth integration
  package-lock.json
  package.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
  packages/agentic-tools/src/tools/auth-base.ts
  packages/agentic-tools/src/tools/auth-get-metadata.ts
  packages/agentic-tools/src/tools/auth-get-public-key.ts
  packages/agentic-tools/src/tools/auth-validate-token.ts
  packages/agentic-tools/src/tools/index.ts
  prds/360-user-authentication.md
  src/interfaces/auth-oauth.ts
  src/interfaces/auth.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/auth.ts
  src/interfaces/schemas/index.ts
  src/mcp/server.ts
  tests/integration/tools/auth.test.ts
Labels: source, tests, dependencies, config

feat(prd-356): add mock server fixture for manageKnowledge ingest operation
  mock-server/fixtures/tools/manageKnowledge-ingest-success.json
  mock-server/routes.ts
  prds/356-knowledge-base-system.md
Labels: none

feat(prd-356): implement knowledge base search operation
  mock-server/fixtures/tools/manageKnowledge-search-success.json
  src/tools/manage-knowledge.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: source, tests

docs: improve test output handling instruction
  CLAUDE.md
Labels: documentation

feat(prd-360): implement GitHub OAuth flow (Milestone 2)
  packages/agentic-tools/src/tools/auth-exchange-code.ts
  packages/agentic-tools/src/tools/auth-pkce.ts
  packages/agentic-tools/src/tools/auth-refresh-store.ts
  packages/agentic-tools/src/tools/auth-refresh-token.ts
  packages/agentic-tools/src/tools/auth-start-oauth-flow.ts
  packages/agentic-tools/src/tools/auth-state-store.ts
  packages/agentic-tools/src/tools/index.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/auth.ts
  src/interfaces/schemas/index.ts
  tests/integration/tools/auth-oauth-flow.test.ts
  tests/integration/tools/auth.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

docs(prd-360): update progress - Milestone 2 complete
  prds/360-user-authentication.md
Labels: none

feat(prd-356): complete search operation with real URL format
  mock-server/fixtures/tools/manageKnowledge-ingest-success.json
  mock-server/fixtures/tools/manageKnowledge-search-success.json
  prds/356-knowledge-base-system.md
  src/core/knowledge-types.ts
  src/tools/manage-knowledge.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: source, tests

docs(prd-356): mark Milestone 3 search operation complete
  prds/356-knowledge-base-system.md
Labels: none

feat(prd-360): implement Milestone 3 core - cache-based auth validation
  packages/agentic-tools/src/tools/auth-exchange-code.ts
  packages/agentic-tools/src/tools/auth-get-config.ts
  packages/agentic-tools/src/tools/auth-test-provider.ts
  packages/agentic-tools/src/tools/auth-validate-token.ts
  packages/agentic-tools/src/tools/index.ts
  prds/360-user-authentication.md
  src/interfaces/auth-oauth.ts
  src/interfaces/auth.ts
Labels: source

feat(prd-360): add Helm auth configuration and integration tests
  charts/templates/plugin-deployment.yaml
  charts/values.yaml
  prds/360-user-authentication.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/auth-test-provider.test.ts
Labels: tests, infrastructure

feat(prd-356): implement deleteByUri operation and configurable scoreThreshold
  mock-server/fixtures/tools/manageKnowledge-deleteByUri-success.json
  prds/356-knowledge-base-system.md
  src/tools/manage-knowledge.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: source, tests

docs(prd-356): add Milestone 7 for documentation after controller validation
  prds/356-knowledge-base-system.md
Labels: none

docs(prd-356): add Milestone 8 for Web UI PRD creation
  prds/356-knowledge-base-system.md
Labels: none

docs(prd-356): remove getChunk operation - redundant with search and getByUri
  prds/356-knowledge-base-system.md
Labels: none

feat(prd-356): remove getByUri operation - redundant with search + uriFilter
  prds/356-knowledge-base-system.md
  src/tools/manage-knowledge.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: source, tests

feat(prd-360): consolidate test token into /oauth/token endpoint
  charts/templates/deployment.yaml
  prds/360-user-authentication.md
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/auth.ts
  src/interfaces/schemas/index.ts
  src/mcp/server.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/auth-test-provider.test.ts
  tests/integration/tools/auth.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests, infrastructure

chore(prd-356): cleanup unused types and error messages
  src/core/knowledge-types.ts
  src/tools/manage-knowledge.ts
Labels: source

docs(prd-356): update work log with API simplification
  prds/356-knowledge-base-system.md
Labels: none

fix(prd-356): MCP response format + remove scoreThreshold
  prds/356-knowledge-base-system.md
  src/tools/manage-knowledge.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: source, tests

feat(prd-356): remove document size limit from ingest
  src/tools/manage-knowledge.ts
Labels: source

feat(prd-356): version tool observability + search limit tuning
  prds/356-knowledge-base-system.md
  src/tools/manage-knowledge.ts
  src/tools/version.ts
  tests/integration/tools/manage-knowledge.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

docs(prd-356): complete Milestone 7 - Knowledge Base documentation
  .claude/settings.json
  .claude/skills/write-docs/SKILL.md
  README.md
  devbox.json
  docs/guides/mcp-knowledge-base-guide.md
  docs/guides/mcp-tools-overview.md
  docs/index.md
  package-lock.json
  package.json
  prds/356-knowledge-base-system.md
  src/core/knowledge-types.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/knowledge.ts
  src/tools/manage-knowledge.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: documentation, source, tests, dependencies, config

feat(prd-356): add Knowledge Ask HTTP endpoint for Web UI
  prds/356-knowledge-base-system.md
  prompts/knowledge-ask.md
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/knowledge.ts
  src/tools/manage-knowledge.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: source, tests

feat(prd-356): complete Milestone 9 - Web UI feature request
  prds/356-knowledge-base-system.md
Labels: none

chore(prd-356): complete PRD - move to done, add changelog
  changelog.d/356.feature.md
  docs/ROADMAP.md
  prds/done/356-knowledge-base-system.md
Labels: documentation

fix(prd-356): address CI failures and CodeRabbit review comments
  docs/index.md
  package-lock.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
  packages/agentic-tools/src/tools/knowledge.ts
  prds/done/356-knowledge-base-system.md
  src/interfaces/rest-api.ts
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, dependencies, config

docs: address CodeRabbit nitpicks
  docs/guides/mcp-knowledge-base-guide.md
  packages/agentic-tools/src/tools/index.ts
Labels: documentation

ci: add npm audit exception for MCP SDK vulnerability
  .github/workflows/ci.yml
  .nsprc
Labels: ci-cd

fix: correct .nsprc format and version test expected values
  .nsprc
  tests/integration/tools/version.test.ts
Labels: tests

fix: address CodeRabbit review feedback
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/agentic-tools/src/tools/knowledge.ts
  src/interfaces/rest-api.ts
Labels: source, ci-cd, dependencies, config

feat(knowledge-base): implement Knowledge Base System (#367)
  .claude/settings.json
  .claude/skills/write-docs/SKILL.md
  .github/workflows/ci.yml
  .nsprc
  README.md
  changelog.d/356.feature.md
  devbox.json
  docs/ROADMAP.md
  docs/guides/mcp-knowledge-base-guide.md
  docs/guides/mcp-tools-overview.md
  docs/index.md
  mock-server/fixtures/tools/manageKnowledge-deleteByUri-success.json
  mock-server/fixtures/tools/manageKnowledge-ingest-success.json
  mock-server/fixtures/tools/manageKnowledge-search-success.json
  mock-server/routes.ts
  package-lock.json
  package.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
  packages/agentic-tools/src/tools/index.ts
  packages/agentic-tools/src/tools/knowledge.ts
  prds/356-knowledge-base-system.md
  prds/done/356-knowledge-base-system.md
  prompts/knowledge-ask.md
  src/core/knowledge-types.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/knowledge.ts
  src/tools/index.ts
  src/tools/manage-knowledge.ts
  src/tools/version.ts
  tests/integration/tools/manage-knowledge.test.ts
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, ci-cd, dependencies, config

docs: update changelog for v1.1.0 [skip ci]
  changelog.d/354.feature.md
  changelog.d/356.feature.md
  changelog.d/359.misc.md
  changelog.d/365.misc.md
  docs/CHANGELOG.md
Labels: documentation
