Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

fix: Update deployment.yaml to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(security): resolve npm audit findings
  .nsprc
  package-lock.json
Labels: dependencies, config

docs(prd-480): address CodeRabbit review feedback
  changelog.d/480-refresh-ai-model-pins.feature.md
  docs/ai-engine/setup/deployment.md
  src/core/ai-provider.interface.ts
Labels: documentation, source

fix: Fix the invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(models): refresh pinned AI model versions across providers (PRD #480) (#490)
  .nsprc
  changelog.d/480-refresh-ai-model-pins.feature.md
  docs/ai-engine/setup/deployment.md
  package-lock.json
  prds/done/480-refresh-pinned-ai-models.md
  src/core/ai-provider.interface.ts
  src/core/model-config.ts
  src/core/tracing/ai-tracing.ts
  tests/integration/tools/rbac.test.ts
Labels: documentation, source, tests, dependencies, config

docs: update changelog for v1.17.0 [skip ci]
  changelog.d/480-refresh-ai-model-pins.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.17.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

test: add MockLanguageModelV3 unit tests for VercelProvider (#464)
  changelog.d/464-mock-language-model-unit-tests.feature.md
  tests/unit/core/providers/_helpers/mock-language-model.ts
  tests/unit/core/providers/vercel-provider.test.ts
Labels: tests

feat(prompts): add /prd-full for autonomous PRD execution through PR creation
  changelog.d/prd-full-prompt.feature.md
  shared-prompts/prd-full.md
Labels: none

docs: update changelog for v1.18.0 [skip ci]
  changelog.d/prd-full-prompt.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.18.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

chore(changelog): reclassify #464 fragment as misc
  changelog.d/464-mock-language-model-unit-tests.misc.md
Labels: none

test: add MockLanguageModelV3 unit tests for VercelProvider (#464) (#493)
  changelog.d/464-mock-language-model-unit-tests.misc.md
  tests/unit/core/providers/_helpers/mock-language-model.ts
  tests/unit/core/providers/vercel-provider.test.ts
Labels: tests

refactor(embeddings): use embedMany for batch embeddings (#453)
  changelog.d/453-use-embedmany-batch-embeddings.misc.md
  src/core/embedding-service.ts
  tests/unit/core/_helpers/mock-embedding-model.ts
  tests/unit/core/embedding-service.test.ts
Labels: source, tests

fix(deps): override fast-uri to >=3.1.2 to close security advisories
  changelog.d/fast-uri-security-advisory.bugfix.md
  package-lock.json
  package.json
Labels: dependencies, config

refactor(embeddings): use embedMany for batch embeddings (#453) (#494)
  changelog.d/453-use-embedmany-batch-embeddings.misc.md
  src/core/embedding-service.ts
  tests/unit/core/_helpers/mock-embedding-model.ts
  tests/unit/core/embedding-service.test.ts
Labels: source, tests

fix(deps): override fast-uri to >=3.1.2 to close security advisories (#495)
  changelog.d/fast-uri-security-advisory.bugfix.md
  package-lock.json
  package.json
Labels: dependencies, config

chore: rename fast-uri changelog fragment to numbered convention
  changelog.d/495-fast-uri-security-advisory.bugfix.md
Labels: none

docs: update changelog for v1.18.1 [skip ci]
  changelog.d/453-use-embedmany-batch-embeddings.misc.md
  changelog.d/464-mock-language-model-unit-tests.misc.md
  changelog.d/495-fast-uri-security-advisory.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.18.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

feat(retries): configurable maxRetries per AI operation (#459)
  changelog.d/459-configure-retry-behavior.feature.md
  docs/ai-engine/setup/deployment.md
  src/core/ai-retry-config.ts
  src/core/embedding-service.ts
  src/core/providers/vercel-provider.ts
  tests/unit/core/ai-retry-config.test.ts
  tests/unit/core/embedding-service.retries.test.ts
  tests/unit/core/providers/vercel-provider.retries.test.ts
Labels: documentation, source, tests

fix(deps): upgrade OTel SDK and mermaid to close security advisories
  changelog.d/otel-prometheus-security-advisory.bugfix.md
  package-lock.json
  package.json
Labels: dependencies, config

feat(chart): expose AI retry tuning as typed Helm values
  changelog.d/459-configure-retry-behavior.feature.md
  charts/templates/deployment.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
Labels: documentation, infrastructure

fix(deps): upgrade OTel SDK and mermaid to close security advisories (#498)
  changelog.d/otel-prometheus-security-advisory.bugfix.md
  package-lock.json
  package.json
Labels: dependencies, config

docs: add helm template verification snippet for ai.retries
  docs/ai-engine/setup/deployment.md
Labels: documentation

chore(renovate): widen Dockerfile exclusion to cover all paths
  renovate.json
Labels: config

chore(renovate): widen Dockerfile exclusion to cover all paths (#563)
  renovate.json
Labels: config

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(retries): configurable maxRetries per AI operation (#459) (#497)
  changelog.d/459-configure-retry-behavior.feature.md
  charts/templates/deployment.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
  src/core/ai-retry-config.ts
  src/core/embedding-service.ts
  src/core/providers/vercel-provider.ts
  tests/unit/core/ai-retry-config.test.ts
  tests/unit/core/embedding-service.retries.test.ts
  tests/unit/core/providers/vercel-provider.retries.test.ts
Labels: documentation, source, tests, infrastructure

chore(deps): bump node 22→24, vitest 3→4, pin protobufjs to close advisories
  .github/workflows/build-qdrant-test-image.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-fork-pr.yml
  Dockerfile
  mock-server/Dockerfile
  mock-server/package.json
  package-lock.json
  package.json
  packages/agentic-tools/Dockerfile
Labels: ci-cd, dependencies, config

fix: Fix the container image tag in the deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update the invalid image tag in the deployment manifest to use a valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(prompts): add prd-full to expectedBuiltInPrompts
  tests/integration/tools/prompts.test.ts
Labels: tests

fix: Fix the container image tag from 'nginx:v999-nonexistent' to 'nginx:latest' in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(prompts): pass required args for prd-full in Get test
  tests/integration/tools/prompts.test.ts
Labels: tests

fix: Update deployment.yaml in Git repository to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(prompts): wrap testArgs under 'arguments' key per PromptGetRequestSchema
  tests/integration/tools/prompts.test.ts
Labels: tests

test(prompts): exclude testArgs from list matcher; use toMatchObject for length
  tests/integration/tools/prompts.test.ts
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(changelog): add fragment for node 24 + vitest 4 + protobufjs advisories
  changelog.d/565-node24-vitest4-protobufjs.bugfix.md
Labels: none
