Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

feat(prd-388): implement code block validation via execution (Milestone 3)
  prds/388-agentic-docs-validation-remediation.md
  prompts/validate-docs-system.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/validate-docs.test.ts
Labels: tests

test(prd-388): add Node.js runtime installation test case to broken-code fixture
  tests/integration/fixtures/broken-code-doc.md
  tests/integration/tools/validate-docs.test.ts
Labels: tests

test(prd-388): make broken-code fixture a coherent development guide
  tests/integration/fixtures/broken-code-doc.md
Labels: tests

docs(prd-388): close PRD #388 - real-world docs not validatable by this approach [skip ci]
  docs/ROADMAP.md
  prds/done/388-agentic-docs-validation-remediation.md
Labels: documentation

docs(prd-290): close PRD #290 - superseded by #306 and #387 [skip ci]
  docs/ROADMAP.md
  prds/done/290-skills-distribution.md
Labels: documentation

docs(prd-380): rewrite PRD for auth-agnostic identity & K8s RBAC
  prds/380-gateway-auth-rbac.md
Labels: none

docs: enforce worktree usage over branch creation in CLAUDE.md
  CLAUDE.md
Labels: documentation

revert: remove PRD #388 docs validation (abandoned approach) [skip ci]
  .github/workflows/build-docs-validator-image.yml
  charts/templates/docs-validation-namespace.yaml
  docs/ROADMAP.md
  images/docs-validator/Dockerfile
  packages/agentic-tools/src/tools/docs-validate-pod.ts
  packages/agentic-tools/src/tools/index.ts
  prds/388-agentic-docs-validation-remediation.md
  prds/done/388-agentic-docs-validation-remediation.md
  prompts/validate-docs-system.md
  src/interfaces/mcp.ts
  src/mcp/server.ts
  src/tools/index.ts
  src/tools/validate-docs.ts
  tests/integration/fixtures/broken-code-doc.md
  tests/integration/fixtures/broken-doc.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/validate-docs.test.ts
Labels: documentation, source, tests, ci-cd, infrastructure

docs(prd-380): merge M2+M3, OAuth in server, 5 incremental tasks
  prds/380-gateway-auth-rbac.md
Labels: none

docs(prd-380): rewrite PRD for server-side OAuth, Dex, and token removal
  prds/380-gateway-auth-rbac.md
Labels: none

feat(prd-380): implement OAuth foundation - types, JWT, dual-mode middleware (Task 2.1)
  package-lock.json
  prds/380-gateway-auth-rbac.md
  src/interfaces/mcp.ts
  src/interfaces/oauth/index.ts
  src/interfaces/oauth/jwt.ts
  src/interfaces/oauth/middleware.ts
  src/interfaces/oauth/types.ts
  tests/integration/setup.ts
  tests/integration/tools/auth.test.ts
  vitest.integration.config.ts
Labels: source, tests, dependencies, config

feat(prd-380): implement OAuth discovery + client registration (Task 2.2)
  prds/380-gateway-auth-rbac.md
  src/interfaces/error-response.ts
  src/interfaces/mcp.ts
  src/interfaces/oauth/handlers.ts
  src/interfaces/oauth/index.ts
  src/interfaces/oauth/store.ts
  src/interfaces/oauth/types.ts
  tests/integration/tools/auth.test.ts
Labels: source, tests

deps: upgrade eslint to v10, MCP SDK to 1.27.1, remove all audit exceptions
  .nsprc
  package-lock.json
  package.json
  src/core/artifacthub.ts
  src/core/base-vector-service.ts
  src/core/capabilities.ts
  src/core/capability-operations.ts
  src/core/crd-availability.ts
  src/core/deploy-operation.ts
  src/core/discovery.ts
  src/core/embedding-service.ts
  src/core/packaging.ts
  src/core/platform-utils.ts
  src/core/plugin-manager.ts
  src/core/policy-operations.ts
  src/core/providers/host-provider.ts
  src/core/providers/vercel-provider.ts
  src/core/schema.ts
  src/core/session-utils.ts
  src/core/user-prompts-loader.ts
  src/evaluation/datasets/loader.ts
  src/tools/answer-question.ts
  src/tools/generate-manifests.ts
  src/tools/operate-analysis.ts
  src/tools/operate.ts
  src/tools/prompts.ts
  src/tools/remediate.ts
Labels: source, dependencies, config

feat(prd-386): add POST /api/v1/prompts/refresh endpoint with integration tests
  .github/workflows/ci.yml
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/prompts.test.ts
Labels: source, tests, ci-cd

fix: deduplicate methods in findAllowedMethods to avoid "POST, POST" message
  src/interfaces/rest-route-registry.ts
Labels: source

docs(prd-386): update milestones — endpoint, schemas, handler, tests complete
  prds/386-prompts-cache-refresh-endpoint.md
Labels: none

docs(prd-386): add changelog fragment for prompts refresh endpoint
  changelog.d/386.feature.md
  prds/386-prompts-cache-refresh-endpoint.md
Labels: none

docs(prd-386): update prompts docs with cache refresh, archive PRD
  docs/ROADMAP.md
  docs/ai-engine/tools/prompts.md
  prds/done/386-prompts-cache-refresh-endpoint.md
Labels: documentation

fix: address CodeRabbit review feedback
  changelog.d/386.feature.md
  tests/integration/tools/prompts.test.ts
Labels: tests

feat(prd-380): replace custom OAuth with MCP SDK mcpAuthRouter (Task 2.1+2.2 redo)
  package-lock.json
  package.json
  src/interfaces/mcp.ts
  src/interfaces/oauth/handlers.ts
  src/interfaces/oauth/index.ts
  src/interfaces/oauth/provider.ts
  src/interfaces/oauth/store.ts
  src/interfaces/oauth/types.ts
  tests/integration/tools/auth.test.ts
Labels: source, tests, dependencies, config

fix: capture fetch response in deleteFileFromRepo to prevent ReferenceError
  tests/integration/tools/prompts.test.ts
Labels: tests

docs(prd-380): mark Task 2.1+2.2 SDK Migration complete
  prds/380-gateway-auth-rbac.md
Labels: none

feat(prompts): add POST /api/v1/prompts/refresh endpoint (#390)
  .github/workflows/ci.yml
  changelog.d/386.feature.md
  docs/ROADMAP.md
  docs/ai-engine/tools/prompts.md
  prds/done/386-prompts-cache-refresh-endpoint.md
  src/interfaces/rest-api.ts
  src/interfaces/rest-route-registry.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/prompts.test.ts
Labels: documentation, source, tests, ci-cd

docs: update changelog for v1.4.0 [skip ci]
  changelog.d/386.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.4.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-387): scope to REST API + CLI, add file size limit and permissions guidance
  prds/387-folder-based-skills.md
Labels: none

Skill
  .claude/skills/dot-ai-worktree-prd/SKILL.md
Labels: none

feat(chart): add preStop lifecycle hooks for zero-downtime rolling updates
  charts/templates/deployment.yaml
  charts/templates/plugin-deployment.yaml
Labels: infrastructure

feat(prd-380): implement Dex OIDC integration + Helm subchart (Task 2.3)
  charts/Chart.lock
  charts/Chart.yaml
  charts/templates/NOTES.txt
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/templates/dex-config.yaml
  charts/templates/dex-httproute.yaml
  charts/templates/dex-ingress.yaml
  charts/values.yaml
  prds/380-gateway-auth-rbac.md
  src/core/schema.ts
  src/interfaces/mcp.ts
  src/interfaces/oauth/dex-client.ts
  src/interfaces/oauth/provider.ts
  src/interfaces/oauth/types.ts
  src/tools/remediate.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/auth.test.ts
Labels: source, tests, infrastructure

feat(prompts): add folder-based skill loading from user prompts repo [run ci]
  src/core/user-prompts-loader.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  src/tools/prompts.ts
  tests/integration/tools/prompts.test.ts
Labels: source, tests

fix(ci): pass DOT_AI_GIT_TOKEN to integration tests [run ci]
  .github/workflows/ci.yml
Labels: ci-cd

fix(prd-380): add trust proxy, externalUrl override, MCP test config
  .mcp-test.json
  charts/templates/_helpers.tpl
  src/interfaces/mcp.ts
  tests/integration/infrastructure/run-integration-tests.sh
Labels: source, tests, infrastructure, config

fix(tests): exclude test-only expectedFiles from list assertion [run ci]
  tests/integration/tools/prompts.test.ts
Labels: tests

docs(prd-387): update progress — loader and REST API milestones complete
  CLAUDE.md
  prds/387-folder-based-skills.md
Labels: documentation

feat(mcp): filter file-dependent skills from prompts/list [run ci]
  src/interfaces/mcp.ts
  src/tools/prompts.ts
  tests/integration/tools/prompts.test.ts
Labels: source, tests

fix(tests): use REST API for MCP filtering test instead of direct function call [run ci]
  tests/integration/tools/prompts.test.ts
Labels: tests

docs(prd-387): update progress — MCP filtering and integration tests complete
  package-lock.json
  prds/387-folder-based-skills.md
Labels: dependencies, config

feat(prd-380): multi-session MCP + permanent dual-mode auth
  .mcp-test.json
  charts/templates/deployment.yaml
  package-lock.json
  prds/380-gateway-auth-rbac.md
  src/interfaces/mcp.ts
Labels: source, infrastructure, dependencies, config

docs(prd-387): mark PRD complete — CLI PRD created in dot-ai-cli #4
  prds/387-folder-based-skills.md
Labels: none

docs(prd-387): archive PRD and add changelog fragment
  changelog.d/387.feature.md
  docs/ROADMAP.md
  prds/done/387-folder-based-skills.md
Labels: documentation
