Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix(remediate): address CodeRabbit review comments for PRD #408
  src/tools/remediate.ts
Labels: source

fix(remediate): address CodeRabbit review comments for PRD #408
  prompts/remediate-system.md
Labels: none

fix(remediate): populate pullRequest field and RemediateOutput
  src/tools/remediate.ts
Labels: source

fix(remediate): address all CodeRabbit review comments for PRD #408
  src/tools/remediate.ts
Labels: source

fix(remediate): address all CodeRabbit review comments for PRD #408
  src/tools/remediate.ts
Labels: source

fix(remediate): address CodeRabbit review comments - fix broken syntax and schema
  prompts/remediate-system.md
  src/tools/remediate.ts
Labels: source

docs(prd-408): update progress - Milestone 1 and 2 complete, PR #413 awaiting review
  prds/408-gitops-operations.md
Labels: none

docs(prd-408): clarify re-clone handling - returns error, deferred for future
  prds/408-gitops-operations.md
Labels: none

refactor(git_create_pr): address vfarcic review feedback
  prompts/remediate-system.md
  src/core/internal-tools.ts
  src/tools/remediate.ts
Labels: source

docs(prd-408): update work log with vfarcic review feedback
  prds/408-gitops-operations.md
Labels: none

feat(mcp-client): support authentication for outbound MCP server connections (#414)
  changelog.d/414-mcp-client-auth.feature.md
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/values.yaml
  src/core/mcp-client-manager.ts
  src/core/mcp-client-types.ts
  tests/unit/core/mcp-client-auth.test.ts
  tests/unit/helm/mcp-auth.test.ts
Labels: source, tests, infrastructure

feat(mcp-auth): add OAuth client_credentials auth provider (M4)
  changelog.d/414-mcp-client-auth.feature.md
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/values.yaml
  package-lock.json
  src/core/mcp-client-manager.ts
  src/core/mcp-client-types.ts
  tests/unit/core/mcp-client-auth.test.ts
  tests/unit/helm/mcp-auth.test.ts
Labels: source, tests, infrastructure, dependencies, config

fix(gitops-operations): address CodeRabbit review comments
  prds/408-gitops-operations.md
  src/core/internal-tools.ts
  src/tools/remediate.ts
Labels: source

fix(coderabbit): address remaining review comments
  prds/408-gitops-operations.md
  src/tools/remediate.ts
Labels: source

docs: add PRD for MCP client outbound authentication (#414)
  changelog.d/414-mcp-client-auth.doc.md
  prds/414-mcp-client-auth.md
Labels: none

docs: add TOC and milestone summary table to PRD (#414)
  prds/414-mcp-client-auth.md
Labels: none

docs: enhance prd-create template with structured sections (#414)
  shared-prompts/prd-create.md
Labels: none

Revert "docs: enhance prd-create template with structured sections (#414)"
  shared-prompts/prd-create.md
Labels: none

docs: update PRD references to MCP spec 2025-11-25 (#414)
  prds/414-mcp-client-auth.md
Labels: none

docs: add fail-fast and observability design principles (#414)
  prds/414-mcp-client-auth.md
Labels: none

Update 414-mcp-client-auth.md
  prds/414-mcp-client-auth.md
Labels: none

feat(remediate): GitOps Operations - PR creation for remediation (PRD #408) (#413)
  prds/408-gitops-operations.md
  prompts/remediate-system.md
  src/core/internal-tools.ts
  src/tools/remediate.ts
  tests/unit/core/internal-tools.test.ts
Labels: source, tests

test(remediate): add integration test for GitOps PR creation (PRD #408)
  tests/integration/tools/remediate.test.ts
Labels: tests

fix: Fix invalid image tag in deployment.yaml from 'nginx:v999-nonexistent' to 'nginx:latest'
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(test): fix response parsing and guarantee PR cleanup in GitOps test
  tests/integration/tools/remediate.test.ts
Labels: tests

fix(deps): resolve npm audit vulnerabilities
  package-lock.json
  package.json
Labels: dependencies, config

fix: Fix the container image tag in deployment.yaml from 'nginx:v999-nonexistent' to 'nginx:latest'
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix container image in deployment manifest to use valid nginx image
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the image tag in the deployment manifest to use a valid nginx version
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(test): allow alpine/slim variant tags in kustomize base image
  tests/integration/tools/recommend.test.ts
Labels: tests

test(remediate): assert no kubectl commands ran alongside GitOps PR
  tests/integration/tools/remediate.test.ts
Labels: tests

fix: Fix image tag in deployment manifest from non-existent 'nginx:v999-nonexistent' to valid 'nginx:latest'
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid image tag in deployment manifest and commit to Git
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(remediate): integration tests for GitOps PR creation (PRD #408) (#421)
  package-lock.json
  package.json
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
Labels: tests, dependencies, config

docs(changelog): add changelog fragment for GitOps PR creation (PRD #408)
  changelog.d/408.feature.md
Labels: none

docs(remediate): update GitOps section with PR creation (PRD #408)
  docs/ai-engine/tools/remediate.md
Labels: documentation

docs: update changelog for v1.13.0 [skip ci]
  changelog.d/408.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.13.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-425): create PRD #425 - Session List API and SSE Streaming [skip ci]
  docs/ROADMAP.md
  prds/425-session-list-sse-streaming.md
Labels: documentation

docs(prd-414): address CodeRabbit review findings
  prds/414-mcp-client-auth.md
Labels: none

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
