Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

docs(prd-263): create PRD #263 - Intelligent CI/CD Workflow Generation [skip ci]
  docs/ROADMAP.md
  prds/263-intelligent-cicd-workflow-generation.md
  prds/done/226-github-actions-cicd-pipeline.md
Labels: documentation

feat(prd-248): add outputFormat and outputPath questions for packaging
  prds/248-helm-kustomize-packaging.md
  src/core/schema.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

feat(prd-248): implement files array response structure for generateManifests
  prds/248-helm-kustomize-packaging.md
  prompts/intent-analysis.md
  prompts/question-generation.md
  src/tools/generate-manifests.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

feat(prd-248): implement Helm chart generation (Phase 2)
  prds/248-helm-kustomize-packaging.md
  prompts/packaging-generation.md
  src/core/packaging.ts
  src/tools/generate-manifests.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

feat(prd-248): add helm lint validation and fix JSON parsing bug
  prds/248-helm-kustomize-packaging.md
  src/core/packaging.ts
  src/tools/generate-manifests.ts
Labels: source

feat(prd-248): implement Kustomize generation (Phase 3)
  docs/ROADMAP.md
  prds/248-helm-kustomize-packaging.md
  prds/264-gitops-tool-argocd.md
  prds/265-gitops-tool-flux.md
  prds/266-gitops-recommend-integration.md
  prds/done/254-argocd-third-party-helm.md
  prds/done/255-argocd-packaged-recommendations.md
  prds/done/256-flux-integration.md
  src/core/packaging.ts
  src/tools/generate-manifests.ts
  tests/integration/CLAUDE.md
  tests/integration/infrastructure/teardown-cluster.sh
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests

feat(prd-248): complete Phase 4 - integration testing & documentation
  docs/CLAUDE.md
  docs/guides/mcp-recommendation-guide.md
  prds/248-helm-kustomize-packaging.md
  src/core/packaging.ts
  tests/integration/CLAUDE.md
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests

chore(prd-248): move completed PRD to done directory
  docs/ROADMAP.md
  prds/done/248-helm-kustomize-packaging.md
Labels: documentation

fix: address CodeRabbit review feedback
  src/core/packaging.ts
  src/tools/generate-manifests.ts
  tests/integration/infrastructure/teardown-cluster.sh
  tests/integration/tools/operate.test.ts
Labels: source, tests

fix(test): use unique resource types in CRUD test to avoid race conditions
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests

feat(recommend): add Helm/Kustomize packaging for manifests (#267)
  docs/CLAUDE.md
  docs/ROADMAP.md
  docs/guides/mcp-recommendation-guide.md
  prds/248-helm-kustomize-packaging.md
  prds/264-gitops-tool-argocd.md
  prds/265-gitops-tool-flux.md
  prds/266-gitops-recommend-integration.md
  prds/done/248-helm-kustomize-packaging.md
  prds/done/254-argocd-third-party-helm.md
  prds/done/255-argocd-packaged-recommendations.md
  prds/done/256-flux-integration.md
  prompts/intent-analysis.md
  prompts/packaging-generation.md
  prompts/question-generation.md
  src/core/packaging.ts
  src/core/schema.ts
  src/tools/generate-manifests.ts
  tests/integration/CLAUDE.md
  tests/integration/infrastructure/teardown-cluster.sh
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests

chore: coordinated release v0.157.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-22): refactor PRD #22 - Intent Refinement via Client Agent Intelligence [skip ci]
  .env.vals.yaml
  docs/ROADMAP.md
  prds/22-code-analysis-engine.md
  prds/22-intent-refinement.md
Labels: documentation, config

feat(recommend): replace AI intent analysis with heuristic-based refinement
  docs/guides/mcp-recommendation-guide.md
  prompts/intent-analysis.md
  prompts/intent-refinement-guidance.md
  src/core/ai-provider.interface.ts
  src/core/index.ts
  src/tools/recommend.ts
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests

docs: archive PRD #22 as complete
  docs/ROADMAP.md
  prds/done/22-intent-refinement.md
Labels: documentation

docs(prd-done): require presenting all review comments to user
  shared-prompts/prd-done.md
Labels: none

feat(recommend): replace AI intent analysis with heuristic-based refinement (#268)
  docs/ROADMAP.md
  docs/guides/mcp-recommendation-guide.md
  prds/done/22-intent-refinement.md
  prompts/intent-analysis.md
  prompts/intent-refinement-guidance.md
  shared-prompts/prd-done.md
  src/core/ai-provider.interface.ts
  src/core/index.ts
  src/tools/recommend.ts
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests

chore: coordinated release v0.158.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat: improve user interaction and add documentation infographics
  .claude/commands/generate-infographic.md
  README.md
  docs/guides/mcp-capability-management-guide.md
  docs/guides/mcp-operate-guide.md
  docs/guides/mcp-project-setup-guide.md
  docs/guides/mcp-prompts-guide.md
  docs/guides/mcp-recommendation-guide.md
  docs/guides/mcp-remediate-guide.md
  docs/guides/pattern-management-guide.md
  docs/guides/policy-management-guide.md
  docs/img/capabilities.jpeg
  docs/img/github.jpeg
  docs/img/index.jpeg
  docs/img/patterns.jpeg
  docs/img/policies.jpeg
  docs/img/prompts.jpeg
  docs/img/recommendation.jpeg
  docs/img/remediation.jpeg
  prompts/intent-refinement-guidance.md
  src/core/capability-scan-workflow.ts
  src/core/schema.ts
  src/tools/answer-question.ts
  src/tools/choose-solution.ts
Labels: documentation, source

test: update tests for background scan and new guidance messages
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/recommend.test.ts
Labels: tests

test: fix feedback bounds and output format default
  tests/integration/tools/feedback.test.ts
  tests/integration/tools/recommend.test.ts
Labels: tests

fix: address CodeRabbit nitpicks and kustomize test failures
  .claude/commands/generate-infographic.md
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/recommend.test.ts
Labels: tests

fix(packaging): ensure AI includes all resources including CRDs in kustomize/helm output
  src/core/packaging.ts
Labels: source

fix(tests): set main workflow to raw format and fix kustomize structure
  src/core/packaging.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

fix(remediate): increase validation delay and CI timeout
  .github/workflows/ci.yml
  src/tools/remediate.ts
Labels: source, ci-cd

fix(tests): fix capability scan polling to check progress.status
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests

feat: improve user interaction and add documentation infographics (#269)
  .claude/commands/generate-infographic.md
  .github/workflows/ci.yml
  README.md
  docs/guides/mcp-capability-management-guide.md
  docs/guides/mcp-operate-guide.md
  docs/guides/mcp-project-setup-guide.md
  docs/guides/mcp-prompts-guide.md
  docs/guides/mcp-recommendation-guide.md
  docs/guides/mcp-remediate-guide.md
  docs/guides/pattern-management-guide.md
  docs/guides/policy-management-guide.md
  docs/img/capabilities.jpeg
  docs/img/github.jpeg
  docs/img/index.jpeg
  docs/img/patterns.jpeg
  docs/img/policies.jpeg
  docs/img/prompts.jpeg
  docs/img/recommendation.jpeg
  docs/img/remediation.jpeg
  prompts/intent-refinement-guidance.md
  src/core/capability-scan-workflow.ts
  src/core/packaging.ts
  src/core/schema.ts
  src/tools/answer-question.ts
  src/tools/choose-solution.ts
  src/tools/remediate.ts
  tests/integration/tools/feedback.test.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests, ci-cd

chore: coordinated release v0.159.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(ci): add manual workflow for testing fork PRs
  .github/workflows/ci.yml
  .github/workflows/test-fork-pr.yml
Labels: ci-cd

fix(ci): fix gh commands in test-fork-pr workflow
  .github/workflows/test-fork-pr.yml
Labels: ci-cd

docs(prd): update PRD #263 with interactive Q&A model and DevBox option [skip ci]
  prds/263-intelligent-cicd-workflow-generation.md
Labels: none

docs(prd-173): close PRD #173 - CNCF submission deferred [skip ci]
  docs/ROADMAP.md
  prds/done/173-cncf-foundation-submission.md
Labels: documentation

fix(provider): improve type checking for SamplingResult content
  README.md
  docs/setup/mcp-setup.md
  package.json
  prompts/host-tools.md
  src/core/ai-provider-factory.ts
  src/core/model-config.ts
  src/core/providers/host-provider.ts
  src/core/providers/tool-utils.ts
  src/interfaces/mcp.ts
  tests/unit/core/providers/host-provider.test.ts
  vitest.unit.config.ts
Labels: documentation, source, tests, dependencies, config

docs(prd-263): complete Milestone 0 - best practices review
  prds/263-intelligent-cicd-workflow-generation.md
Labels: none

feat(tool-utils): implement extractToolCalls function for improved tool call extraction
  src/core/providers/host-provider.ts
  src/core/providers/tool-utils.ts
  tests/unit/core/providers/tool-utils.test.ts
Labels: source, tests

fix(host-provider): increase default maxIterations from 10 to 20 refactor(tests): format code and improve readability in tool-utils tests
  src/core/providers/host-provider.ts
  tests/unit/core/providers/host-provider.test.ts
  tests/unit/core/providers/tool-utils.test.ts
Labels: source, tests

test(tool-utils): add additional test cases for extractToolCalls function
  tests/unit/core/providers/tool-utils.test.ts
Labels: tests

fix(host-provider): improve error handling message for tool execution failures
  src/core/providers/host-provider.ts
Labels: source

Support MCP Sampling to use Host LLM (#280)
  README.md
  docs/setup/mcp-setup.md
  package.json
  prompts/host-tools.md
  src/core/ai-provider-factory.ts
  src/core/model-config.ts
  src/core/providers/host-provider.ts
  src/core/providers/tool-utils.ts
  src/interfaces/mcp.ts
  tests/unit/core/providers/host-provider.test.ts
  tests/unit/core/providers/tool-utils.test.ts
  vitest.unit.config.ts
Labels: documentation, source, tests, dependencies, config

chore: coordinated release v0.160.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config
