Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

feat(prd-425): session event bus infrastructure (Milestone 1)
  package-lock.json
  prds/425-session-list-sse-streaming.md
  src/core/session-events.ts
  src/tools/remediate.ts
  tests/unit/core/session-events.test.ts
Labels: source, tests, dependencies, config

fix: Fix invalid image tag in deployment manifest in Git repository
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-425): list sessions endpoint with filtering and pagination (Milestone 2)
  mock-server/fixtures/sessions/list-success.json
  mock-server/routes.ts
  prds/425-session-list-sse-streaming.md
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/sessions.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

fix: Update deployment.yaml with valid nginx image tag
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest'
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use a valid nginx image tag
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment manifest to use valid nginx image tag
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid image tag in deployment manifest in the Git repository
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest'
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-425): SSE streaming endpoint for remediation events (Milestones 3-4)
  prds/425-session-list-sse-streaming.md
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/sessions.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

fix: Fix invalid image tag in deployment manifest
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the invalid image tag in the deployment manifest
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the invalid image tag in the deployment manifest
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the invalid image tag in the deployment manifest
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the invalid image tag in deployment.yaml manifest
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest'
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-425): mark PRD complete, add changelog fragment
  changelog.d/425.feature.md
  docs/ROADMAP.md
  prds/done/425-session-list-sse-streaming.md
Labels: documentation

fix: prevent CI on test-generated PRs, fix SSE cleanup in tests
  src/core/git-utils.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

fix(deps): update path-to-regexp 8.3.0 to 8.4.0 for security fixes
  package-lock.json
Labels: dependencies, config

fix: Fix the broken image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-425): session list API and SSE streaming for remediation events (#441)
  changelog.d/425.feature.md
  docs/ROADMAP.md
  mock-server/fixtures/sessions/list-success.json
  mock-server/routes.ts
  package-lock.json
  prds/done/425-session-list-sse-streaming.md
  src/core/git-utils.ts
  src/core/session-events.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/sessions.ts
  src/tools/remediate.ts
  tests/integration/tools/remediate.test.ts
  tests/unit/core/session-events.test.ts
Labels: documentation, source, tests, dependencies, config

docs(prd-443): create PRD #443 - Custom Headers and Base URL Support [skip ci]
  docs/ROADMAP.md
  prds/443-custom-headers-base-url.md
Labels: documentation

feat(prd-443): implement custom headers and base URL support for all AI providers
  charts/templates/deployment.yaml
  charts/values.yaml
  prds/443-custom-headers-base-url.md
  src/core/ai-provider-factory.ts
  src/core/ai-provider.interface.ts
  src/core/providers/vercel-provider.ts
  tests/unit/core/providers/custom-headers-base-url.test.ts
Labels: source, tests, infrastructure

fix: Fix invalid image tag in deployment.yaml in the Git repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-443): add custom headers and native base URL documentation
  docs/ai-engine/setup/deployment.md
  prds/443-custom-headers-base-url.md
Labels: documentation

docs(prd-443): mark all milestones complete
  prds/443-custom-headers-base-url.md
Labels: none

chore(prd-443): archive PRD, update roadmap, add changelog fragment
  changelog.d/443.feature.md
  docs/ROADMAP.md
  prds/done/443-custom-headers-base-url.md
Labels: documentation

fix: Fix the container image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-443): address CodeRabbit review feedback
  src/core/providers/vercel-provider.ts
  tests/unit/core/providers/custom-headers-base-url.test.ts
Labels: source, tests

feat(ai-provider): add custom headers and base URL support for all providers (#445)
  changelog.d/443.feature.md
  charts/templates/deployment.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/ai-engine/setup/deployment.md
  prds/done/443-custom-headers-base-url.md
  src/core/ai-provider-factory.ts
  src/core/ai-provider.interface.ts
  src/core/providers/vercel-provider.ts
  tests/unit/core/providers/custom-headers-base-url.test.ts
Labels: documentation, source, tests, infrastructure

docs: update changelog for v1.14.0 [skip ci]
  changelog.d/425.feature.md
  changelog.d/443.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.14.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

feat(mcp-client): support authentication for outbound MCP server connections (#414)
  changelog.d/414-mcp-client-auth.feature.md
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/values.yaml
  src/core/mcp-client-manager.ts
  src/core/mcp-client-types.ts
  tests/unit/core/mcp-client-auth.test.ts
  tests/unit/helm/mcp-auth.test.ts
Labels: source, tests, infrastructure

fix(mcp-auth): address CodeRabbit review round 3 (#414)
  tests/integration/tools/mcp-client-auth.test.ts
  tests/unit/core/mcp-client-auth.test.ts
Labels: tests

fix(mcp-auth): make MCP server discovery failure non-fatal (#414)
  src/mcp/server.ts
Labels: source

test(mcp-auth): add OAuth token lifecycle integration tests (#1527 Task 4)
  tests/integration/tools/mcp-client-auth.test.ts
Labels: tests

fix(mcp-auth): address CodeRabbit review round 2 (#414)
  src/core/mcp-client-manager.ts
  tests/integration/tools/mcp-client-auth.test.ts
Labels: source, tests

fix(mcp-auth): remove deprecated resource field, improve test hygiene (#1529, #1632)
  charts/templates/_helpers.tpl
  src/core/mcp-client-manager.ts
  src/core/mcp-client-types.ts
  tests/integration/tools/mcp-client-auth.test.ts
  tests/unit/core/mcp-client-auth.test.ts
Labels: source, tests, infrastructure

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
