Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix(prd-380): address CodeRabbit review round 2
  charts/templates/_helpers.tpl
  src/interfaces/mcp.ts
  src/interfaces/oauth/dex-client.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/auth.test.ts
Labels: source, tests, infrastructure

docs: update changelog for v1.6.0 [skip ci]
  changelog.d/380.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.6.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-395): create PRD #395 - Git Push Recommend Integration [skip ci]
  docs/ROADMAP.md
  prds/395-git-push-recommend-integration.md
Labels: documentation

fix(chart): disable Dex by default to prevent HTTPS crash (#396)
  changelog.d/396.fix.md
  charts/values.yaml
  docs/ai-engine/setup/authentication.md
  docs/ai-engine/setup/deployment.md
  tests/unit/helm/dex.test.ts
Labels: documentation, tests, infrastructure

docs: update changelog for v1.6.1 [skip ci]
  docs/CHANGELOG.md
Labels: documentation

docs: update changelog for v1.6.1 [skip ci]
  changelog.d/396.fix.md
  docs/CHANGELOG.md
  package-lock.json
Labels: documentation, dependencies, config

chore: coordinated release v1.6.1
  charts/Chart.yaml
  charts/values.yaml
  package-lock.json
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: add Gateway API HTTPS/OAuth guidance and cross-references
  docs/ai-engine/setup/authentication.md
  docs/ai-engine/setup/gateway-api.md
Labels: documentation

feat: add git_clone and git_push tools for GitOps workflow (PRD #362) (#393)
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  package-lock.json
  package.json
  packages/agentic-tools/src/tools/helm-list.ts
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  prds/362-git-operations-recommend.md
  src/core/git-utils.ts
  src/core/user-prompts-loader.ts
Labels: source, tests, infrastructure, dependencies, config

docs: add changelog fragment for git utilities (PR #393)
  changelog.d/393.chore.md
Labels: none

fix: update transitive dependencies to resolve npm audit vulnerabilities
  package-lock.json
Labels: dependencies, config

fix: batch status fetches to prevent agentic-tools pod restarts
  changelog.d/+status-fetch-concurrency.bugfix.md
  src/interfaces/rest-api.ts
Labels: source

fix: use DOT_AI_GIT_TOKEN in release workflow to bypass branch protection
  .github/workflows/release.yml
Labels: ci-cd

docs: update changelog for v1.6.2 [skip ci]
  changelog.d/+status-fetch-concurrency.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.6.2
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs: update changelog for v1.6.3 [skip ci]
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.6.3
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

chore: remove orphaned changelog fragment included in v1.6.3 release
  changelog.d/393.chore.md
Labels: none

fix(auth): use secretEnv for Dex client secret to prevent OAuth failure on upgrades
  changelog.d/380.bugfix.md
  charts/templates/dex-config.yaml
  charts/values.yaml
Labels: infrastructure

docs: update changelog for v1.6.4 [skip ci]
  changelog.d/380.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

fix: pre-build agentic-tools on native runner to avoid QEMU arm64 crash
  .github/workflows/release.yml
  changelog.d/+agentic-tools-arm64-build.bugfix.md
  changelog.d/380.bugfix.md
  packages/agentic-tools/Dockerfile
Labels: ci-cd

fix: update dockerignore and test script for pre-built agentic-tools
  packages/agentic-tools/.dockerignore
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

docs: update changelog for v1.6.5 [skip ci]
  changelog.d/+agentic-tools-arm64-build.bugfix.md
  changelog.d/380.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.6.5
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs: add dex-credentials requirement to envFrom examples
  changelog.d/380.doc.md
  charts/values.yaml
  docs/ai-engine/setup/connectors.md
Labels: documentation, infrastructure

docs: update changelog for v1.6.6 [skip ci]
  changelog.d/380.doc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.6.6
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix(auth): preserve dex-credentials secret across Helm upgrades
  changelog.d/+dex-credentials-keep-policy.bugfix.md
  charts/templates/dex-config.yaml
Labels: infrastructure

docs: update changelog for v1.6.7 [skip ci]
  changelog.d/+dex-credentials-keep-policy.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.6.7
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix: allow cloneRepo/pullRepo to work without auth for public repos
  changelog.d/+public-repo-clone.bugfix.md
  src/core/git-utils.ts
Labels: source

feat!: externalize Dex credentials to user-managed Secret
  changelog.d/+dex-external-secret.breaking.md
  charts/templates/NOTES.txt
  charts/templates/deployment.yaml
  charts/templates/dex-config.yaml
  charts/values.yaml
  docs/ai-engine/setup/connectors.md
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, tests, infrastructure

docs: update changelog for v1.7.0 [skip ci]
  changelog.d/+dex-external-secret.breaking.md
  changelog.d/+public-repo-clone.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.7.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

feat: add task/milestone creation instructions to prd-update-decisions prompt
  shared-prompts/prd-update-decisions.md
Labels: none

docs: add CLI and Web UI cross-links to authentication guide
  docs/ai-engine/setup/authentication.md
Labels: documentation

docs: update PRD #369 to target GPT-5.4 model
  prds/369-openai-gpt53-codex-update.md
Labels: none

feat(prd-369): update OpenAI model from gpt-5.1-codex to gpt-5.4
  docs/ROADMAP.md
  docs/ai-engine/setup/deployment.md
  prds/369-openai-gpt53-codex-update.md
  src/core/model-config.ts
Labels: documentation, source

chore(prd-369): archive PRD and add changelog fragment
  changelog.d/369.feature.md
  prds/done/369-openai-gpt53-codex-update.md
Labels: none

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
