Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

fix(ci): update devbox-install-action from v0.11.0 to v0.14.0
  .github/workflows/ci.yml
  .github/workflows/test-fork-pr.yml
Labels: ci-cd

docs(prd-251): add Helm Day-2 mentions to operate, remediate, and overview guides
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/remediate.md
  prds/251-helm-day2-operations.md
Labels: documentation

feat(prd-251): add Helm Day-2 investigation tools
  packages/agentic-tools/src/tools/helm-get-values.ts
  packages/agentic-tools/src/tools/helm-history.ts
  packages/agentic-tools/src/tools/helm-list.ts
  packages/agentic-tools/src/tools/helm-status.ts
  packages/agentic-tools/src/tools/index.ts
  prds/251-helm-day2-operations.md
  tests/integration/tools/version.test.ts
Labels: tests

feat(prd-251): add Helm release detection to operate tool
  packages/agentic-tools/src/tools/helm-install.ts
  packages/agentic-tools/src/tools/helm-rollback.ts
  packages/agentic-tools/src/tools/index.ts
  src/tools/operate-analysis.ts
  tests/integration/tools/operate.test.ts
Labels: source, tests

fix(prd-251): address code review feedback
  .nsprc
  packages/agentic-tools/src/tools/index.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
Labels: tests

feat(prd-251): add Helm awareness to remediate tool
  prds/251-helm-day2-operations.md
  prompts/remediate-system.md
  src/tools/remediate.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

chore(prd-251): archive completed PRD and add changelog fragment
  changelog.d/251.feature.md
  prds/done/251-helm-day2-operations.md
Labels: none

fix(prd-251): update test assertions and PRD progress for Helm Day-2
  prds/251-helm-day2-operations.md
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/version.test.ts
Labels: tests

feat(helm): add Helm Day-2 operations to operate and remediate tools (#381)
  .nsprc
  changelog.d/251.feature.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/remediate.md
  packages/agentic-tools/src/tools/helm-get-values.ts
  packages/agentic-tools/src/tools/helm-history.ts
  packages/agentic-tools/src/tools/helm-install.ts
  packages/agentic-tools/src/tools/helm-list.ts
  packages/agentic-tools/src/tools/helm-rollback.ts
  packages/agentic-tools/src/tools/helm-status.ts
  packages/agentic-tools/src/tools/index.ts
  prds/done/251-helm-day2-operations.md
  prompts/remediate-system.md
  src/tools/operate-analysis.ts
  src/tools/remediate.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests

feat(ai): upgrade Sonnet to 4.6 and Gemini to 3.1 Pro
  changelog.d/gemini-upgrade.misc.md
  changelog.d/sonnet-upgrade.misc.md
  docs/ai-engine/setup/deployment.md
  src/core/model-config.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/operate.test.ts
Labels: documentation, source, tests

docs(prd-382): create PRD #382 - Alibaba Qwen 3.5 Plus AI provider [skip ci]
  docs/ROADMAP.md
  prds/382-alibaba-qwen-provider.md
Labels: documentation

docs: add YouTube video to cluster query guide
  docs/ai-engine/tools/query.md
Labels: documentation

docs(prd-384): create PRD #384 - optional local embedding service [skip ci]
  docs/ROADMAP.md
  prds/384-local-embedding-service.md
Labels: documentation

docs(prd-384): add migration endpoint and phased testing milestones [skip ci]
  prds/384-local-embedding-service.md
Labels: none

feat(prd-384): add optional local embedding service to Helm chart
  charts/templates/deployment.yaml
  charts/templates/local-embeddings.yaml
  charts/values.yaml
  prds/384-local-embedding-service.md
Labels: infrastructure

feat(prd-384): add embedding migration endpoint and GHA test image workflow
  .github/workflows/build-qdrant-test-image.yml
  packages/agentic-tools/src/qdrant/index.ts
  packages/agentic-tools/src/qdrant/operations.ts
  packages/agentic-tools/src/tools/vector.ts
  prds/384-local-embedding-service.md
  src/interfaces/embedding-migration-handler.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/embeddings.ts
  src/interfaces/schemas/index.ts
Labels: source, ci-cd

docs(prd-384): mark Phase 2 and GHA workflow verification complete [skip ci]
  prds/384-local-embedding-service.md
Labels: none

feat(prd-384): switch CI tests to local embeddings, remove OPENAI_API_KEY from CI
  .github/workflows/ci.yml
  .github/workflows/test-fork-pr.yml
  prds/384-local-embedding-service.md
  src/core/embedding-service.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/version.test.ts
Labels: source, tests, ci-cd

docs(prd-384): update docs for local embeddings, add changelog fragment
  changelog.d/384.feature.md
  docs/ai-engine/organizational-data/patterns.md
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/setup/gateway-api.md
  docs/ai-engine/tools/prompts.md
  prds/384-local-embedding-service.md
Labels: documentation

chore(prd-384): archive completed PRD, update roadmap
  docs/ROADMAP.md
  prds/done/384-local-embedding-service.md
Labels: documentation

fix(prd-384): address CodeRabbit review feedback
  docs/ai-engine/quick-start.md
  src/core/embedding-service.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests

fix(embeddings): add block scope for case-level const declaration
  src/core/embedding-service.ts
Labels: source

fix(security): update .nsprc with current npm advisory IDs
  .nsprc
Labels: none

feat(embeddings): add optional local embedding service to Helm chart (#385)
  .github/workflows/ci.yml
  .github/workflows/test-fork-pr.yml
  .nsprc
  changelog.d/384.feature.md
  docs/ROADMAP.md
  docs/ai-engine/organizational-data/patterns.md
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/setup/gateway-api.md
  docs/ai-engine/tools/prompts.md
  prds/done/384-local-embedding-service.md
  src/core/embedding-service.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, ci-cd

docs: update changelog for v1.3.0 [skip ci]
  changelog.d/251.feature.md
  changelog.d/384.feature.md
  changelog.d/gemini-upgrade.misc.md
  changelog.d/sonnet-upgrade.misc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.3.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-386): create PRD #386 - prompts cache refresh endpoint [skip ci]
  docs/ROADMAP.md
  prds/386-prompts-cache-refresh-endpoint.md
Labels: documentation

docs(prd-387): create PRD #387 - folder-based skills from git repositories [skip ci]
  docs/ROADMAP.md
  prds/387-folder-based-skills.md
Labels: documentation

docs(prd-388): create PRD #388 - agentic docs validation and remediation [skip ci]
  docs/ROADMAP.md
  prds/388-agentic-docs-validation-remediation.md
Labels: documentation

docs(prd-388): update container image strategy - minimal default + user-specified [skip ci]
  prds/388-agentic-docs-validation-remediation.md
Labels: none

docs(prd-388): add vcluster support for Kubernetes-dependent docs [skip ci]
  prds/388-agentic-docs-validation-remediation.md
Labels: none

test: add broken-doc fixture for docs validation integration tests [skip ci]
  tests/integration/fixtures/broken-doc.md
Labels: tests

test: add broken-code-doc fixture for code block validation tests [skip ci]
  tests/integration/fixtures/broken-code-doc.md
Labels: tests

feat(prd-388): implement AI validation agent loop with exec and patch_file tools
  prds/388-agentic-docs-validation-remediation.md
  prompts/validate-docs-system.md
  src/tools/validate-docs.ts
  tests/integration/tools/validate-docs.test.ts
Labels: source, tests

docs(prd-388): simplify to single-page validate action with plumbing-first approach [skip ci]
  prds/388-agentic-docs-validation-remediation.md
Labels: none

feat(prd-388): implement docs discovery and custom validator image
  .github/workflows/build-docs-validator-image.yml
  images/docs-validator/Dockerfile
  packages/agentic-tools/src/tools/docs-validate-pod.ts
  packages/agentic-tools/src/tools/index.ts
  prds/388-agentic-docs-validation-remediation.md
  src/interfaces/mcp.ts
  src/tools/validate-docs.ts
  tests/integration/tools/validate-docs.test.ts
Labels: source, tests, ci-cd

feat(prd-388): implement validate action with full workflow orchestration
  prds/388-agentic-docs-validation-remediation.md
  src/tools/validate-docs.ts
  tests/integration/tools/validate-docs.test.ts
Labels: source, tests

feat(prd-388): add python3 to validator image, fix patch_file, add semver tagging
  .github/workflows/build-docs-validator-image.yml
  images/docs-validator/Dockerfile
  prds/388-agentic-docs-validation-remediation.md
  src/tools/validate-docs.ts
Labels: source, ci-cd

feat(prd-388): implement pod lifecycle and session management
  charts/templates/docs-validation-namespace.yaml
  packages/agentic-tools/src/tools/docs-validate-pod.ts
  packages/agentic-tools/src/tools/index.ts
  prds/388-agentic-docs-validation-remediation.md
  src/interfaces/mcp.ts
  src/mcp/server.ts
  src/tools/index.ts
  src/tools/validate-docs.ts
  tests/integration/tools/validate-docs.test.ts
Labels: source, tests, infrastructure

docs(prd-388): redesign to AI-first agentic validation approach [skip ci]
  prds/388-agentic-docs-validation-remediation.md
Labels: none
