Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

chore: coordinated release v0.118.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix: correct relative paths in issue templates [skip ci]
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  src/tools/project-setup/templates/.github/ISSUE_TEMPLATE/bug_report.yml.hbs
  src/tools/project-setup/templates/.github/ISSUE_TEMPLATE/feature_request.yml.hbs
Labels: source

docs(prd-182): create PRD #182 - enhance prd-done with PR template integration [skip ci]
  docs/ROADMAP.md
  prds/182-prd-done-pr-template-integration.md
  shared-prompts/prd-done.md
Labels: documentation

docs(prd-182): mark Milestone 5 as completed
  prds/182-prd-done-pr-template-integration.md
Labels: none

docs(prd-182): document PR template integration in prd-done workflow
  docs/mcp-project-setup-guide.md
  docs/mcp-prompts-guide.md
Labels: documentation

docs(prd-182): enhance user prompting to propose answers for confirmation
  shared-prompts/prd-done.md
Labels: none

docs(prd-182): make workflow truly template-driven without hard-coded requirements
  shared-prompts/prd-done.md
Labels: none

docs(prd-182): fix markdown linting - add language specifiers to code blocks [skip ci]
  shared-prompts/prd-done.md
Labels: none

docs(prd-182): enhance prd-done with PR template integration (#183)
  docs/mcp-project-setup-guide.md
  docs/mcp-prompts-guide.md
  prds/182-prd-done-pr-template-integration.md
  shared-prompts/prd-done.md
Labels: documentation

docs(prd-182): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/182-prd-done-pr-template-integration.md
Labels: documentation

chore: coordinated release v0.119.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-184): create PRD #184 - improve OpenSSF Scorecard score [skip ci]
  docs/ROADMAP.md
  prds/182-prd-done-pr-template-integration.md
  prds/184-openssf-scorecard-improvements.md
Labels: documentation

feat(prd-done): add intelligent PR label detection for release notes
  shared-prompts/prd-done.md
Labels: none

chore: coordinated release v0.120.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: add VS Code + GitHub Copilot validation to MCP prompts guide
  docs/mcp-prompts-guide.md
Labels: documentation

Signed-off-by: Viktor Farcic <viktor@farcic.com>
  prds/184-openssf-scorecard-improvements.md
Labels: none

Signed-off-by: Viktor Farcic <viktor@farcic.com>
  .github/workflows/ci.yml
Labels: ci-cd

Signed-off-by: Viktor Farcic <viktor@farcic.com>
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  Dockerfile
  renovate.json
Labels: ci-cd, config

Signed-off-by: Viktor Farcic <viktor@farcic.com>
  .github/workflows/ci.yml
Labels: ci-cd

Signed-off-by: Viktor Farcic <viktor@farcic.com>
  prds/184-openssf-scorecard-improvements.md
Labels: none

Signed-off-by: Viktor Farcic <viktor@farcic.com>
  docs/ROADMAP.md
  prds/done/184-openssf-scorecard-improvements.md
Labels: documentation

fix(security): improve OpenSSF Scorecard score from 6.1 to 9.1 (#186)
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  Dockerfile
  docs/ROADMAP.md
  prds/done/184-openssf-scorecard-improvements.md
  renovate.json
Labels: documentation, ci-cd, config

feat: enable automatic release notes categorization via .github/release.yml
  .github/workflows/ci.yml
  shared-prompts/prd-done.md
Labels: ci-cd

docs: clarify single label guideline in release.yml comments
  .github/release.yml
Labels: none

docs: clarify single label guideline in release.yml comments (#187)
  .github/release.yml
Labels: none

chore: sync version to 0.122.0 after failed release [skip ci]
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

Package [skip ci]
  package-lock.json
Labels: dependencies, config

fix: move project-setup assets to root assets directory
  assets/project-setup/discovery-config.json
  assets/project-setup/templates/ADOPTERS.md.hbs
  assets/project-setup/templates/CODE_OF_CONDUCT.md.hbs
  assets/project-setup/templates/CONTRIBUTING.md.hbs
  assets/project-setup/templates/LICENSE.hbs
  assets/project-setup/templates/NOTICE.hbs
  assets/project-setup/templates/README.md.hbs
  assets/project-setup/templates/SECURITY.md.hbs
  assets/project-setup/templates/SUPPORT.md.hbs
  assets/project-setup/templates/docs/GOVERNANCE.md.hbs
  assets/project-setup/templates/docs/MAINTAINERS.md.hbs
  assets/project-setup/templates/docs/ROADMAP.md.hbs
  assets/project-setup/templates/renovate.json.hbs
  package.json
  src/tools/project-setup/discovery.ts
  src/tools/project-setup/generate-scope.ts
  src/tools/project-setup/templates/.github/CODEOWNERS.hbs
  src/tools/project-setup/templates/.github/FUNDING.yml.hbs
  src/tools/project-setup/templates/.github/ISSUE_TEMPLATE/bug_report.yml.hbs
  src/tools/project-setup/templates/.github/ISSUE_TEMPLATE/config.yml.hbs
  src/tools/project-setup/templates/.github/ISSUE_TEMPLATE/feature_request.yml.hbs
  src/tools/project-setup/templates/.github/PULL_REQUEST_TEMPLATE.md.hbs
  src/tools/project-setup/templates/.github/labeler.yml.hbs
  src/tools/project-setup/templates/.github/release.yml.hbs
  src/tools/project-setup/templates/.github/workflows/labeler.yml.hbs
  src/tools/project-setup/templates/.github/workflows/scorecard.yml.hbs
  src/tools/project-setup/templates/.github/workflows/stale.yml.hbs
Labels: source, dependencies, config

chore: reset version to 0.119.0 after unpublishing 0.120.0-0.122.0 [skip ci]
  package.json
Labels: dependencies, config

chore: bump version to 0.124.0
  package.json
Labels: dependencies, config

chore: coordinated release v0.124.0
  charts/Chart.yaml
  charts/values.yaml
  server.json
Labels: infrastructure, config

chore: add PRD label to stale workflow exemptions
  .github/workflows/stale.yml
Labels: ci-cd

chore: configure renovate to keep latest tags in docker-compose-dot-ai.yaml
  docker-compose-dot-ai.yaml
  renovate.json
Labels: config

docs(prd-194): create PRD #194 - Custom LLM Endpoint Support [skip ci]
  prds/194-custom-llm-endpoint-support.md
Labels: none

feat(prd-194): implement custom LLM endpoint support with OpenRouter validation
  .teller.yml
  assets/project-setup/templates/.github/CODEOWNERS.hbs
  assets/project-setup/templates/.github/FUNDING.yml.hbs
  assets/project-setup/templates/.github/ISSUE_TEMPLATE/bug_report.yml.hbs
  assets/project-setup/templates/.github/ISSUE_TEMPLATE/config.yml.hbs
  assets/project-setup/templates/.github/ISSUE_TEMPLATE/feature_request.yml.hbs
  assets/project-setup/templates/.github/PULL_REQUEST_TEMPLATE.md.hbs
  assets/project-setup/templates/.github/labeler.yml.hbs
  assets/project-setup/templates/.github/release.yml.hbs
  assets/project-setup/templates/.github/workflows/labeler.yml.hbs
  assets/project-setup/templates/.github/workflows/scorecard.yml.hbs
  assets/project-setup/templates/.github/workflows/stale.yml.hbs
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  package-lock.json
  package.json
  prds/194-custom-llm-endpoint-support.md
  src/core/ai-provider-factory.ts
  src/core/ai-provider.interface.ts
  src/core/capability-scan-workflow.ts
  src/core/discovery.ts
  src/core/embedding-service.ts
  src/core/model-config.ts
  src/core/providers/provider-debug-utils.ts
  src/core/providers/vercel-provider.ts
  src/core/unified-creation-session.ts
  src/tools/remediate.ts
Labels: source, infrastructure, dependencies, config

docs(prd-194): complete custom LLM endpoint documentation and mark PRD complete
  docs/mcp-setup.md
  docs/setup/development-setup.md
  docs/setup/docker-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  docs/setup/npx-setup.md
  prds/done/194-custom-llm-endpoint-support.md
Labels: documentation

chore: remove DCO sign-off requirement from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix(prd-194): address CodeRabbit review feedback - env vars and maxOutputTokens
  assets/project-setup/templates/.github/workflows/stale.yml.hbs
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/values.yaml
  src/core/providers/vercel-provider.ts
Labels: source, infrastructure

fix(project-setup): revert quote addition to exempt placeholders in stale template
  assets/project-setup/templates/.github/workflows/stale.yml.hbs
Labels: none

feat(prd-194): add custom LLM endpoint support for self-hosted and alternative SaaS providers (#195)
  .teller.yml
  assets/project-setup/templates/.github/CODEOWNERS.hbs
  assets/project-setup/templates/.github/FUNDING.yml.hbs
  assets/project-setup/templates/.github/ISSUE_TEMPLATE/bug_report.yml.hbs
  assets/project-setup/templates/.github/ISSUE_TEMPLATE/config.yml.hbs
  assets/project-setup/templates/.github/ISSUE_TEMPLATE/feature_request.yml.hbs
  assets/project-setup/templates/.github/PULL_REQUEST_TEMPLATE.md.hbs
  assets/project-setup/templates/.github/labeler.yml.hbs
  assets/project-setup/templates/.github/release.yml.hbs
  assets/project-setup/templates/.github/workflows/labeler.yml.hbs
  assets/project-setup/templates/.github/workflows/scorecard.yml.hbs
  assets/project-setup/templates/.github/workflows/stale.yml.hbs
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  docs/mcp-setup.md
  docs/setup/development-setup.md
  docs/setup/docker-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  docs/setup/npx-setup.md
  package-lock.json
  package.json
  prds/done/194-custom-llm-endpoint-support.md
  src/core/ai-provider-factory.ts
  src/core/ai-provider.interface.ts
  src/core/capability-scan-workflow.ts
  src/core/discovery.ts
  src/core/embedding-service.ts
  src/core/model-config.ts
  src/core/providers/provider-debug-utils.ts
  src/core/providers/vercel-provider.ts
  src/core/unified-creation-session.ts
  src/tools/remediate.ts
Labels: documentation, source, infrastructure, dependencies, config
