Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

refactor: improve code quality and reduce review noise
  .coderabbit.yaml
  src/core/command-executor.ts
  tests/integration/infrastructure/run-integration-tests.sh
Labels: source, tests, config

feat(operate): add AI-powered Kubernetes operations tool (#217)
  .coderabbit.yaml
  .mcp.json
  docs/ROADMAP.md
  docs/mcp-operate-guide.md
  docs/mcp-tools-overview.md
  package-lock.json
  prds/201-operate-tool.md
  prds/done/201-operate-tool.md
  prompts/operate-system.md
  prompts/operate-user.md
  src/core/capability-scan-workflow.ts
  src/core/command-executor.ts
  src/core/deploy-operation.ts
  src/core/pattern-vector-service.ts
  src/core/schema.ts
  src/interfaces/mcp.ts
  src/tools/answer-question.ts
  src/tools/choose-solution.ts
  src/tools/deploy-manifests.ts
  src/tools/generate-manifests.ts
  src/tools/operate-analysis.ts
  src/tools/operate-execution.ts
  src/tools/operate.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/README.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/infrastructure/setup-cluster.sh
  tests/integration/tools/operate.test.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
Labels: documentation, source, tests, dependencies, config

chore: coordinated release v0.140.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

chore: replace GPT-5 Pro with GPT-5-Codex in model portfolio
  docs/mcp-setup.md
  prds/209-model-portfolio-management.md
Labels: documentation

docs: close PRDs #5, #7 and create PRD #218 for learning system [skip ci]
  docs/ROADMAP.md
  prds/218-pattern-policy-learning-system.md
  prds/done/5-advanced-ai-memory-system.md
  prds/done/7-advanced-memory-learning-algorithms.md
  shared-prompts/prd-close.md
Labels: documentation

docs: create PRDs #225, #226 and update PRD #22 for code-to-K8s workflow [skip ci]
  .gemini/settings.json
  Dockerfile
  opencode.json
  prds/22-code-analysis-engine.md
  prds/225-dockerfile-generation-system.md
  prds/226-github-actions-cicd-pipeline.md
  scripts/crossplane.nu
Labels: ci-cd, config

docs: update PRD #209 with Gemini 3 Pro model portfolio changes [skip ci]
  prds/209-model-portfolio-management.md
Labels: none

chore: remove MCP shared prompts and update Gemini settings
  .gemini/settings.json
  shared-prompts/deploy.md
  shared-prompts/manage-org-data.md
  shared-prompts/remediate.md
  shared-prompts/status.md
Labels: none

docs(prds): close PRDs #27 and #28 - abandoned documentation testing [skip ci]
  prds/done/27-cicd-documentation-testing.md
  prds/done/28-recursive-documentation-testing.md
Labels: none

docs(prd-45): close PRD #45 - already implemented [skip ci]
  docs/ROADMAP.md
  prds/done/45-infrastructure-documentation.md
Labels: documentation

docs(prd-51): close PRD #51 - superseded by PRD #216 [skip ci]
  docs/ROADMAP.md
  prds/done/51-capability-scanning-performance-optimization.md
Labels: documentation

docs(prd-53): close PRD #53 - superseded by PRD #54 [skip ci]
  docs/ROADMAP.md
  prds/done/53-two-pass-ai-recommendation-pattern-enhancement.md
Labels: documentation

docs(prd-58): close PRD #58 - already implemented [skip ci]
  docs/ROADMAP.md
  prds/done/58-resource-schema-question-generation-fix.md
Labels: documentation

docs(prd-75): close PRD #75 - deferred [skip ci]
  prds/done/75-test-performance-analysis.md
Labels: none

docs(prd-108): close PRD #108 - superseded by PRD #218 [skip ci]
  docs/ROADMAP.md
  prds/done/108-recommendation-pattern-learning-system.md
Labels: documentation

docs(prd-107): close PRD #107 - superseded by pattern/policy integration [skip ci]
  docs/ROADMAP.md
  prds/done/107-remediation-playbooks-system.md
Labels: documentation

docs(prd-227): create PRD #227 - integrate patterns into remediation [skip ci]
  docs/ROADMAP.md
  prds/227-remediation-pattern-integration.md
Labels: documentation

chore: update gemini model settings [skip ci]
  .gemini/settings.json
Labels: none

docs(prd-38): close PRD #38 - Vector DB exploration complete [skip ci]
  docs/ROADMAP.md
  prds/done/38-vector-database-infrastructure-exploration.md
Labels: documentation

feat(prd-225): implement Dockerfile generation prompt with iterative testing
  .claude/commands/generate-dockerfile.md
  .dockerignore
  Dockerfile
  prds/225-dockerfile-generation-system.md
  src/tools/platform/discover-operations.tool.ts
Labels: source, ci-cd

docs(prd-225): add design decision for validation & testing phase
  prds/225-dockerfile-generation-system.md
Labels: none

docs(prd-228): create PRD #228 - deployment documentation & example-based learning [skip ci]
  docs/ROADMAP.md
  prds/228-deployment-documentation-learning.md
  prds/25-crd-solution-tracking.md
Labels: documentation

docs(prd-25): move PRD #25 to dot-ai-controller repo [skip ci]
  docs/ROADMAP.md
  prds/216-controller-based-autonomous-capability-scanning.md
  prds/228-deployment-documentation-learning.md
Labels: documentation

docs(prd-229): create PRD #229 - replace ConfigMap with Solution CR [skip ci]
  docs/ROADMAP.md
  prds/229-replace-configmap-with-solution-cr.md
Labels: documentation

chore: update dot-ai deployment script [skip ci]
  scripts/dot-ai.nu
Labels: none

docs(prd-229): add CRD availability checking and graceful degradation [skip ci]
  prds/229-replace-configmap-with-solution-cr.md
Labels: none

docs(prd-209): update OpenAI models to GPT-5.1 Codex series
  prds/209-model-portfolio-management.md
Labels: none

test: verify CI triggers
  README.md
Labels: documentation

feat(prd-229): implement in-cluster test infrastructure
  Dockerfile
  charts/templates/deployment.yaml
  charts/values.yaml
  prds/229-replace-configmap-with-solution-cr.md
  tests/integration/helpers/http-client.ts
  tests/integration/infrastructure/kind-test.yaml
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/infrastructure/setup-cluster.sh
  tests/integration/tools/version.test.ts
Labels: tests, ci-cd, infrastructure

feat(prd-229): implement Milestone 3 - ConfigMap removal
  prds/229-replace-configmap-with-solution-cr.md
  src/core/deploy-operation.ts
  src/core/solution-utils.ts
  src/tools/generate-manifests.ts
Labels: source

fix(remediate): add kubectl patch strategy guidance to prompt
  prompts/remediate-system.md
  src/tools/remediate.ts
Labels: source

feat(prd-229): complete Milestone 4 - Integration Testing
  prds/229-replace-configmap-with-solution-cr.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/recommend.test.ts
Labels: tests

feat(prd-229): complete PRD #229 - archive to prds/done/ and update ROADMAP
  devbox.json
  devbox.lock
  docs/ROADMAP.md
  dot.nu
  prds/done/229-replace-configmap-with-solution-cr.md
  scripts/dot-ai.nu
Labels: documentation, config

fix(tests): change policy test to use labels instead of resource limits
  src/core/unified-creation-session.ts
  src/tools/operate-analysis.ts
  tests/integration/helpers/http-client.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/manage-org-data-policies.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

feat(prd-229): implement Milestone 2 - Solution CR generation
  prds/229-replace-configmap-with-solution-cr.md
  prompts/question-generation.md
  prompts/resource-selection.md
  src/core/crd-availability.ts
  src/core/schema.ts
  src/core/solution-cr.ts
  src/tools/generate-manifests.ts
  src/tools/recommend.ts
Labels: source

fix: address CodeRabbit review and test flakiness
  package-lock.json
  prompts/operate-system.md
  src/core/vector-db-service.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests, dependencies, config

fix(vector-db): add propagation delay after Qdrant delete
  src/core/vector-db-service.ts
Labels: source

fix(operate): use inline heredoc YAML instead of file references
  prompts/operate-system.md
Labels: none

feat(prd-229): implement Milestone 1 - Helm chart integration & controller deployment
  .env.vals.yaml
  .github/workflows/ci.yml
  .gitignore
  charts/Chart.lock
  charts/charts/qdrant-1.15.4.tgz
  charts/charts/qdrant-1.15.5.tgz
  charts/templates/solution.yaml
  charts/values.yaml
  docs/setup/kubernetes-setup.md
  dot.nu
  examples/solution-dot-ai.yaml
  prds/229-replace-configmap-with-solution-cr.md
  scripts/dot-ai.nu
Labels: documentation, ci-cd, infrastructure, config

fix: add explicit npm registry-url to prevent auth errors
  .github/workflows/ci.yml
Labels: ci-cd

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
