Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

feat: update Anthropic Opus model to Claude Opus 4.6 and fix ESLint lint script (#370)
  changelog.d/370.bugfix.md
  changelog.d/370.feature.md
  docs/setup/mcp-setup.md
  mock-server/fixtures/knowledge/ask-success.json
  mock-server/fixtures/knowledge/delete-source-success.json
  mock-server/fixtures/resources/search-results.json
  mock-server/routes.ts
  package.json
  src/core/model-config.ts
Labels: documentation, source, dependencies, config

dot.nu
  dot.nu
Labels: none

docs: move PRD #371 to vfarcic/dot-ai-cli [skip ci]
  prds/371-go-cli.md
Labels: none

docs(prd): create PRDs #360 and #361 for multi-user authentication and permissions [skip ci]
  docs/ROADMAP.md
  prds/360-user-authentication.md
  prds/361-user-specific-permissions.md
Labels: documentation

fix: push changelog changes immediately after towncrier build
  .github/workflows/release.yml
  changelog.d/343.misc.md
  changelog.d/345.breaking.md
  changelog.d/347-2.bugfix.md
  changelog.d/347.bugfix.md
  changelog.d/348.bugfix.md
Labels: ci-cd

fix(plugin): use official images for kubectl/helm instead of curl
  packages/agentic-tools/Dockerfile
Labels: none

docs(prd-373): create PRD #373 - restructure docs into AI Engine and MCP sections [skip ci]
  .claude/skills/dot-ai-changelog-fragment/SKILL.md
  .claude/skills/dot-ai-generate-cicd/SKILL.md
  .claude/skills/dot-ai-generate-dockerfile/SKILL.md
  .claude/skills/dot-ai-manageKnowledge/SKILL.md
  .claude/skills/dot-ai-manageOrgData/SKILL.md
  .claude/skills/dot-ai-operate/SKILL.md
  .claude/skills/dot-ai-port-destroy/SKILL.md
  .claude/skills/dot-ai-port-setup/SKILL.md
  .claude/skills/dot-ai-prd-close/SKILL.md
  .claude/skills/dot-ai-prd-create/SKILL.md
  .claude/skills/dot-ai-prd-done/SKILL.md
  .claude/skills/dot-ai-prd-next/SKILL.md
  .claude/skills/dot-ai-prd-start/SKILL.md
  .claude/skills/dot-ai-prd-update-decisions/SKILL.md
  .claude/skills/dot-ai-prd-update-progress/SKILL.md
  .claude/skills/dot-ai-prds-get/SKILL.md
  .claude/skills/dot-ai-process-feature-request/SKILL.md
  .claude/skills/dot-ai-projectSetup/SKILL.md
  .claude/skills/dot-ai-query-dot-ai/SKILL.md
  .claude/skills/dot-ai-query/SKILL.md
  .claude/skills/dot-ai-recommend/SKILL.md
  .claude/skills/dot-ai-remediate/SKILL.md
  .claude/skills/dot-ai-request-dot-ai-feature/SKILL.md
  .claude/skills/dot-ai-tag-release/SKILL.md
  .claude/skills/dot-ai-version/SKILL.md
  .claude/skills/dot-ai-worktree-prd/SKILL.md
  .claude/skills/dot-ai/SKILL.md
  .github/workflows/release.yml
  .mcp.json
  docs/ROADMAP.md
  package-lock.json
  prds/373-docs-restructure-ai-engine-mcp.md
Labels: documentation, ci-cd, dependencies, config

docs: update changelog for v1.1.0 [skip ci]
  changelog.d/354.feature.md
  changelog.d/356.feature.md
  changelog.d/359.misc.md
  changelog.d/365.misc.md
  docs/CHANGELOG.md
Labels: documentation

docs(prd-371): create PRD #371 - auto-generated Go CLI [skip ci]
  docs/ROADMAP.md
  prds/371-go-cli.md
Labels: documentation

docs(prd-150): close PRD #150 - superseded by MCP client approach [skip ci]
  docs/ROADMAP.md
  prds/done/150-remediation-observability-integration.md
Labels: documentation

docs(prd-176): mark PRD #176 as completed [skip ci]
  prds/176-embedding-architecture-standardization.md
Labels: none

docs(prd-369): create PRD #369 - update OpenAI model to GPT-5.3-Codex [skip ci]
  docs/ROADMAP.md
  prds/369-openai-gpt53-codex-update.md
Labels: documentation

fix: populate empty OpenAPI schemas by replacing zod-to-json-schema with Zod v4 native toJSONSchema
  package-lock.json
  package.json
  schema/openapi.json
  src/interfaces/openapi-generator.ts
  src/interfaces/rest-registry.ts
  src/interfaces/schemas/common.ts
  tests/integration/tools/openapi.test.ts
Labels: source, tests, dependencies, config

docs(prd-165): close PRD #165 - superseded by Kubernetes-only deployment [skip ci]
  prds/165-guided-setup-system.md
Labels: none

docs(prd-375,prd-376): create unified knowledge base PRDs [skip ci]
  docs/ROADMAP.md
  prds/375-unified-knowledge-base.md
  prds/376-retire-legacy-collection-migration.md
Labels: documentation

docs: add sidebar ordering to tools pages following user journey flow
  docs/ai-engine/tools/capability-management.md
  docs/ai-engine/tools/knowledge-base.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/project-setup.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  docs/ai-engine/tools/version.md
Labels: documentation

fix: increase agentic-tools readiness probe initialDelaySeconds to 30s
  changelog.d/readiness-probe.bugfix.md
  charts/templates/plugin-deployment.yaml
Labels: infrastructure

docs: update changelog for v1.2.2 [skip ci]
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

docs: update changelog for v1.2.2 [skip ci]
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

docs: update changelog for v1.2.3 [skip ci]
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

docs: fix AI Engine sidebar ordering so top-level pages appear before categories
  docs/ai-engine/api/_category_.yml
  docs/ai-engine/index.md
  docs/ai-engine/operations/_category_.yml
  docs/ai-engine/organizational-data/_category_.yml
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/_category_.yml
  docs/ai-engine/tools/_category_.yml
  docs/ai-engine/why-devops-ai-toolkit.md
Labels: documentation

fix: resolve release workflow non-fast-forward push failure
  .github/workflows/release.yml
Labels: ci-cd

docs(ai-engine): restructure docs into AI Engine and MCP sections (#374)
  README.md
  changelog.d/373.doc.md
  docs/CLAUDE.md
  docs/ROADMAP.md
  docs/ai-engine/_category_.yml
  docs/ai-engine/api/_category_.yml
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/index.md
  docs/ai-engine/operations/_category_.yml
  docs/ai-engine/operations/observability.md
  docs/ai-engine/operations/telemetry.md
  docs/ai-engine/organizational-data/_category_.yml
  docs/ai-engine/organizational-data/concepts.md
  docs/ai-engine/organizational-data/patterns.md
  docs/ai-engine/organizational-data/policies.md
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/_category_.yml
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/setup/gateway-api.md
  docs/ai-engine/tools/_category_.yml
  docs/ai-engine/tools/capability-management.md
  docs/ai-engine/tools/knowledge-base.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/project-setup.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  docs/ai-engine/tools/version.md
  docs/ai-engine/why-devops-ai-toolkit.md
  docs/guides/_category_.yml
  docs/mcp/_category_.yml
  docs/mcp/index.md
  prds/done/373-docs-restructure-ai-engine-mcp.md
Labels: documentation

fix: update devbox-install-action from v0.11.0 to v0.14.0
  .github/workflows/release.yml
Labels: ci-cd

fix: resolve release workflow non-fast-forward push and restore changelog
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

fix: remove failed v1.2.2 changelog entry and restore fragment for v1.2.3
  changelog.d/373.doc.md
  docs/CHANGELOG.md
Labels: documentation

docs: fix image paths, cross-section links, and stale references for website doc split
  docs/ai-engine/img/capabilities.jpeg
  docs/ai-engine/img/github.jpeg
  docs/ai-engine/img/index.jpeg
  docs/ai-engine/img/operate-example-01.png
  docs/ai-engine/img/operations.jpeg
  docs/ai-engine/img/patterns.jpeg
  docs/ai-engine/img/policies.jpeg
  docs/ai-engine/img/prompts.jpeg
  docs/ai-engine/img/query-example-01.png
  docs/ai-engine/img/query.jpeg
  docs/ai-engine/img/recommendation-example-01.png
  docs/ai-engine/img/recommendation-example-02.png
  docs/ai-engine/img/recommendation-example-03.png
  docs/ai-engine/img/recommendation-example-04.png
  docs/ai-engine/img/recommendation.jpeg
  docs/ai-engine/img/remediate-example-01.png
  docs/ai-engine/img/remediate-example-02.png
  docs/ai-engine/img/remediation.jpeg
  docs/ai-engine/img/version-example.png
  docs/ai-engine/index.md
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/why-devops-ai-toolkit.md
  docs/mcp/index.md
Labels: documentation

docs(prd-218): close PRD #218 - superseded by unified knowledge base approach [skip ci]
  docs/ROADMAP.md
  prds/done/218-pattern-policy-learning-system.md
Labels: documentation

docs: remove redundant why-devops-ai-toolkit page and adjust sidebar positions
  README.md
  docs/ai-engine/api/_category_.yml
  docs/ai-engine/index.md
  docs/ai-engine/operations/_category_.yml
  docs/ai-engine/organizational-data/_category_.yml
  docs/ai-engine/setup/_category_.yml
  docs/ai-engine/tools/_category_.yml
  docs/ai-engine/why-devops-ai-toolkit.md
Labels: documentation

chore: coordinated release v1.2.3
  charts/Chart.yaml
  charts/values.yaml
  package-lock.json
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-357): close PRD #357 - superseded by unified knowledge base approach [skip ci]
  docs/ROADMAP.md
  prds/done/357-policy-extraction-from-knowledge-base.md
Labels: documentation

docs(prd-228,prd-377): close PRD #228, create PRD #377 - deployment doc generation [skip ci]
  docs/ROADMAP.md
  prds/377-deployment-documentation-generation.md
  prds/done/228-deployment-documentation-learning.md
Labels: documentation

docs: update changelog for v1.2.4 [skip ci]
  changelog.d/readiness-probe.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.2.4
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-251): add Helm release detection to operate tool
  packages/agentic-tools/src/tools/helm-install.ts
  packages/agentic-tools/src/tools/helm-rollback.ts
  packages/agentic-tools/src/tools/index.ts
  src/tools/operate-analysis.ts
  tests/integration/tools/operate.test.ts
Labels: source, tests

chore(prd-251): archive completed PRD and add changelog fragment
  changelog.d/251.feature.md
  prds/done/251-helm-day2-operations.md
Labels: none

feat(prd-251): add Helm awareness to remediate tool
  prds/251-helm-day2-operations.md
  prompts/remediate-system.md
  src/tools/remediate.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

fix(prd-251): update test assertions and PRD progress for Helm Day-2
  prds/251-helm-day2-operations.md
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/version.test.ts
Labels: tests

docs(prd-251): add Helm Day-2 mentions to operate, remediate, and overview guides
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/remediate.md
  prds/251-helm-day2-operations.md
Labels: documentation

feat(prd-251): add Helm Day-2 investigation tools
  packages/agentic-tools/src/tools/helm-get-values.ts
  packages/agentic-tools/src/tools/helm-history.ts
  packages/agentic-tools/src/tools/helm-list.ts
  packages/agentic-tools/src/tools/helm-status.ts
  packages/agentic-tools/src/tools/index.ts
  prds/251-helm-day2-operations.md
  tests/integration/tools/version.test.ts
Labels: tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
