Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix(mcp-auth): apply expert panel security fixes to auth providers (#414)
  src/core/mcp-client-manager.ts
  src/core/mcp-client-types.ts
  tests/integration/tools/mcp-client-auth.test.ts
  tests/unit/core/mcp-client-auth.test.ts
Labels: source, tests

feat(mcp-auth): add OAuth client_credentials auth provider (M4)
  changelog.d/414-mcp-client-auth.feature.md
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/values.yaml
  package-lock.json
  src/core/mcp-client-manager.ts
  src/core/mcp-client-types.ts
  tests/unit/core/mcp-client-auth.test.ts
  tests/unit/helm/mcp-auth.test.ts
Labels: source, tests, infrastructure, dependencies, config

fix(mcp-auth): address CodeRabbit review findings (#414)
  charts/templates/_helpers.tpl
  src/core/mcp-client-manager.ts
  tests/integration/tools/mcp-client-auth.test.ts
  tests/unit/core/mcp-client-auth.test.ts
Labels: source, tests, infrastructure

fix(mcp-auth): replace custom ClientCredentialsAuthProvider with SDK built-in
  src/core/mcp-client-manager.ts
  tests/integration/tools/mcp-client-auth.test.ts
  tests/unit/core/mcp-client-auth.test.ts
Labels: source, tests

fix: check AI provider status before parsing response as JSON
  changelog.d/fix-status-guard.bugfix.md
  src/interfaces/rest-api.ts
  src/tools/impact-analysis.ts
  src/tools/query.ts
  src/tools/remediate.ts
Labels: source

fix: Fix the invalid Docker image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: widen status guard to catch all non-success AI statuses
  src/interfaces/rest-api.ts
  src/tools/impact-analysis.ts
  src/tools/query.ts
  src/tools/remediate.ts
Labels: source

fix: Fix the invalid container image tag in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(tools): check AI provider status before parsing response as JSON (#447)
  changelog.d/fix-status-guard.bugfix.md
  src/interfaces/rest-api.ts
  src/tools/impact-analysis.ts
  src/tools/query.ts
  src/tools/remediate.ts
Labels: source

docs: update changelog for v1.14.1 [skip ci]
  changelog.d/fix-status-guard.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.14.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix(mcp): revert MCP server discovery to fail-fast (process.exit(1))
  src/mcp/server.ts
Labels: source

Devbox [skip ci]
  devbox.json
Labels: config

feat(mcp-auth): MCP client outbound authentication (#414)
  changelog.d/414-mcp-client-auth.feature.md
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/values.yaml
  package-lock.json
  src/core/mcp-client-manager.ts
  src/core/mcp-client-types.ts
  src/mcp/server.ts
  tests/integration/tools/mcp-client-auth.test.ts
  tests/unit/core/mcp-client-auth.test.ts
  tests/unit/helm/mcp-auth.test.ts
Labels: source, tests, infrastructure, dependencies, config

docs: update changelog for v1.15.0 [skip ci]
  changelog.d/414-mcp-client-auth.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.15.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs: update PRD #414 to reflect shipped v1.15.0 implementation
  prds/414-mcp-client-auth.md
Labels: none

docs: update changelog entry for PRD #414 shipped status
  changelog.d/414-mcp-client-auth.doc.md
Labels: none

fix: Update deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update container image tag to valid nginx:latest in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: rate-limit circuit breaker logs, server-side Helm dry-run, rename test cluster
  .claude/skills/dot-ai-write-docs/SKILL.md
  .claude/skills/write-docs/SKILL.md
  changelog.d/circuit-breaker-log-ratelimit.fix.md
  docs/dev/integration-testing-guide.md
  packages/agentic-tools/src/tools/helm-install.ts
  src/core/circuit-breaker.ts
  src/core/embedding-service.ts
  tests/integration/README.md
  tests/integration/infrastructure/kind-test.yaml
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/infrastructure/teardown-cluster.sh
  tests/unit/core/circuit-breaker.test.ts
Labels: documentation, source, tests

docs: update changelog for v1.15.1 [skip ci]
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.15.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix: Update deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Anthropic Bearer auth for corporate proxies, remove obsolete beta header
  changelog.d/anthropic-bearer-auth.bugfix.md
  docs/ai-engine/setup/deployment.md
  src/core/providers/vercel-provider.ts
  tests/unit/core/providers/custom-headers-base-url.test.ts
Labels: documentation, source, tests

docs: update changelog for v1.15.2 [skip ci]
  changelog.d/anthropic-bearer-auth.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.15.2
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prds): create 12 Vercel AI SDK feature evaluation PRDs (#453-#464) [skip ci]
  .dot-agent-deck.toml
  devbox.json
  docs/ROADMAP.md
  prds/453-use-embedmany-batch-embeddings.md
  prds/454-use-generateobject-structured-responses.md
  prds/455-evaluate-streamtext-long-operations.md
  prds/456-ai-sdk-middleware-cross-cutting.md
  prds/457-preparestep-dynamic-tool-control.md
  prds/458-sdk-builtin-telemetry.md
  prds/459-configure-retry-behavior.md
  prds/460-abort-signal-cancellation.md
  prds/461-smoothstream-streaming-ux.md
  prds/462-evaluate-generateimage-diagrams.md
  prds/463-evaluate-sdk-mcp-client.md
  prds/464-mock-language-model-unit-testing.md
Labels: documentation, config

agent deck [skip ci]
  .dot-agent-deck.toml
Labels: config

DevBox [skip ci]
  devbox.json
Labels: config

feat: client-driven OAuth token expiry
  changelog.d/380.feature.md
  mock-server/fixtures/oauth/token-success.json
  package-lock.json
  packages/agentic-tools/package-lock.json
  src/interfaces/mcp.ts
  src/interfaces/oauth/provider.ts
  src/interfaces/oauth/types.ts
  tests/integration/tools/auth.test.ts
  tests/integration/tools/mcp-client-auth.test.ts
Labels: source, tests, dependencies, config

docs: update changelog for v1.16.0 [skip ci]
  changelog.d/380.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.16.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: resolve duplicate env vars when customEndpoint and localEmbeddings both enabled (#465)
  charts/templates/deployment.yaml
  src/tools/remediate.ts
  tests/unit/helm/embeddings-env.test.ts
Labels: source, tests, infrastructure

docs: add changelog fragment for #465 fix
  changelog.d/465-duplicate-env-vars.fix.md
Labels: none

docs: update changelog for v1.16.1 [skip ci]
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.16.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix(ci): heredoc indentation bug + stale changelog fragments [skip ci]
  .github/workflows/release.yml
  CLAUDE.md
  changelog.d/465-duplicate-env-vars.fix.md
  changelog.d/circuit-breaker-log-ratelimit.fix.md
Labels: documentation, ci-cd

fix(providers): wire CUSTOM_LLM_API_KEY and OPENROUTER_API_KEY into PROVIDER_ENV_KEYS
  src/core/ai-provider-factory.ts
  tests/unit/core/ai-provider-factory.test.ts
Labels: source, tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
