Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

chore: coordinated release v0.145.1
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  server.json
Labels: infrastructure, config

docs(prd): create PRD #245, close PRD #241 [skip ci]
  docs/ROADMAP.md
  prds/245-user-feedback-collection.md
  prds/done/241-anonymous-opt-in-analytics.md
Labels: documentation

docs(prompts): add reactive error handling for gh CLI and prds/done directory [skip ci]
  shared-prompts/prd-close.md
  shared-prompts/prd-create.md
  shared-prompts/prd-done.md
  shared-prompts/prds-get.md
Labels: none

feat(feedback): implement user feedback collection via Google Forms
  CLAUDE.md
  devbox.json
  devbox.lock
  package-lock.json
  prds/245-user-feedback-collection.md
  shared-prompts/prd-start.md
  src/core/feedback.ts
  src/core/index.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
Labels: documentation, source, tests, dependencies, config

fix(docker): restore TRANSPORT_TYPE=stdio default for backward compatibility
  Dockerfile
Labels: ci-cd

revert(docker): restore pre-built tarball approach for ARM64 compatibility
  .github/workflows/ci.yml
  Dockerfile
Labels: ci-cd

chore: bump version to 0.146.0 to sync with npm
  package-lock.json
  package.json
Labels: dependencies, config

fix(docker): remove *.tgz from .dockerignore and bump version
  .dockerignore
  package-lock.json
  package.json
Labels: dependencies, config

chore: bump version to retry CI
  package-lock.json
  package.json
Labels: dependencies, config

chore: coordinated release v0.149.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

chore: update devbox config [skip ci]
  devbox.json
  devbox.lock
Labels: config

feat(feedback): integrate feedback collection into all MCP tools
  dot.nu
  prds/245-user-feedback-collection.md
  src/core/pattern-operations.ts
  src/core/policy-operations.ts
  src/tools/generate-manifests.ts
  src/tools/operate-execution.ts
  src/tools/project-setup/generate-scope.ts
  src/tools/remediate.ts
Labels: source

docs(feedback): add feedback documentation and call to action
  README.md
  docs/mcp-setup.md
  prds/245-user-feedback-collection.md
Labels: documentation

docs: add feedback form link to GitHub issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

docs(prd): mark PRD #245 as complete
  prds/245-user-feedback-collection.md
Labels: none

docs(prd): archive completed PRD #245 to done/
  prds/done/245-user-feedback-collection.md
Labels: none

docs(roadmap): remove completed PRD #245
  docs/ROADMAP.md
Labels: documentation

fix: address CodeRabbit review feedback
  .coderabbit.yaml
  src/core/feedback.ts
  tests/integration/tools/feedback.test.ts
Labels: source, tests, config

feat(feedback): implement user feedback collection via Google Forms (#246)
  .coderabbit.yaml
  .github/ISSUE_TEMPLATE/config.yml
  CLAUDE.md
  README.md
  docs/ROADMAP.md
  docs/mcp-setup.md
  dot.nu
  package-lock.json
  prds/done/245-user-feedback-collection.md
  shared-prompts/prd-start.md
  src/core/feedback.ts
  src/core/index.ts
  src/core/pattern-operations.ts
  src/core/policy-operations.ts
  src/tools/generate-manifests.ts
  src/tools/operate-execution.ts
  src/tools/project-setup/generate-scope.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
Labels: documentation, source, tests, dependencies, config

chore: coordinated release v0.150.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: add DeepSeek to unsupported models list [skip ci]
  docs/mcp-setup.md
Labels: documentation

docs: update PRD #22 with design decisions for recommend workflow integration [skip ci]
  prds/22-code-analysis-engine.md
Labels: none

docs(prd-248): create PRD #248 - Helm/Kustomize packaging for recommendations [skip ci]
  docs/ROADMAP.md
  prds/202-gitops-integration.md
  prds/226-github-actions-cicd-pipeline.md
  prds/248-helm-kustomize-packaging.md
Labels: documentation

feat(prd-238): remove Anthropic SDK, consolidate on Vercel AI SDK
  CLAUDE.md
  charts/templates/deployment.yaml
  charts/values.yaml
  package-lock.json
  package.json
  prds/238-remove-anthropic-sdk.md
  src/core/ai-provider-factory.ts
  src/core/ai-provider.interface.ts
  src/core/providers/anthropic-provider.ts
  src/core/providers/noop-provider.ts
  src/core/providers/vercel-provider.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs: add prd-done guidance to prd-update-progress prompt
  shared-prompts/prd-update-progress.md
Labels: none

refactor(ai): remove Anthropic SDK, consolidate on Vercel AI SDK (#249)
  CLAUDE.md
  charts/templates/deployment.yaml
  charts/values.yaml
  package-lock.json
  package.json
  prds/238-remove-anthropic-sdk.md
  shared-prompts/prd-update-progress.md
  src/core/ai-provider-factory.ts
  src/core/ai-provider.interface.ts
  src/core/providers/anthropic-provider.ts
  src/core/providers/noop-provider.ts
  src/core/providers/vercel-provider.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs(prd-238): move completed PRD to done directory [skip ci]
  prds/done/238-remove-anthropic-sdk.md
Labels: none

feat(embeddings): update Google default to gemini-embedding-001
  docs/mcp-setup.md
  src/core/embedding-service.ts
Labels: documentation, source

chore: coordinated release v0.151.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd): create PRD #250, close PRD #241 [skip ci]
  docs/ROADMAP.md
  prds/250-third-party-application-installation.md
Labels: documentation

feat(prd-250): implement Helm fallback detection foundation
  prds/250-third-party-application-installation.md
  prompts/resource-selection.md
  shared-prompts/prd-start.md
  src/core/schema.ts
  src/tools/recommend.ts
Labels: source

feat(prd-250): implement ArtifactHub chart discovery for Helm installations
  prds/250-third-party-application-installation.md
  prompts/helm-chart-selection.md
  src/core/artifacthub.ts
  src/core/helm-types.ts
  src/core/schema.ts
  src/core/solution-cr.ts
  src/tools/recommend.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

feat(prd-250): implement cluster-aware defaults and improve ArtifactHub search
  prds/250-third-party-application-installation.md
  prompts/helm-chart-selection.md
  prompts/question-generation.md
  prompts/resource-selection.md
  src/core/index.ts
  src/core/schema.ts
  src/tools/choose-solution.ts
  tests/integration/infrastructure/kind-test.yaml
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/recommend.test.ts
Labels: source, tests

fix(prd-250): use text type for namespace in Helm installations
  prompts/question-generation.md
Labels: none

test(prd-250): add Helm question generation integration tests
  prds/250-third-party-application-installation.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/recommend.test.ts
Labels: tests

feat(prd-250): implement Helm validation and execution flow
  Dockerfile
  prds/250-third-party-application-installation.md
  prompts/capabilities-generation.md
  prompts/helm-generation.md
  src/core/helm-utils.ts
  src/core/index.ts
  src/core/schema.ts
  src/tools/answer-question.ts
  src/tools/deploy-manifests.ts
  src/tools/generate-manifests.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests, ci-cd

fix(prd-250): improve Helm UX and test coverage
  prds/250-third-party-application-installation.md
  prompts/helm-generation.md
  prompts/intent-analysis.md
  src/tools/answer-question.ts
  src/tools/generate-manifests.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

feat(prd-250): exclude Bitnami charts from ArtifactHub search
  src/core/artifacthub.ts
Labels: source

docs(prd-250): add Helm installation documentation
  README.md
  docs/mcp-recommendation-guide.md
  docs/mcp-tools-overview.md
  prds/250-third-party-application-installation.md
Labels: documentation

docs(prd-250): complete PRD with follow-up PRD #251 for Helm Day-2 operations
  prds/250-third-party-application-installation.md
  prds/251-helm-day2-operations.md
Labels: none

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
