Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

docs(prd-290): create PRD #290 - Skills Distribution via MCP [skip ci]
  docs/ROADMAP.md
  prds/290-skills-distribution.md
Labels: documentation

docs(prd-287): mark PRD complete and archive
  docs/ROADMAP.md
  prds/291-cluster-query-tool.md
  prds/done/287-resource-sync-endpoint.md
Labels: documentation

fix(prd-287): address CodeRabbit review feedback
  prds/291-cluster-query-tool.md
  src/core/resource-vector-service.ts
  src/core/vector-db-service.ts
  src/interfaces/resource-sync-handler.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/resource-sync.test.ts
Labels: source, tests

fix(tests): make Solution CR context assertion tolerant of AI stripping empty arrays
  tests/integration/tools/recommend.test.ts
Labels: tests

feat(prd-287): implement resource sync endpoint for cluster resource visibility (#292)
  docs/ROADMAP.md
  prds/291-cluster-query-tool.md
  prds/done/287-resource-sync-endpoint.md
  src/core/resource-vector-service.ts
  src/core/vector-db-service.ts
  src/interfaces/resource-sync-handler.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/resource-sync.test.ts
Labels: documentation, source, tests

chore: coordinated release v0.167.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: remove broken gateway-api example links [skip ci]
  docs/setup/kubernetes-setup.md
Labels: documentation

feat: add /healthz endpoint for Kubernetes probes
  charts/templates/deployment.yaml
  src/interfaces/mcp.ts
Labels: source, infrastructure

chore: coordinated release v0.168.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: move user-facing content to docs/index.md [skip ci]
  README.md
  docs/index.md
Labels: documentation

Complete implementation of Gateway API reference pattern with `-http` suffix; refactor Helm chart and update documentation
  prds/288-gateway-api-reference-pattern.md
Labels: none

Fix issue URL and update unit test count in Gateway API reference pattern documentation
  prds/288-gateway-api-reference-pattern.md
Labels: none

Update GitHub issue and discussion links in README for consistency
  examples/gateway-api/README.md
Labels: none

docs(prd-294): create PRD #294 - Gemini 3 model variants support [skip ci]
  docs/ROADMAP.md
  prds/294-gemini-3-model-variants.md
Labels: documentation

docs(prd-290): update PRD with skills distribution design decisions [skip ci]
  prds/290-skills-distribution.md
Labels: none

Refactor documentation: emphasize directory purpose and update GitHub links in README
  docs/setup/gateway-api.md
  examples/gateway-api/README.md
Labels: documentation

Fix code block formatting in Gateway API README for clarity
  examples/gateway-api/README.md
Labels: none

Enhance Gateway API documentation: add detailed YAML examples for Gateway, Certificate, and ReferenceGrant configurations
  docs/setup/gateway-api.md
Labels: documentation

Refactor Gateway API README: update section headings for clarity and improve formatting
  examples/gateway-api/README.md
Labels: none

docs: Add real kubectl/helm command output to gateway-api.md
  docs/setup/gateway-api.md
Labels: documentation

fix: Update code block formatting in gateway-api.md for consistency
  docs/setup/gateway-api.md
Labels: documentation

refactor: Update Gateway API documentation for clarity and security warnings
  docs/setup/gateway-api.md
  examples/gateway-api/README.md
  prds/288-gateway-api-reference-pattern.md
Labels: documentation

docs: Add notes for HTTP-only usage and verification steps in Gateway API documentation
  docs/setup/gateway-api.md
  examples/gateway-api/README.md
Labels: documentation

Gateway API: Reference pattern with `-http` suffix (#293)
  charts/templates/gateway.yaml
  charts/templates/httproute.yaml
  charts/templates/ingress.yaml
  charts/values.yaml
  docs/setup/gateway-api.md
  docs/setup/kubernetes-setup.md
  examples/gateway-api/README.md
  examples/gateway-api/basic-http.yaml
  examples/gateway-api/external-dns.yaml
  examples/gateway-api/https-cert-manager.yaml
  package-lock.json
  prds/288-gateway-api-reference-pattern.md
  tests/unit/helm/gateway-api.test.ts
Labels: documentation, tests, infrastructure, dependencies, config

docs(prd-288): archive completed Gateway API reference pattern PRD [skip ci]
  prds/done/288-gateway-api-reference-pattern.md
Labels: none

chore: coordinated release v0.170.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-294): add Gemini 3 Flash provider (google_flash)
  .env.vals.yaml
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  docs/setup/mcp-setup.md
  package.json
  prds/294-gemini-3-model-variants.md
  shared-prompts/prd-start.md
  src/core/ai-provider-factory.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  src/tools/operate-analysis.ts
  tests/integration/CLAUDE.md
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, source, tests, infrastructure, dependencies, config

docs(prd-294): archive completed Gemini 3 model variants PRD
  docs/ROADMAP.md
  prds/done/294-gemini-3-model-variants.md
Labels: documentation

fix(prd-294): address CodeRabbit review feedback
  src/core/ai-provider-factory.ts
  tests/integration/CLAUDE.md
Labels: source, tests

feat(prd-294): add Gemini 3 Flash provider (google_flash) (#300)
  .env.vals.yaml
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  docs/ROADMAP.md
  docs/setup/mcp-setup.md
  package.json
  prds/done/294-gemini-3-model-variants.md
  shared-prompts/prd-start.md
  src/core/ai-provider-factory.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  src/tools/operate-analysis.ts
  tests/integration/CLAUDE.md
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, source, tests, infrastructure, dependencies, config

chore: coordinated release v0.171.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-290): update skills distribution architecture [skip ci]
  prds/290-skills-distribution.md
Labels: none

test(prd-290): convert generate-infographic command to skill [skip ci]
  .claude/skills/infographic-generator/SKILL.md
Labels: none

docs(prd-290): put skills distribution on hold due to MCP limitations
  prds/290-skills-distribution.md
Labels: none

feat(gateway): implement Kubernetes Gateway API v1 support as Ingress alternative
  prds/done/281-kubernetes-gateway-api-support.md
Labels: none

feat(prd-291): add generic queryWithFilter for AI-constructed Qdrant filters
  prds/291-cluster-query-tool.md
  src/core/base-vector-service.ts
  src/core/vector-db-service.ts
Labels: source

docs(prd-291): update decisions and milestones for capabilities-first approach
  prds/291-cluster-query-tool.md
Labels: none

feat(prd-291): implement M2 capability tools for cluster query
  prds/291-cluster-query-tool.md
  prompts/query-system.md
  src/core/capability-tools.ts
  src/core/tracing/qdrant-tracing.ts
  src/interfaces/mcp.ts
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-291): implement M3 resource tools for cluster query
  prds/291-cluster-query-tool.md
  prompts/query-system.md
  src/core/resource-tools.ts
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-291): implement M4 kubectl tools integration for cluster query
  prds/291-cluster-query-tool.md
  prompts/query-system.md
  shared-prompts/prd-next.md
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests
