Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

feat(prd-306): add private repo support and complete milestones 3-5
  .env.vals.yaml
  .mcp.json
  Dockerfile
  prds/306-user-defined-prompts.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/prompts.test.ts
Labels: tests, ci-cd, config

docs(prd-306): add user-defined prompts documentation and complete PRD
  docs/ROADMAP.md
  docs/guides/mcp-prompts-guide.md
  docs/setup/docker-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  docs/setup/mcp-setup.md
  docs/setup/npx-setup.md
  prds/done/306-user-defined-prompts.md
Labels: documentation

fix(prd-306): address CodeRabbit security review feedback
  src/core/user-prompts-loader.ts
  src/tools/prompts.ts
  tests/integration/tools/prompts.test.ts
Labels: source, tests

fix(prd-306): remove unnecessary regex escape character
  src/core/user-prompts-loader.ts
Labels: source

feat(prompts): implement user-defined prompts from git repositories (#314)
  .env.vals.yaml
  .mcp.json
  Dockerfile
  docs/ROADMAP.md
  docs/guides/mcp-prompts-guide.md
  docs/setup/docker-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  docs/setup/mcp-setup.md
  docs/setup/npx-setup.md
  prds/306-user-defined-prompts.md
  prds/done/306-user-defined-prompts.md
  shared-prompts/prd-start.md
  src/core/user-prompts-loader.ts
  src/interfaces/rest-api.ts
  src/tools/prompts.ts
  tests/integration/CLAUDE.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/prompts.test.ts
  tests/integration/tools/resource-sync.test.ts
Labels: documentation, source, tests, ci-cd, config

chore: coordinated release v0.175.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-315): create PRD #315 - umbrella helm chart [skip ci]
  docs/ROADMAP.md
  prds/315-umbrella-helm-chart.md
Labels: documentation

docs(prd-316): create PRD #316 - unified chat endpoint [skip ci]
  docs/ROADMAP.md
  prds/316-unified-chat-endpoint.md
Labels: documentation

docs(prd-317): create PRD #317 - query visualization endpoint [skip ci]
  docs/ROADMAP.md
  prds/317-query-visualization-endpoint.md
Labels: documentation

docs(prd-316): close PRD #316 - superseded by visualization approach [skip ci]
  docs/ROADMAP.md
  prds/done/316-unified-chat-endpoint.md
Labels: documentation

feat(prd-317): implement session storage for query tool visualization
  prds/317-query-visualization-endpoint.md
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-317): add visualization URL to query tool responses
  charts/templates/deployment.yaml
  charts/values.yaml
  prds/317-query-visualization-endpoint.md
  shared-prompts/prd-create.md
  shared-prompts/prd-next.md
  shared-prompts/prd-start.md
  shared-prompts/prd-update-progress.md
  src/tools/query.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/query.test.ts
Labels: source, tests, infrastructure

feat(prd-317): implement visualization endpoint for query sessions
  prds/317-query-visualization-endpoint.md
  src/interfaces/rest-api.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-317): implement AI visualization generation for query tool
  prds/317-query-visualization-endpoint.md
  prds/318-visualization-documentation.md
  prompts/visualize-query.md
  shared-prompts/prd-next.md
  src/interfaces/rest-api.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

chore(prd-317): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/317-query-visualization-endpoint.md
Labels: documentation

fix(deps): upgrade qs to fix high severity DoS vulnerability
  package-lock.json
Labels: dependencies, config

feat(query): add visualization endpoint for Web UI (#319)
  charts/templates/deployment.yaml
  charts/values.yaml
  docs/ROADMAP.md
  package-lock.json
  prds/318-visualization-documentation.md
  prds/done/317-query-visualization-endpoint.md
  prompts/visualize-query.md
  shared-prompts/prd-create.md
  shared-prompts/prd-next.md
  shared-prompts/prd-start.md
  shared-prompts/prd-update-progress.md
  src/interfaces/rest-api.ts
  src/tools/query.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/query.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

chore: coordinated release v0.176.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix(query): include visualization URL in summary for agent display
  .gitignore
  .mcp-kubernetes.json
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests, config

chore: coordinated release v0.177.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(visualization): cache AI-generated visualizations in session
  src/interfaces/rest-api.ts
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

chore: coordinated release v0.178.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix(visualization): correct Mermaid class syntax guidance
  prompts/visualize-query.md
Labels: none

chore: coordinated release v0.179.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

chore: update gitignore and mcp configs [skip ci]
  .mcp-kubernetes.json
  .mcp-node.json
  .mcp.json
Labels: config

docs(prd-318): add visualization feature documentation
  docs/guides/mcp-query-guide.md
  docs/img/qyery-example-01.png
  docs/setup/kubernetes-setup.md
  prds/318-visualization-documentation.md
Labels: documentation

chore: fix typo in image filename and archive PRD #318 [skip ci]
  docs/guides/mcp-query-guide.md
  docs/img/query-example-01.png
  prds/done/318-visualization-documentation.md
Labels: documentation

docs(prd-320): create PRD for visualization URLs across all MCP tools [skip ci]
  docs/ROADMAP.md
  prds/320-visualization-urls-all-tools.md
Labels: documentation

feat(prd-320): implement visualization infrastructure for multi-tool support
  CLAUDE.md
  devbox.json
  prds/320-visualization-urls-all-tools.md
  src/core/visualization.ts
  src/interfaces/rest-api.ts
  src/tools/query.ts
  tests/integration/tools/query.test.ts
  tests/unit/core/visualization.test.ts
  tests/unit/helm/gateway-api.test.ts
Labels: documentation, source, tests, config

feat(prd-320): implement Mermaid diagram validation (Milestone 2.6)
  package-lock.json
  package.json
  prds/320-visualization-urls-all-tools.md
  prompts/visualize-query.md
  prompts/visualize-recommend.md
  src/core/generic-session-manager.ts
  src/core/mermaid-tools.ts
  src/core/providers/vercel-provider.ts
  src/core/visualization.ts
  src/interfaces/rest-api.ts
  src/tools/recommend.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests, dependencies, config

feat(prd-320): complete Milestone 2.7 - recommend visualization validation
  prds/320-visualization-urls-all-tools.md
  src/core/visualization.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

feat(prd-320): implement visualization cache reload parameter (Milestone 2.8)
  prds/320-visualization-urls-all-tools.md
  src/interfaces/rest-api.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

fix(visualization): don't cache fallback 'Raw Data' responses
  src/interfaces/rest-api.ts
Labels: source

feat(prd-320): implement remediate tool visualization (Milestone 3)
  devbox.json
  devbox.lock
  prds/320-visualization-urls-all-tools.md
  prompts/visualize-query.md
  prompts/visualize-recommend.md
  prompts/visualize.md
  src/core/visualization.ts
  src/interfaces/rest-api.ts
  src/tools/remediate.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests, config

feat(prd-320): implement operate tool visualization (Milestone 4)
  prds/320-visualization-urls-all-tools.md
  src/interfaces/rest-api.ts
  src/tools/operate-analysis.ts
  src/tools/operate.ts
  tests/integration/tools/operate.test.ts
Labels: source, tests

feat(prd-320): implement generateManifests visualization (Milestone 5)
  prds/320-visualization-urls-all-tools.md
  prompts/visualize.md
  src/tools/generate-manifests.ts
  src/tools/recommend.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

feat(prd-320): implement version tool visualization (Milestone 5)
  prds/320-visualization-urls-all-tools.md
  src/interfaces/rest-api.ts
  src/tools/version.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

feat(prd-320): add visualization URL documentation for recommend tool
  .mcp.json
  docs/guides/mcp-recommendation-guide.md
  docs/img/recommendation-example-01.png
  docs/img/recommendation-example-02.png
  docs/img/recommendation-example-03.png
  docs/img/recommendation-example-04.png
  prds/320-visualization-urls-all-tools.md
  scripts/dot-ai.nu
  src/tools/generate-manifests.ts
  src/tools/operate.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  src/tools/version.ts
Labels: documentation, source, config

feat(prd-320): add system status documentation with visualization
  docs/guides/mcp-tools-overview.md
  docs/guides/mcp-version-guide.md
  docs/img/version-example.png
  docs/setup/mcp-setup.md
  prds/320-visualization-urls-all-tools.md
Labels: documentation

feat(prd-320): embed visualization URL in message field for agent display
  docs/guides/mcp-remediate-guide.md
  docs/img/remediate-example-01.png
  docs/img/remediate-example-02.png
  prds/320-visualization-urls-all-tools.md
  src/tools/operate.ts
  src/tools/remediate.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
Labels: documentation, source, tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
