Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix: Update the container image tag in the deployment manifest to use valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

chore(deps): bump node 22→24, vitest 3→4, pin protobufjs to close advisories (#565)
  .github/workflows/build-qdrant-test-image.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-fork-pr.yml
  Dockerfile
  changelog.d/565-node24-vitest4-protobufjs.bugfix.md
  mock-server/Dockerfile
  mock-server/package.json
  package-lock.json
  package.json
  packages/agentic-tools/Dockerfile
  tests/integration/tools/prompts.test.ts
Labels: tests, ci-cd, dependencies, config

docs: update changelog for v1.19.0 [skip ci]
  changelog.d/459-configure-retry-behavior.feature.md
  changelog.d/565-node24-vitest4-protobufjs.bugfix.md
  changelog.d/otel-prometheus-security-advisory.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.19.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

test(providers): add VercelProvider.sendMessage error-path coverage (#464)
  changelog.d/464-vercel-provider-error-paths.misc.md
  tests/unit/core/providers/vercel-provider.errors.test.ts
Labels: tests

test(providers): add VercelProvider.sendMessage error-path coverage (#464) (#572)
  changelog.d/464-vercel-provider-error-paths.misc.md
  tests/unit/core/providers/vercel-provider.errors.test.ts
Labels: tests

docs: update changelog for v1.19.1 [skip ci]
  changelog.d/464-vercel-provider-error-paths.misc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.19.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

test(providers): add VercelProvider.toolLoop happy-path coverage (#464)
  changelog.d/464-vercel-provider-toolloop-tests.misc.md
  tests/unit/core/providers/vercel-provider.toolloop.test.ts
Labels: tests

test(providers): add VercelProvider.toolLoop happy-path coverage (#464)
  changelog.d/464-vercel-provider-toolloop-tests.misc.md
  tests/unit/core/providers/vercel-provider.toolloop.test.ts
Labels: tests

test(providers): add VercelProvider.toolLoop happy-path coverage (#464) (#574)
  changelog.d/464-vercel-provider-toolloop-tests.misc.md
  tests/unit/core/providers/vercel-provider.toolloop.test.ts
Labels: tests

docs(prd-581): create PRD #581 - per-request user prompts repository override [skip ci]
  docs/ROADMAP.md
  prds/581-per-request-user-prompts-repo.md
Labels: documentation

docs(prd-581): switch to single-source-per-request model
  prds/581-per-request-user-prompts-repo.md
Labels: none

docs(skills): anchor [skip ci] rule to commit destination [skip ci]
  .claude/skills/dot-ai-changelog-fragment/SKILL.md
  .claude/skills/dot-ai-prd-close/SKILL.md
  .claude/skills/dot-ai-prd-create/SKILL.md
  .claude/skills/dot-ai-prd-done/SKILL.md
Labels: none

docs(prds): add PRD #587 for GitHub Copilot provider with OAuth device flow
  prds/587-github-copilot-provider.md
Labels: none

fix: Fix image tag in deployment manifest to use valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prds): rewrite PRD #587 — correct token exchange approach, remove device flow
  prds/587-github-copilot-provider.md
Labels: none

fix: Fix image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(providers): add GitHub Copilot provider with token exchange
  src/core/ai-provider-factory.ts
  src/core/model-config.ts
  src/core/providers/copilot-token-exchanger.ts
  src/core/providers/vercel-provider.ts
Labels: source

docs(prd): correct host provider removal claim in PRD #587
  prds/587-github-copilot-provider.md
Labels: none

fix: Fix the invalid image tag in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid image tag in deployment manifest in Git source [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(providers): unit tests for Copilot token exchanger and vercel-provider copilot branch
  tests/unit/core/providers/copilot-token-exchanger.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: tests

fix: Fix invalid image tag in deployment manifest in Git source [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

refactor(providers): replace token-exchange with direct Bearer auth for Copilot
  package-lock.json
  src/core/providers/copilot-token-exchanger.ts
  src/core/providers/vercel-provider.ts
  tests/unit/core/providers/copilot-token-exchanger.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: source, tests, dependencies, config

docs(providers): document Copilot provider and wire GITHUB_COPILOT_TOKEN into Helm chart
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
Labels: documentation, infrastructure

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(providers): drain 401 response body and use fresh headers on retry in copilotFetch
  src/core/providers/vercel-provider.ts
  tests/unit/core/providers/vercel-provider.copilot.createOpenAI.test.ts
Labels: source, tests

fix: Fix the image tag in deployment.yaml from nginx:v999-nonexistent to nginx:latest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(providers): strip anthropic-* headers in copilotFetch and set gpt-4o as default copilot model
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
Labels: source

fix: Fix image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(providers): use createAnthropic with /v1 baseURL for Claude models on Copilot
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  tests/unit/core/providers/vercel-provider.copilot.createOpenAI.test.ts
Labels: source, tests

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

chore: configure dot-agent-deck workspace [skip ci]
  .dot-agent-deck.toml
Labels: config

Skills [skip ci]
  .claude/scheduled_tasks.lock
  .claude/settings.json
  .claude/skills/dot-ai-changelog-fragment/SKILL.md
  .claude/skills/dot-ai-impact_analysis/SKILL.md
  .claude/skills/dot-ai-prd-close/SKILL.md
  .claude/skills/dot-ai-prd-create/SKILL.md
  .claude/skills/dot-ai-prd-done/SKILL.md
  .claude/skills/dot-ai-prd-full/SKILL.md
  .claude/skills/dot-ai-tag-release/SKILL.md
  .claude/skills/dot-ai-tag-release/analyze.sh
  .claude/skills/dot-ai-worktree-prd/SKILL.md
  .claude/skills/dot-ai-worktree-prd/create.sh
  .claude/skills/dot-ai-write-docs/SKILL.md
  .dot-agent-deck/orchestrator-context.md
Labels: none

Skills [skip ci]
  .dot-agent-deck.toml
  devbox.json
Labels: config

fix: Update the deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix container image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
