Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

fix: Fix invalid image tag in deployment.yaml to use valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the container image tag in deployment.yaml from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx:latest image tag instead of non-existent nginx:v999-nonexistent [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(prd-810): cover GitOps exemption from constrained execution
  tests/integration/tools/remediate.test.ts
Labels: tests

test(prd-810): pin manual-mode refusal of free-form remediation
  tests/integration/tools/remediate.test.ts
Labels: tests

fix: Fix the invalid image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-811): injection eval corpus, harness and baselines (M1)
  .github/workflows/ci.yml
  .gitignore
  docs/dev/injection-eval-guide.md
  eval/analysis/injection/baseline_anthropic_claude-sonnet-5.json
  eval/analysis/injection/baseline_anthropic_claude-sonnet-5.md
  eval/analysis/injection/baseline_google_flash_gemini-3.6-flash.json
  eval/analysis/injection/baseline_google_flash_gemini-3.6-flash.md
  eval/datasets/injection-corpus-v1.jsonl
  package.json
  prds/811-untrusted-content-boundary.md
  src/evaluation/injection/composition.ts
  src/evaluation/injection/corpus.ts
  src/evaluation/injection/detectors.ts
  src/evaluation/injection/fixtures.ts
  src/evaluation/injection/judge.ts
  src/evaluation/injection/report.ts
  src/evaluation/injection/run-injection-eval.ts
  src/evaluation/injection/runner.ts
  src/evaluation/injection/types.ts
  src/evaluation/prompts/injection-resistance-judge.md
  tests/integration/evaluation/injection-eval.test.ts
  tests/unit/evaluation/injection/composition.test.ts
  tests/unit/evaluation/injection/corpus.test.ts
  tests/unit/evaluation/injection/detectors.test.ts
  tests/unit/evaluation/injection/fixtures.test.ts
  tests/unit/evaluation/injection/judge.test.ts
  tests/unit/evaluation/injection/plugin-tool-source.ts
  tests/unit/evaluation/injection/report.test.ts
  tests/unit/evaluation/injection/run-injection-eval.test.ts
  tests/unit/evaluation/injection/runner.test.ts
Labels: documentation, source, tests, ci-cd, dependencies, config

feat(remediate): constrained execution path for automatic remediation (#810)
  changelog.d/810.feature.md
  charts/templates/deployment.yaml
  charts/values.yaml
  docs/ai-engine/tools/remediate.md
  packages/agentic-tools/src/tools/base.ts
  packages/agentic-tools/src/tools/kubectl-delete-dryrun.ts
  packages/agentic-tools/src/tools/kubectl-delete.ts
  packages/agentic-tools/src/tools/kubectl-patch-dryrun.ts
  packages/agentic-tools/src/tools/kubectl-patch.ts
  packages/agentic-tools/tests/unit/base-execution.test.ts
  packages/agentic-tools/tests/unit/tools.test.ts
  prds/810-constrained-automatic-remediation.md
  prompts/remediate-system-constrained.md
  src/core/remediation-constraints.ts
  src/tools/remediate.ts
  tests/unit/tools/remediate-constrained-execution.test.ts
  tests/unit/tools/remediate-constrained-first-gate.test.ts
  tests/unit/tools/remediate-constrained-hardening.test.ts
Labels: documentation, source, tests, infrastructure

docs(prd-811): resolve design decisions #2 and #4
  prds/811-untrusted-content-boundary.md
Labels: none

fix: Update the image tag in deployment.yaml from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml in Git to use a valid nginx image tag (nginx:latest instead of nginx:v999-nonexistent) [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(prd-810): clear prior-run leftovers in constrained-execution beforeAll
  tests/integration/tools/remediate.test.ts
Labels: tests

fix(remediate): address CodeRabbit review round 1 on PR #822
  charts/templates/deployment.yaml
  packages/agentic-tools/src/tools/base.ts
  packages/agentic-tools/tests/unit/base-execution.test.ts
  prompts/remediate-system-constrained.md
  tests/unit/helm/remediation-constrained-execution.test.ts
Labels: tests, infrastructure

fix(deps): clear npm audit findings flagged on PR #822's Security Analysis check
  package-lock.json
  package.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
Labels: dependencies, config

fix: Fix invalid image tag in deployment manifest by changing 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag from 'nginx:v999-nonexistent' to 'nginx:1.25' in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(tests): remove shell interpolation from helm test invocation
  tests/unit/helm/remediation-constrained-execution.test.ts
Labels: tests

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid image tag in deployment manifest in Git source repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-811): delimit and frame untrusted tool output (M2, M3)
  .github/workflows/ci.yml
  eval/analysis/injection/baseline_anthropic_claude-sonnet-5.json
  eval/analysis/injection/baseline_anthropic_claude-sonnet-5.md
  eval/analysis/injection/baseline_google_flash_gemini-3.6-flash.json
  eval/analysis/injection/baseline_google_flash_gemini-3.6-flash.md
  prds/811-untrusted-content-boundary.md
  prompts/operate-system.md
  prompts/remediate-system.md
  src/core/untrusted-content.ts
  src/evaluation/injection/composition.ts
  src/tools/operate-analysis.ts
  src/tools/remediate.ts
  tests/integration/evaluation/injection-eval.test.ts
  tests/integration/helpers/model-prompt-capture.ts
  tests/integration/tools/untrusted-content-boundary.test.ts
  tests/unit/core/untrusted-content.test.ts
  tests/unit/evaluation/injection/composition.test.ts
Labels: source, tests, ci-cd

fix(readiness): decouple collection-existence and count checks in /readyz
  docs/ai-engine/api/rest-api.md
  src/tools/version.ts
  tests/unit/tools/version-readiness.test.ts
Labels: documentation, source, tests

fix: Fix invalid container image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid Docker image tag in deployment manifest in Git repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid nginx image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-810): record review round, unrelated fixes, and new follow-ups
  prds/810-constrained-automatic-remediation.md
Labels: none

fix: Fix image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment.yaml from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(remediate): constrained execution path for automatic remediation (#822)
  changelog.d/810.feature.md
  charts/templates/deployment.yaml
  charts/values.yaml
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/remediate.md
  package-lock.json
  package.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
  packages/agentic-tools/src/tools/base.ts
  packages/agentic-tools/src/tools/kubectl-delete-dryrun.ts
  packages/agentic-tools/src/tools/kubectl-delete.ts
  packages/agentic-tools/src/tools/kubectl-patch-dryrun.ts
  packages/agentic-tools/src/tools/kubectl-patch.ts
  packages/agentic-tools/tests/unit/base-execution.test.ts
  packages/agentic-tools/tests/unit/tools.test.ts
  prds/810-constrained-automatic-remediation.md
  prompts/remediate-system-constrained.md
  src/core/remediation-constraints.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/helpers/api-shapes.ts
  tests/integration/tools/remediate.test.ts
  tests/unit/helm/remediation-constrained-execution.test.ts
  tests/unit/tools/remediate-constrained-execution.test.ts
  tests/unit/tools/remediate-constrained-first-gate.test.ts
  tests/unit/tools/remediate-constrained-hardening.test.ts
  tests/unit/tools/version-readiness.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs(prd-810): archive completed PRD to prds/done [skip ci]
  prds/done/810-constrained-automatic-remediation.md
Labels: none

fix: Update the container image tag in the deployment manifest from invalid 'nginx:v999-nonexistent' to valid 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid nginx image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-811): additive evidence field and validation-hop fences (M4-M6)
  README.md
  docs/ai-engine/index.md
  docs/ai-engine/operations/observability.md
  docs/ai-engine/operations/untrusted-content.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/remediate.md
  prds/811-untrusted-content-boundary.md
  prompts/operate-system.md
  prompts/operate-user.md
  prompts/operate-validation-issue.md
  prompts/remediate-system.md
  prompts/remediate-user.md
  prompts/remediate-validation-issue.md
  prompts/validation-evidence.md
  schema/openapi.json
  src/core/shared-prompt-loader.ts
  src/core/untrusted-content.ts
  src/evaluation/injection/composition.ts
  src/interfaces/rest-api.ts
  src/tools/operate-analysis.ts
  src/tools/operate-execution.ts
  src/tools/operate.ts
  src/tools/remediate.ts
  tests/integration/helpers/model-prompt-capture.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/untrusted-content-boundary.test.ts
  tests/unit/evaluation/injection/composition.test.ts
  tests/unit/tools/operate-user-message.test.ts
  tests/unit/tools/remediate-response-shape.test.ts
  tests/unit/tools/validation-hop-composition.test.ts
Labels: documentation, source, tests

fix(prd-811): frame untrusted content in the constrained system prompt too
  prompts/remediate-system-constrained.md
  src/evaluation/injection/composition.ts
  tests/unit/evaluation/injection/composition.test.ts
Labels: source, tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests
