Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix: address CodeRabbit review and fix dex helm unit tests
  docs/ROADMAP.md
  prds/done/369-openai-gpt53-codex-update.md
  tests/unit/helm/dex.test.ts
Labels: documentation, tests

fix(security): patch express-rate-limit IPv4-mapped IPv6 bypass
  package-lock.json
  package.json
Labels: dependencies, config

feat(openai): update default model from gpt-5.1-codex to gpt-5.4 (#398)
  changelog.d/369.feature.md
  docs/ROADMAP.md
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  prds/done/369-openai-gpt53-codex-update.md
  src/core/model-config.ts
  tests/unit/helm/dex.test.ts
Labels: documentation, source, tests, dependencies, config

feat(prd-392): implement RBAC enforcement module (Milestone 1)
  prds/392-rbac-enforcement.md
  src/core/rbac/check-access.ts
  src/core/rbac/index.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/auth.test.ts
  tests/integration/tools/rbac.test.ts
Labels: source, tests

docs(prd): close PRD #156 and #197 - no longer needed [skip ci]
  docs/ROADMAP.md
  prds/done/156-ai-evaluation-standards-compliance.md
  prds/done/197-multi-step-workflow-distributed-tracing.md
Labels: documentation

feat(prd-392): validate Milestone 1 integration tests and fix test reliability
  prds/392-rbac-enforcement.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/operate.test.ts
  tests/integration/tools/query.test.ts
Labels: tests

docs(prd): close PRD #199 - A2A protocol support no longer needed [skip ci]
  docs/ROADMAP.md
  prds/done/199-a2a-protocol-support.md
Labels: documentation

docs(prd): close PRD #307 - elicitation already implemented [skip ci]
  docs/ROADMAP.md
  prds/done/307-elicitation-enhancement.md
Labels: documentation

docs(prd): close PRD #347 - superseded by PRD #392 RBAC-filtered tool discovery [skip ci]
  docs/ROADMAP.md
  prds/done/347-mcp-tool-filtering.md
Labels: documentation

feat(kimi): upgrade to Kimi K2.5 with AI SDK v6 (#353)
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  prds/353-kimi-k25-support.md
  src/core/ai-provider-factory.ts
  src/core/embedding-service.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
Labels: documentation, source, infrastructure, dependencies, config

docs: add changelog fragment and archive PRD #353
  changelog.d/353.feature.md
  docs/ROADMAP.md
  prds/done/353-kimi-k25-support.md
Labels: documentation

docs: address CodeRabbit review feedback
  changelog.d/353.feature.md
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
Labels: documentation, infrastructure

feat(prd-392): implement verb mapping for multi-phase tools (Milestone 2)
  prds/392-rbac-enforcement.md
  src/tools/generate-manifests.ts
  src/tools/operate.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  tests/integration/tools/rbac.test.ts
Labels: source, tests

feat(kimi): upgrade to Kimi K2.5 with AI SDK v6 (#399)
  changelog.d/353.feature.md
  charts/values.yaml
  docs/ROADMAP.md
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  prds/done/353-kimi-k25-support.md
  src/core/ai-provider-factory.ts
  src/core/embedding-service.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
Labels: documentation, source, infrastructure, dependencies, config

docs(prd): close PRD #361 - superseded by PRD #392 RBAC-filtered tool discovery [skip ci]
  docs/ROADMAP.md
  prds/done/361-user-specific-permissions.md
Labels: documentation

feat(prd-392): add Helm chart RBAC ClusterRoles and ServiceAccount binding (Milestone 3)
  charts/templates/deployment.yaml
  charts/templates/rbac-enforcement.yaml
  charts/values.yaml
  prds/392-rbac-enforcement.md
  src/core/schema.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/rbac.test.ts
Labels: source, tests, infrastructure

docs(prd): update PRD #362 with simplified Git push UX decisions [skip ci]
  prds/362-git-operations-recommend.md
Labels: none

feat(recommend): add pushToGit stage for GitOps workflows (PRD #395 Milestone 1)
  src/tools/generate-manifests.ts
  src/tools/push-to-git.ts
  src/tools/recommend.ts
Labels: source

feat(prd-392): implement audit logging for RBAC decisions (Milestone 5)
  prds/392-rbac-enforcement.md
  src/core/rbac/audit-logger.ts
  src/core/rbac/check-access.ts
  src/core/rbac/index.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/rbac.test.ts
Labels: source, tests

feat(recommend): add pushToGit stage for GitOps workflows (PRD #395 Milestone 1-3)
  docs/gitops-push-to-git.md
  packages/agentic-tools/package-lock.json
  prds/395-git-push-recommend-integration.md
  tests/unit/tools/push-to-git.test.ts
Labels: documentation, tests

feat(recommend): complete PRD #395 Milestone 2-4
  charts/values.yaml
  docs/ai-engine/tools/recommend.md
  prds/395-git-push-recommend-integration.md
  src/tools/push-to-git.ts
  tests/unit/tools/push-to-git.test.ts
Labels: documentation, source, tests, infrastructure

feat(prd-392): implement ClusterRole simplification and mutation verb enforcement (Milestone 8)
  charts/templates/rbac-enforcement.yaml
  prds/392-rbac-enforcement.md
  src/tools/manage-knowledge.ts
  src/tools/organizational-data.ts
  tests/integration/tools/rbac.test.ts
Labels: source, tests, infrastructure

fix(recommend): address pushToGit review feedback
  charts/values.yaml
  docs/ai-engine/tools/recommend.md
  docs/gitops-push-to-git.md
  prds/395-git-push-recommend-integration.md
  src/tools/push-to-git.ts
  tests/integration/tools/recommend.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: documentation, source, tests, infrastructure

fix(recommend): address CodeRabbit empty files and author field feedback
  src/tools/push-to-git.ts
  tests/unit/tools/push-to-git.test.ts
Labels: source, tests

fix(tests): add typed interfaces for CodeRabbit nitpick feedback
  tests/integration/tools/recommend.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: tests

fix(recommend): address CodeRabbit race condition and path traversal feedback
  src/tools/push-to-git.ts
  tests/unit/tools/push-to-git.test.ts
Labels: source, tests

fix(tests): add non-null assertion for pushedFile in integration test
  tests/integration/tools/recommend.test.ts
Labels: tests

feat(prd-392): add RBAC authorization documentation (Milestone 6)
  .claude/skills/write-docs/SKILL.md
  docs/ai-engine/setup/authentication.md
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/connectors.md
  docs/ai-engine/setup/deployment.md
  prds/392-rbac-enforcement.md
Labels: documentation

docs(prd-401): create PRD #401 - namespace-level RBAC via Kubernetes user impersonation [skip ci]
  docs/ROADMAP.md
  prds/401-namespace-rbac-impersonation.md
Labels: documentation

feat(prd-392): resolve namespace enforcement design decision → PRD #401
  prds/392-rbac-enforcement.md
Labels: none

feat(prd-392): send client-side RBAC integration feature requests (Milestone 7)
  prds/392-rbac-enforcement.md
Labels: none

feat(prd-392): complete RBAC enforcement PRD and archive
  changelog.d/353.feature.md
  changelog.d/392.feature.md
  docs/ROADMAP.md
  prds/done/156-ai-evaluation-standards-compliance.md
  prds/done/197-multi-step-workflow-distributed-tracing.md
  prds/done/199-a2a-protocol-support.md
  prds/done/307-elicitation-enhancement.md
  prds/done/347-mcp-tool-filtering.md
  prds/done/353-kimi-k25-support.md
  prds/done/361-user-specific-permissions.md
  prds/done/392-rbac-enforcement.md
Labels: documentation

fix: restore unrelated PRD files to main branch versions
  prds/done/156-ai-evaluation-standards-compliance.md
  prds/done/197-multi-step-workflow-distributed-tracing.md
  prds/done/199-a2a-protocol-support.md
  prds/done/307-elicitation-enhancement.md
  prds/done/347-mcp-tool-filtering.md
  prds/done/353-kimi-k25-support.md
  prds/done/361-user-specific-permissions.md
Labels: none

fix: resolve merge conflicts with main
  docs/ROADMAP.md
Labels: documentation

fix(deps): update hono to 4.12.7 to resolve prototype pollution vulnerability
  package-lock.json
Labels: dependencies, config

feat(rbac): enforce Kubernetes RBAC for tool-level authorization (#402)
  .claude/skills/write-docs/SKILL.md
  changelog.d/392.feature.md
  charts/templates/deployment.yaml
  charts/templates/rbac-enforcement.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/ai-engine/setup/authentication.md
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/connectors.md
  docs/ai-engine/setup/deployment.md
  package-lock.json
  prds/392-rbac-enforcement.md
  prds/401-namespace-rbac-impersonation.md
  prds/done/392-rbac-enforcement.md
  src/core/rbac/audit-logger.ts
  src/core/rbac/check-access.ts
  src/core/rbac/index.ts
  src/core/schema.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/tools/generate-manifests.ts
  src/tools/manage-knowledge.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/auth.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/rbac.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs: update changelog for v1.8.0 [skip ci]
  changelog.d/353.feature.md
  changelog.d/369.feature.md
  changelog.d/392.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: restore changelog fragments after failed v1.8.0 release
  changelog.d/353.feature.md
  changelog.d/369.feature.md
  changelog.d/392.feature.md
  docs/CHANGELOG.md
Labels: documentation

docs: update changelog for v1.8.1 [skip ci]
  changelog.d/353.feature.md
  changelog.d/369.feature.md
  changelog.d/392.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.8.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
