Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

chore(prd-250): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/250-third-party-application-installation.md
Labels: documentation

fix: address CodeRabbit review feedback
  Dockerfile
  renovate.json
  src/core/helm-utils.ts
  src/core/schema.ts
Labels: source, ci-cd, config

feat(recommend): add third-party application installation via Helm charts (#252)
  Dockerfile
  README.md
  docs/ROADMAP.md
  docs/mcp-recommendation-guide.md
  docs/mcp-tools-overview.md
  prds/251-helm-day2-operations.md
  prds/done/250-third-party-application-installation.md
  prompts/capabilities-generation.md
  prompts/helm-chart-selection.md
  prompts/helm-generation.md
  prompts/intent-analysis.md
  prompts/question-generation.md
  prompts/resource-selection.md
  renovate.json
  shared-prompts/prd-start.md
  src/core/artifacthub.ts
  src/core/helm-types.ts
  src/core/helm-utils.ts
  src/core/index.ts
  src/core/schema.ts
  src/core/solution-cr.ts
  src/tools/answer-question.ts
  src/tools/choose-solution.ts
  src/tools/deploy-manifests.ts
  src/tools/generate-manifests.ts
  src/tools/recommend.ts
  tests/integration/infrastructure/kind-test.yaml
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests, ci-cd, config

chore: coordinated release v0.152.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix: update deprecated regexManagers to customManagers [skip ci]
  renovate.json
Labels: config

docs(prd-251): add design decisions for Helm investigation tools and direct testing [skip ci]
  prds/251-helm-day2-operations.md
Labels: none

docs(prd): restructure GitOps PRDs into focused increments [skip ci]
  docs/ROADMAP.md
  prds/254-argocd-third-party-helm.md
  prds/255-argocd-packaged-recommendations.md
  prds/256-flux-integration.md
  prds/done/202-gitops-integration.md
Labels: documentation

feat(chart): add cert-manager clusterIssuer support for TLS
  charts/templates/ingress.yaml
  charts/values.yaml
Labels: infrastructure

docs(setup): add TLS configuration section
  docs/setup/kubernetes-setup.md
Labels: documentation

fix(ci): always bump version from npm to avoid race conditions
  .github/workflows/ci.yml
  docs/ROADMAP.md
  prds/257-bearer-token-authentication.md
  shared-prompts/prd-create.md
Labels: documentation, ci-cd

chore: coordinated release v0.154.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-257): implement Bearer token authentication for HTTP transport
  CLAUDE.md
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  prds/257-bearer-token-authentication.md
  src/interfaces/auth.ts
  src/interfaces/mcp.ts
  tests/integration/helpers/test-base.ts
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, source, tests, infrastructure

feat(prd-257): add consistent error responses and documentation for auth
  docs/mcp-setup.md
  docs/setup/kubernetes-setup.md
  prds/257-bearer-token-authentication.md
  src/interfaces/error-response.ts
  src/interfaces/mcp.ts
Labels: documentation, source

chore(prd-257): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/257-bearer-token-authentication.md
Labels: documentation

fix(auth): handle array header type and case-insensitive Bearer scheme
  src/interfaces/auth.ts
Labels: source

test(recommend): add guards and error logging for Helm workflow
  tests/integration/tools/recommend.test.ts
Labels: tests

fix(auth): replace regex with string operations to avoid ReDoS
  src/interfaces/auth.ts
Labels: source

feat(auth): add Bearer token authentication for HTTP transport (#258)
  CLAUDE.md
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/mcp-setup.md
  docs/setup/kubernetes-setup.md
  prds/done/257-bearer-token-authentication.md
  src/interfaces/auth.ts
  src/interfaces/error-response.ts
  src/interfaces/mcp.ts
  tests/integration/helpers/test-base.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests, infrastructure

chore: coordinated release v0.155.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix: update Renovate config and MCP auth header [skip ci]
  .env.vals.yaml
  .mcp-kubernetes.json
  renovate.json
Labels: config

fix: migrate matchFiles to matchFileNames in Renovate config [skip ci]
  renovate.json
Labels: config

fix: remove customManagers to test if it fixes Renovate config [skip ci]
  renovate.json
Labels: config

fix(docker): use COPY --from for kubectl/helm instead of custom downloads
  Dockerfile
Labels: ci-cd

fix(docker): use COPY --from for kubectl/helm instead of custom downloads (#261)
  Dockerfile
Labels: ci-cd

chore: coordinated release v0.156.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: add YouTube video and clarify guide title [skip ci]
  docs/mcp-project-setup-guide.md
Labels: documentation

docs(prd-179): close PRD #179 - superseded by dot-ai-website [skip ci]
  docs/ROADMAP.md
  prds/done/179-project-website-documentation-portal.md
Labels: documentation

Docs [skip ci]
  README.md
Labels: documentation

Docs [skip ci]
  README.md
  assets/images/logo.jpeg
  assets/images/logo.png
Labels: documentation

Docs [skip ci]
  README.md
Labels: documentation

Docs [skip ci]
  README.md
Labels: documentation

Docs [skip ci]
  README.md
Labels: documentation

Docs [skip ci]
  docs/mcp-setup.md
Labels: documentation

Docs [skip ci]
  docs/mcp-setup.md
  docs/setup/docker-setup.md
  docs/setup/npx-setup.md
Labels: documentation

Docs [skip ci]
  docs/dev/development-setup.md
  docs/dev/integration-testing-guide.md
  docs/diags.md
  docs/guides/_category_.yml
  docs/guides/mcp-capability-management-guide.md
  docs/guides/mcp-operate-guide.md
  docs/guides/mcp-project-setup-guide.md
  docs/guides/mcp-prompts-guide.md
  docs/guides/mcp-recommendation-guide.md
  docs/guides/mcp-remediate-guide.md
  docs/guides/mcp-tools-overview.md
  docs/guides/observability-guide.md
  docs/guides/organizational-data-concepts.md
  docs/guides/pattern-management-guide.md
  docs/guides/policy-management-guide.md
  docs/guides/rest-api-gateway-guide.md
  docs/quick-start.md
  docs/setup/_category_.yml
  docs/setup/docker-setup.md
  docs/setup/kagent-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  docs/setup/mcp-setup.md
  docs/setup/npx-setup.md
Labels: documentation

Docs [skip ci]
  README.md
Labels: documentation

Docs [skip ci]
  README.md
Labels: documentation

Docs [skip ci]
  docs/diags.md
Labels: documentation

Docs [skip ci]
  README.md
  assets/images/logo-orig.jpeg
  assets/images/logo.jpeg
  docs/dev/development-setup.md
  docs/diags.md
  docs/guides/mcp-capability-management-guide.md
  docs/guides/mcp-operate-guide.md
  docs/guides/mcp-project-setup-guide.md
  docs/guides/mcp-prompts-guide.md
  docs/guides/mcp-recommendation-guide.md
  docs/guides/mcp-remediate-guide.md
  docs/guides/mcp-tools-overview.md
  docs/guides/observability-guide.md
  docs/guides/organizational-data-concepts.md
  docs/guides/pattern-management-guide.md
  docs/guides/policy-management-guide.md
  docs/guides/rest-api-gateway-guide.md
  docs/quick-start.md
  docs/setup/docker-setup.md
  docs/setup/kagent-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  docs/setup/mcp-setup.md
  docs/setup/npx-setup.md
Labels: documentation

docs(prd-262): create PRD #262 - Documentation Validation System Phase 1 [skip ci]
  docs/ROADMAP.md
  prds/262-documentation-validation-phase1.md
Labels: documentation
