Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

docs(prd-329): create PRD #329 - PostHog telemetry for usage analytics [skip ci]
  docs/ROADMAP.md
  prds/329-posthog-telemetry.md
Labels: documentation

feat(prd-328): add request throttling to prevent 429 rate limit errors
  src/core/kubernetes-utils.ts
  src/core/vector-db-service.ts
Labels: source

fix(tests): improve test isolation and consistency
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/recommend.test.ts
Labels: tests

docs(prd-328): mark PRD as complete and archive
  docs/ROADMAP.md
  prds/done/328-dashboard-http-api.md
Labels: documentation

feat(prd-328): add sessionId to visualization mode query response
  examples/reset-sync-and-scan-test-cluster.sh
  prds/328-dashboard-http-api.md
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat: add [visualization] prefix mode to query tool for direct visualization output
  examples/reset-sync-and-scan-test-cluster.sh
  prompts/partials/query-simple-output.md
  prompts/partials/visualization-output.md
  prompts/query-system.md
  prompts/visualize.md
  src/core/visualization.ts
  src/interfaces/rest-api.ts
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

chore: add kind to devbox dependencies
  devbox.json
  devbox.lock
Labels: config

docs: add web UI references to MCP guide pages
  docs/guides/mcp-operate-guide.md
  docs/guides/mcp-query-guide.md
  docs/guides/mcp-recommendation-guide.md
  docs/guides/mcp-remediate-guide.md
Labels: documentation

feat(prd-328): complete Dashboard HTTP API + add visualization status fields
  .claude/skills/process-feature-request/SKILL.md
  .claude/skills/query-dot-ai/SKILL.md
  .claude/skills/request-dot-ai-feature/SKILL.md
  devbox.json
  package-lock.json
  prds/328-dashboard-http-api.md
  prompts/partials/visualization-output.md
  scripts/reset-sync-and-scan-test-cluster.sh
Labels: dependencies, config

feat(prd-328): add generic session retrieval endpoint and stability fixes
  prds/328-dashboard-http-api.md
  prompts/partials/visualization-output.md
  src/core/base-vector-service.ts
  src/core/capability-operations.ts
  src/core/vector-db-service.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

docs(prd-328): add Why DevOps AI Toolkit differentiation page
  README.md
  docs/index.md
  docs/why-devops-ai-toolkit.md
Labels: documentation

chore: update devbox.lock
  devbox.lock
Labels: none

feat(prd-328): add bar-chart visualization type for metrics data
  .claude/skills/process-feature-request/SKILL.md
  .claude/skills/request-dot-ai-feature/SKILL.md
  prds/328-dashboard-http-api.md
  prompts/partials/visualization-output.md
  src/core/visualization.ts
  src/interfaces/rest-api.ts
  src/tools/query.ts
Labels: source

feat: add agentInstructions to deployment response for verification guidance
  src/tools/deploy-manifests.ts
Labels: source

feat(prd-328): add recommend workflow session state persistence for UI page refresh
  prompts/partials/visualization-output.md
  prompts/query-system.md
  src/tools/answer-question.ts
  src/tools/choose-solution.ts
  src/tools/deploy-manifests.ts
  src/tools/generate-manifests.ts
  src/tools/recommend.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

feat(prd-328): add semantic search endpoint with score and minScore parameters
  devbox.json
  prds/328-dashboard-http-api.md
  prompts/resource-selection.md
  src/core/base-vector-service.ts
  src/core/packaging.ts
  src/core/resource-tools.ts
  src/core/resource-vector-service.ts
  src/core/vector-db-service.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests, config

fix: address CodeRabbit review feedback and security vulnerabilities
  .claude/skills/request-dot-ai-feature/SKILL.md
  devbox.json
  package-lock.json
  prompts/partials/visualization-output.md
  scripts/reset-sync-and-scan-test-cluster.sh
  src/core/capability-operations.ts
  src/core/capability-vector-service.ts
  src/core/vector-db-service.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests, dependencies, config

fix: address additional CodeRabbit review feedback
  src/core/kubectl-tools.ts
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
Labels: source

fix(tests): resolve test failures from race conditions and kind matching
  src/core/capability-vector-service.ts
  tests/integration/tools/manage-org-data-policies.test.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

docs(changelog): add fragment for PRD #328 dashboard HTTP API
  changelog.d/328.feature.md
Labels: none

chore: coordinated release v0.193.0
  changelog.d/328.feature.md
  changelog.d/331.misc.md
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

Skill [skip ci]
  .claude/skills/changelog-fragment/SKILL.md
  devbox.lock
Labels: none

chore: add changelog-fragment and tag-release skills
  .claude/skills/changelog-fragment/SKILL.md
  .claude/skills/tag-release/SKILL.md
Labels: none

Query
  dot.nu
Labels: none

dot.nu [skip ci]
  dot.nu
Labels: none

Anthropic key
  .env.vals.yaml
  CLAUDE.md
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, tests, config

Commands vs. MCP vs. Skills
  .claude/commands/create-cicd.md
Labels: none

Examples [skip ci]
  .gitignore
  examples/sql.yaml
Labels: none

dot.nu [skip ci]
  scripts/dot-ai.nu
Labels: none

dot.nu [skip ci]
  scripts/dot-ai.nu
Labels: none

docs(prd-322): close PRD #322 - superseded by UI dashboard [skip ci]
  docs/ROADMAP.md
  prds/done/322-ide-native-visualization.md
Labels: documentation

refactor: remove user feedback collection functionality
  .github/ISSUE_TEMPLATE/config.yml
  CLAUDE.md
  README.md
  docs/setup/mcp-setup.md
  src/core/agent-display.ts
  src/core/feedback.ts
  src/core/index.ts
  src/tools/generate-manifests.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/project-setup.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
Labels: documentation, source, tests

feat(prd-329): implement PostHog telemetry foundation (M1)
  package-lock.json
  package.json
  prds/329-posthog-telemetry.md
  src/core/telemetry/client.ts
  src/core/telemetry/config.ts
  src/core/telemetry/index.ts
  src/core/telemetry/types.ts
  tests/integration/infrastructure/run-integration-tests.sh
Labels: source, tests, dependencies, config

feat(prd-329): implement tool execution telemetry (M2)
  prds/329-posthog-telemetry.md
  src/core/tracing/tool-tracing.ts
  tests/unit/core/telemetry/telemetry.test.ts
Labels: source, tests

feat(prd-329): implement server lifecycle telemetry (M3)
  prds/329-posthog-telemetry.md
  src/core/telemetry/client.ts
  src/core/telemetry/types.ts
  src/core/tracing/index.ts
  src/core/tracing/tool-tracing.ts
  src/interfaces/mcp.ts
  src/mcp/server.ts
  tests/unit/core/telemetry/telemetry.test.ts
Labels: source, tests

feat(prd-329): add is_internal flag for PostHog filtering
  src/core/telemetry/client.ts
  src/core/telemetry/types.ts
Labels: source

feat(prd-329): make telemetry configurable in integration tests
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

fix(prd-329): pass CI=true to integration test pods
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

feat(prd-329): distinguish HTTP vs MCP clients in telemetry
  src/interfaces/mcp.ts
Labels: source

docs(prd-329): update progress log with M3 enhancements
  prds/329-posthog-telemetry.md
Labels: none

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
