Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

feat(recommend): PR mode for the pushToGit stage (PRD #710 M2)
  src/core/git-utils.ts
  src/core/internal-tools.ts
  src/tools/generate-manifests.ts
  src/tools/push-to-git.ts
  src/tools/recommend.ts
  tests/unit/core/git-utils-create-pr.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: source, tests

test(recommend): name exact shas instead of racing GitHub reads (PRD #710 M2)
  tests/integration/tools/recommend.test.ts
Labels: tests

feat(recommend): gate the two push modes on apply vs execute (PRD #710 M3)
  src/tools/generate-manifests.ts
  src/tools/recommend.ts
  tests/unit/tools/recommend-push-to-git-rbac.test.ts
Labels: source, tests

docs(recommend): document PR mode for pushToGit (PRD #710)
  charts/values.yaml
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
Labels: documentation, infrastructure

chore(recommend): regenerate OpenAPI, tighten pins, correct two comments (PRD #710)
  schema/openapi.json
  src/core/git-utils.ts
  src/tools/push-to-git.ts
  tests/unit/core/git-utils-create-pr.test.ts
  tests/unit/tools/remediate-response-shape.test.ts
Labels: source, tests

docs(prd-710): mark M1-M4 complete, record deviations [skip ci]
  prds/710-pushtogit-pull-request-workflow.md
Labels: none

fix(git): close three pre-existing credential/path findings (PRD #710)
  charts/templates/deployment.yaml
  charts/values.yaml
  mock-server/prompts-override.ts
  src/core/git-utils.ts
  src/tools/push-to-git.ts
  tests/unit/core/git-utils-security.test.ts
  tests/unit/helm/gitops-allowed-repo-hosts.test.ts
  tests/unit/mock-server/scrub-credentials-mirror.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: source, tests, infrastructure

fix(prompts): withhold the server git credential from a client-named host (PRD #710)
  src/core/git-utils.ts
  src/core/user-prompts-loader.ts
  tests/unit/core/user-prompts-server-credential.test.ts
Labels: source, tests

docs(prd-710): record that repository allowlisting now ships here [skip ci]
  prds/710-pushtogit-pull-request-workflow.md
Labels: none

docs(prd-710): document the repo-host allowlist and breaking change #2
  charts/values.yaml
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/recommend.md
Labels: documentation, infrastructure

test(recommend): pin the pushToGit repository host allowlist end to end (PRD #710)
  tests/integration/tools/recommend.test.ts
Labels: tests

docs(prd-710): correct the GitLab-token claim, bound the SSRF caveat (PRD #710)
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/remediate.md
Labels: documentation

docs(prd-710): fold in the https-only rule and remediate's credential gate (PRD #710)
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
Labels: documentation

fix(git): refuse writes into <clone>/.git and gate the clone scheme (PRD #710)
  charts/templates/deployment.yaml
  prds/710-pushtogit-pull-request-workflow.md
  src/core/git-utils.ts
  src/core/internal-tools.ts
  tests/unit/core/git-utils-security.test.ts
  tests/unit/core/remediate-git-clone-credential.test.ts
  tests/unit/helm/gitops-allowed-repo-hosts.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: source, tests, infrastructure

docs(prd-710): carry the https-only rule into the pages it missed (PRD #710)
  charts/values.yaml
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/recommend.md
Labels: documentation, infrastructure

fix(git): give the prompts path the same scheme/host split (PRD #710)
  src/core/git-utils.ts
  src/core/user-prompts-loader.ts
  src/tools/push-to-git.ts
  tests/unit/core/git-utils-security.test.ts
  tests/unit/core/user-prompts-server-credential.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: source, tests

fix(prompts): refuse a non-public IP literal in the ?repo= override (PRD #710)
  src/core/user-prompts-loader.ts
  tests/unit/core/user-prompts-loader.test.ts
  tests/unit/interfaces/rest-api-prompts-override.test.ts
Labels: source, tests

test(prompts): pin the ?repo= non-public-IP refusal end to end (PRD #710)
  tests/integration/tools/prompts.test.ts
Labels: tests

docs(prd-710): correct the SSRF sections for the shipped IP-literal refusal [skip ci]
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
Labels: documentation

docs(changelog): add breaking-change fragments for PRD #710
  changelog.d/710-git-credential-host-allowlist.breaking.md
  changelog.d/710-pushtogit-apply-verb-and-path-guards.breaking.md
Labels: none

fix: Fix the invalid nginx image tag in deployment.yaml from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(rbac): assert the allowed pushToGit calls reached the handler (PRD #710)
  tests/integration/tools/rbac.test.ts
Labels: tests

test(recommend): make pushToGit cleanup independent and non-masking (PRD #710)
  tests/integration/tools/recommend.test.ts
Labels: tests

fix(recommend): stop advertising deployManifests without 'apply' (PRD #710)
  package-lock.json
  package.json
  src/tools/generate-manifests.ts
  src/tools/remediate.ts
  tests/unit/core/git-utils-create-pr.test.ts
  tests/unit/tools/recommend-push-to-git-rbac.test.ts
  tests/unit/tools/remediate-response-shape.test.ts
Labels: source, tests, dependencies, config

docs(prd-710): correct the no-config claim and the M5 status [skip ci]
  prds/710-pushtogit-pull-request-workflow.md
Labels: none

docs(prd-710): address CodeRabbit review on PR #716 [skip ci]
  changelog.d/710-git-credential-host-allowlist.breaking.md
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
Labels: documentation

fix: Fix invalid image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment manifest from invalid 'nginx:v999-nonexistent' to valid 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(recommend): use toMatchObject for the cleanup assertion (PRD #710)
  tests/integration/tools/recommend.test.ts
Labels: tests

fix: Update the deployment image from invalid tag to valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(deps): declare js-yaml as a runtime dependency (PRD #710)
  package-lock.json
  package.json
Labels: dependencies, config

docs(prd-710): address CodeRabbit round 2 [skip ci]
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
Labels: documentation

fix: Update deployment.yaml to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-710): qualify pushed_without_pr with its preconditions [skip ci]
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
Labels: documentation

chore(deps): clear pre-existing npm audit advisories
  package-lock.json
  package.json
Labels: dependencies, config

chore(deps): bump OpenTelemetry SDK to 0.220.0 to clear GHSA-45rx-2jwx-cxfr
  package-lock.json
  package.json
Labels: dependencies, config

fix: Update deployment.yaml to use valid nginx image tag 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment.yaml from 'nginx:v999-nonexistent' to 'nginx:1.27.0' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-710): allow www.github.com by default in the repo-host allowlist
  charts/values.yaml
  src/core/git-utils.ts
  tests/unit/core/git-utils-security.test.ts
  tests/unit/core/user-prompts-server-credential.test.ts
  tests/unit/helm/gitops-allowed-repo-hosts.test.ts
Labels: source, tests, infrastructure

docs(prd-710): default allowlist is now github.com + www.github.com [skip ci]
  changelog.d/710-git-credential-host-allowlist.breaking.md
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
Labels: documentation

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
