Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

docs(prd): create modular plugin architecture PRDs #342, #343, #345 [skip ci]
  docs/ROADMAP.md
  prds/342-modular-plugin-architecture.md
  prds/343-kubectl-plugin-migration.md
  prds/345-kubernetes-only-deployment.md
Labels: documentation

feat(prd-343): implement M1 - agentic-tools package structure and HTTP server
  packages/agentic-tools/.dockerignore
  packages/agentic-tools/Dockerfile
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
  packages/agentic-tools/src/hooks/describe.ts
  packages/agentic-tools/src/hooks/invoke.ts
  packages/agentic-tools/src/index.ts
  packages/agentic-tools/src/tools/index.ts
  packages/agentic-tools/src/types.ts
  packages/agentic-tools/tests/unit/server.test.ts
  packages/agentic-tools/tsconfig.json
  packages/agentic-tools/vitest.config.ts
  prds/343-kubectl-plugin-migration.md
Labels: tests

docs(prd-342): add plugin scaffolding tool to future child PRDs
  prds/342-modular-plugin-architecture.md
Labels: none

feat(prd-343): implement M2 - kubectl tools migration with refactored architecture
  packages/agentic-tools/src/tools/base.ts
  packages/agentic-tools/src/tools/index.ts
  packages/agentic-tools/src/tools/kubectl-api-resources.ts
  packages/agentic-tools/src/tools/kubectl-apply-dryrun.ts
  packages/agentic-tools/src/tools/kubectl-delete-dryrun.ts
  packages/agentic-tools/src/tools/kubectl-describe.ts
  packages/agentic-tools/src/tools/kubectl-events.ts
  packages/agentic-tools/src/tools/kubectl-get-crd-schema.ts
  packages/agentic-tools/src/tools/kubectl-get-resource-json.ts
  packages/agentic-tools/src/tools/kubectl-get.ts
  packages/agentic-tools/src/tools/kubectl-logs.ts
  packages/agentic-tools/src/tools/kubectl-patch-dryrun.ts
  packages/agentic-tools/tests/unit/server.test.ts
  packages/agentic-tools/tests/unit/tools.test.ts
  prds/343-kubectl-plugin-migration.md
Labels: tests

feat(prd-343): implement M3 - dot-ai plugin discovery
  prds/343-kubectl-plugin-migration.md
  src/core/index.ts
  src/core/plugin-client.ts
  src/core/plugin-manager.ts
  src/core/plugin-types.ts
  src/interfaces/mcp.ts
  src/mcp/server.ts
Labels: source

feat(prd-343): implement M4a - Helm chart plugin deployment
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/templates/plugin-configmap.yaml
  charts/templates/plugin-deployment.yaml
  charts/values.yaml
  prds/343-kubectl-plugin-migration.md
  src/core/plugin-manager.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/plugin.test.ts
Labels: source, tests, infrastructure

feat(prd-343): implement M4b - version tool plugin integration
  packages/agentic-tools/Dockerfile
  packages/agentic-tools/src/tools/index.ts
  packages/agentic-tools/src/tools/kubectl-version.ts
  packages/agentic-tools/tests/unit/tools.test.ts
  prds/343-kubectl-plugin-migration.md
  src/core/plugin-manager.ts
  src/interfaces/mcp.ts
  src/tools/version.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

feat(prd-343): implement M7 - cleanup old kubectl code
  prds/343-kubectl-plugin-migration.md
  src/core/kubectl-tools.ts
  src/core/kubernetes-utils.ts
  src/core/resource-tools.ts
Labels: source

docs: add git worktrees guidance for feature work [skip ci]
  CLAUDE.md
Labels: documentation

docs(prd-345): add stdio transport removal to scope
  prds/345-kubernetes-only-deployment.md
Labels: none

docs(prd-347): create PRD #347 - MCP tool filtering [skip ci]
  docs/ROADMAP.md
  prds/347-mcp-tool-filtering.md
Labels: documentation

feat(prd-343): implement M8 - CI/CD parallel image builds
  .github/workflows/release.yml
  prds/343-kubectl-plugin-migration.md
Labels: ci-cd

docs(prd-343): archive completed PRD and update umbrella tracking
  docs/ROADMAP.md
  prds/342-modular-plugin-architecture.md
  prds/done/343-kubectl-plugin-migration.md
Labels: documentation

docs(prd-348): create PRD #348 - reduce excessive logging [skip ci]
  docs/ROADMAP.md
  prds/348-reduce-excessive-logging.md
Labels: documentation

feat(prd-348): implement circuit breaker log suppression
  prds/348-reduce-excessive-logging.md
  src/core/circuit-breaker.ts
  tests/unit/core/circuit-breaker.test.ts
Labels: source, tests

feat(prd-348): batch circuit breaker failures in resource sync handler
  package-lock.json
  prds/348-reduce-excessive-logging.md
  src/interfaces/resource-sync-handler.ts
Labels: source, dependencies, config

feat(prd-348): remove per-resource progress logs from capability scan
  prds/348-reduce-excessive-logging.md
  src/core/capability-scan-workflow.ts
Labels: source

feat(prd-348): change command executor per-command logs to DEBUG level
  prds/348-reduce-excessive-logging.md
  src/core/command-executor.ts
  tests/unit/core/command-executor.test.ts
Labels: source, tests

docs(prd-348): mark PRD #348 complete and archive
  docs/ROADMAP.md
  prds/done/348-reduce-excessive-logging.md
Labels: documentation

chore(prd-348): add changelog fragment and improve skill chaining
  .claude/skills/changelog-fragment/SKILL.md
  changelog.d/348.bugfix.md
Labels: none

chore(deps): fix moderate severity vulnerability in hono
  package-lock.json
Labels: dependencies, config

fix(prd-343): address CodeRabbit review feedback
  charts/templates/_helpers.tpl
  packages/agentic-tools/src/tools/kubectl-exec.ts
  src/core/capability-scan-workflow.ts
  src/core/deploy-operation.ts
  src/core/discovery.ts
  src/core/index.ts
  src/core/plugin-manager.ts
  src/core/schema.ts
  src/core/telemetry/client.ts
  src/core/telemetry/index.ts
  src/core/tracing/index.ts
  src/core/tracing/k8s-tracing.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/mcp/server.ts
  src/tools/version.ts
Labels: source, infrastructure

chore: fix hono security vulnerability and add changelog
  changelog.d/343.misc.md
  package-lock.json
Labels: dependencies, config

docs(prd-348): add implementation notes from first attempt [skip ci]
  prds/348-reduce-excessive-logging.md
Labels: none

fix(helm): fail fast when enabled plugin lacks endpoint and image
  charts/templates/_helpers.tpl
Labels: infrastructure

docs(prd-345): complete M1 audit of non-K8s code and config
  prds/345-kubernetes-only-deployment.md
Labels: none

feat(prd-345): remove non-K8s deployment code (M2)
  .mcp-docker.json
  .mcp-node.json
  .mcp-npx.json
  docker-compose-dot-ai.yaml
  package-lock.json
  prds/345-kubernetes-only-deployment.md
  src/mcp/server.ts
Labels: source, dependencies, config

feat(prd-345): remove stdio transport, HTTP-only (M3)
  Dockerfile
  prds/345-kubernetes-only-deployment.md
  server.json
  src/core/telemetry/client.ts
  src/core/telemetry/types.ts
  src/interfaces/mcp.ts
  src/mcp/server.ts
  tests/unit/core/telemetry/telemetry.test.ts
Labels: source, tests, ci-cd, config

feat(prd-345): remove ToolHive/kagent, consolidate docs (M4)
  README.md
  charts/templates/_helpers.tpl
  charts/templates/clusterrolebinding.yaml
  charts/templates/deployment.yaml
  charts/templates/httproute.yaml
  charts/templates/ingress.yaml
  charts/templates/mcpserver.yaml
  charts/templates/service.yaml
  charts/values.yaml
  docs/CLAUDE.md
  docs/dev/development-setup.md
  docs/guides/mcp-operate-guide.md
  docs/guides/mcp-query-guide.md
  docs/guides/mcp-recommendation-guide.md
  docs/guides/mcp-remediate-guide.md
  docs/guides/mcp-version-guide.md
  docs/guides/rest-api-gateway-guide.md
  docs/index.md
  docs/setup/docker-setup.md
  docs/setup/gateway-api.md
  docs/setup/kagent-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  docs/setup/mcp-setup.md
  docs/setup/npx-setup.md
  dot.nu
  prds/345-kubernetes-only-deployment.md
  scripts/toolhive.nu
  tests/unit/helm/gateway-api.test.ts
Labels: documentation, tests, infrastructure

docs(prd-345): archive completed PRD, update roadmap, add changelog
  changelog.d/345.breaking.md
  docs/ROADMAP.md
  prds/done/345-kubernetes-only-deployment.md
Labels: documentation

fix(prd-345): address CodeRabbit review feedback
  .claude/skills/changelog-fragment/SKILL.md
  changelog.d/345.breaking.md
  docs/index.md
  src/mcp/server.ts
Labels: documentation, source

fix(prd-348): reduce excessive logging when circuit breaker is open
  changelog.d/348.bugfix.md
  prds/done/348-reduce-excessive-logging.md
  src/core/capability-scan-workflow.ts
  src/core/circuit-breaker.ts
  src/core/command-executor.ts
  src/interfaces/resource-sync-handler.ts
  tests/unit/core/circuit-breaker.test.ts
  tests/unit/core/command-executor.test.ts
Labels: source, tests

docs(prd-348): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/348-reduce-excessive-logging.md
Labels: documentation

fix(logging): reduce excessive logging when circuit breaker is open (#352)
  changelog.d/348.bugfix.md
  docs/ROADMAP.md
  prds/done/348-reduce-excessive-logging.md
  src/core/capability-scan-workflow.ts
  src/core/circuit-breaker.ts
  src/core/command-executor.ts
  src/interfaces/resource-sync-handler.ts
  tests/unit/core/circuit-breaker.test.ts
  tests/unit/core/command-executor.test.ts
Labels: documentation, source, tests

chore: add Claude local settings, remove Gemini settings
  .claude/settings.local.json
  .gemini/settings.json
Labels: none

Claude Code [skip ci]
  .claude/settings.local.json
Labels: none

chore: coordinated release v1.0.0
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

fix(plugin): background retry for plugin discovery
  docs/dev/development-setup.md
  docs/guides/mcp-prompts-guide.md
  docs/guides/telemetry-guide.md
  docs/index.md
  docs/quick-start.md
  src/core/plugin-manager.ts
  src/mcp/server.ts
  src/tools/version.ts
  tests/unit/core/plugin-manager.test.ts
Labels: documentation, source, tests

chore: reset changelog for v1.0.0 re-release
  docs/CHANGELOG.md
Labels: documentation

fix(plugin): resolve lint errors in plugin-manager
  src/core/plugin-manager.ts
Labels: source

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
