Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

feat(prd-329): add Helm telemetry config via extraEnv
  charts/values.yaml
  prds/329-posthog-telemetry.md
Labels: infrastructure

docs(prd-329): add telemetry documentation and transparency guide
  README.md
  changelog.d/feature/329.md
  docs/guides/telemetry-guide.md
  prds/329-posthog-telemetry.md
Labels: documentation

docs(prd-329): M6 complete - PostHog dashboard setup
  prds/329-posthog-telemetry.md
Labels: none

docs(prd-329): M8 complete - PRD #329 fully implemented
  prds/329-posthog-telemetry.md
Labels: none

chore(prd-329): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/329-posthog-telemetry.md
Labels: documentation

fix(telemetry): address CodeRabbit review feedback
  docs/guides/telemetry-guide.md
  prds/done/329-posthog-telemetry.md
  src/core/telemetry/client.ts
  src/mcp/server.ts
  tests/unit/core/telemetry/telemetry.test.ts
Labels: documentation, source, tests

fix(telemetry): revert readNamespace to object syntax
  src/core/telemetry/client.ts
Labels: source

feat(telemetry): add PostHog telemetry for anonymous usage analytics (#335)
  README.md
  changelog.d/feature/329.md
  charts/values.yaml
  docs/ROADMAP.md
  docs/guides/telemetry-guide.md
  package-lock.json
  package.json
  prds/329-posthog-telemetry.md
  prds/done/329-posthog-telemetry.md
  src/core/telemetry/client.ts
  src/core/telemetry/config.ts
  src/core/telemetry/index.ts
  src/core/telemetry/types.ts
  src/core/tracing/index.ts
  src/core/tracing/tool-tracing.ts
  src/interfaces/mcp.ts
  src/mcp/server.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/unit/core/telemetry/telemetry.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

chore: coordinated release v0.194.0
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

docs: update release notes for v0.194.0
  .claude/skills/changelog-fragment/SKILL.md
  changelog.d/feature/329.md
  docs/CHANGELOG.md
Labels: documentation

docs(prd-336): create PRD #336 - global annotations support in Helm chart [skip ci]
  docs/ROADMAP.md
  prds/336-helm-global-annotations.md
Labels: documentation

docs(prd-337): create PRD #337 - exponential backoff and circuit breaker [skip ci]
  docs/ROADMAP.md
  prds/337-exponential-backoff-circuit-breaker.md
Labels: documentation

docs: add Dockerfile generation video to prompts guide
  docs/guides/mcp-prompts-guide.md
Labels: documentation

feat(prd-338): optimize Qdrant query performance with native text filtering
  prds/done/338-qdrant-query-performance.md
  src/core/vector-db-service.ts
Labels: source

fix(deps): resolve npm audit vulnerabilities
  package-lock.json
  package.json
Labels: dependencies, config

fix(vector-db): address CodeRabbit review feedback
  src/core/mermaid-tools.ts
  src/core/vector-db-service.ts
Labels: source

fix(vector-db): address additional CodeRabbit feedback
  src/core/vector-db-service.ts
Labels: source

fix(test): increase unit test timeout for helm template tests
  vitest.unit.config.ts
Labels: config

feat(prd-338): optimize Qdrant query performance with native text filtering (#339)
  package-lock.json
  package.json
  prds/done/338-qdrant-query-performance.md
  src/core/mermaid-tools.ts
  src/core/vector-db-service.ts
  vitest.unit.config.ts
Labels: source, dependencies, config

docs: add changelog fragment for PRD #338 [skip ci]
  changelog.d/338.misc.md
Labels: none

fix(helm): increase probe timeouts from 1s to 5s
  charts/templates/deployment.yaml
Labels: infrastructure

chore: coordinated release v0.194.1
  changelog.d/338.misc.md
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

fix(helm): increase readiness probe initial delay to 30s
  charts/templates/deployment.yaml
Labels: infrastructure

feat(prd-337): implement circuit breaker module (Milestone 1)
  prds/337-exponential-backoff-circuit-breaker.md
  src/core/circuit-breaker.ts
  src/core/index.ts
  tests/unit/core/circuit-breaker.test.ts
Labels: source, tests

feat(prd-337): add exponential backoff to ErrorHandler retry logic (Milestone 2)
  prds/337-exponential-backoff-circuit-breaker.md
  src/core/error-handling.ts
  tests/unit/core/error-handling.test.ts
Labels: source, tests

Revert "feat(prd-337): add exponential backoff to ErrorHandler retry logic (Milestone 2)"
  prds/337-exponential-backoff-circuit-breaker.md
  src/core/error-handling.ts
  tests/unit/core/error-handling.test.ts
Labels: source, tests

feat(prd-337): integrate circuit breaker with embedding service and complete PRD
  prds/337-exponential-backoff-circuit-breaker.md
  src/core/embedding-service.ts
Labels: source

chore(prd-337): archive completed PRD, update roadmap, add changelog
  changelog.d/337.feature.md
  docs/ROADMAP.md
  prds/done/337-exponential-backoff-circuit-breaker.md
Labels: documentation

fix(policies): treat plain namespace names as include list
  src/core/unified-creation-session.ts
Labels: source

feat(core): add circuit breaker for LLM API rate limits (#340)
  changelog.d/337.feature.md
  docs/ROADMAP.md
  prds/337-exponential-backoff-circuit-breaker.md
  prds/done/337-exponential-backoff-circuit-breaker.md
  src/core/circuit-breaker.ts
  src/core/embedding-service.ts
  src/core/index.ts
  src/core/unified-creation-session.ts
  tests/unit/core/circuit-breaker.test.ts
Labels: documentation, source, tests

feat(helm): add global annotations support (#336)
  charts/templates/_helpers.tpl
  charts/templates/clusterrole.yaml
  charts/templates/clusterrolebinding.yaml
  charts/templates/deployment.yaml
  charts/templates/gateway.yaml
  charts/templates/httproute.yaml
  charts/templates/ingress.yaml
  charts/templates/mcpserver.yaml
  charts/templates/secret.yaml
  charts/templates/service.yaml
  charts/templates/serviceaccount.yaml
  charts/values.yaml
  prds/336-helm-global-annotations.md
Labels: infrastructure

docs(prd-336): add global annotations to configuration notes
  docs/setup/kubernetes-setup.md
  prds/336-helm-global-annotations.md
Labels: documentation

chore(prd-336): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/336-helm-global-annotations.md
Labels: documentation

fix(tests): add re-sync for query tests to handle concurrent test interference
  tests/integration/tools/query.test.ts
Labels: tests

fix(helm): address CodeRabbit review feedback
  charts/templates/_helpers.tpl
  charts/values.yaml
  docs/setup/kubernetes-setup.md
Labels: documentation, infrastructure

fix(tests): prevent resource-sync from interfering with concurrent tests
  tests/integration/tools/query.test.ts
  tests/integration/tools/resource-sync.test.ts
Labels: tests

feat(helm): add global annotations support (#341)
  charts/templates/_helpers.tpl
  charts/templates/clusterrole.yaml
  charts/templates/clusterrolebinding.yaml
  charts/templates/deployment.yaml
  charts/templates/gateway.yaml
  charts/templates/httproute.yaml
  charts/templates/ingress.yaml
  charts/templates/mcpserver.yaml
  charts/templates/secret.yaml
  charts/templates/service.yaml
  charts/templates/serviceaccount.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/setup/kubernetes-setup.md
  prds/done/336-helm-global-annotations.md
  tests/integration/tools/resource-sync.test.ts
Labels: documentation, tests, infrastructure

docs(changelog): add fragment for global annotations feature (#336)
  changelog.d/336.feature.md
Labels: none

chore: update tag-release skill to handle [skip ci] commits [skip ci]
  .claude/skills/tag-release/SKILL.md
Labels: none

chore: coordinated release v0.195.0
  changelog.d/336.feature.md
  changelog.d/337.feature.md
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config
