Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

feat(prd-320): add visualization documentation for operate tool
  docs/guides/mcp-operate-guide.md
  docs/img/operate-example-01.png
  prds/320-visualization-urls-all-tools.md
Labels: documentation

chore(prd-320): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/320-visualization-urls-all-tools.md
Labels: documentation

fix(ci): add || true fallback to devbox init_hook
  devbox.json
Labels: config

fix: address CodeRabbit review feedback
  .github/workflows/ci.yml
  docs/guides/mcp-version-guide.md
  docs/setup/mcp-setup.md
  tests/unit/core/visualization.test.ts
Labels: documentation, tests, ci-cd

fix: improve integration test resilience for CI
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/recommend.test.ts
Labels: tests

perf: optimize slow integration tests for faster CI
  tests/integration/tools/feedback.test.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests

fix: increase capability scan timeout and update test description
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests

fix: use progress.current instead of successfulResources
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests

fix: remove field validation from full scan test
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests

chore: coordinated release v0.180.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

chore: move doc-write skill to prompts repo, cleanup [skip ci]
  .claude/commands/doc-write.md
  docs/ROADMAP.md
  prds/315-umbrella-helm-chart.md
Labels: documentation

feat(ci): add umbrella chart update job and use devbox for helm
  .github/workflows/ci.yml
  devbox.json
Labels: ci-cd, config

chore: coordinated release v0.181.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: recommend dot-ai-stack umbrella chart as primary installation
  README.md
  devbox.lock
  docs/index.md
  docs/quick-start.md
  docs/setup/kubernetes-setup.md
  docs/setup/mcp-setup.md
Labels: documentation

fix(chart): conditionally render HTTPRoute timeouts block
  charts/templates/httproute.yaml
  docs/setup/gateway-api.md
Labels: documentation, infrastructure

chore: coordinated release v0.182.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

chore(chart): remove Solution CR template and controller config
  charts/templates/solution.yaml
  charts/values.yaml
Labels: infrastructure

chore: coordinated release v0.183.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(query): add guidance field for agent instructions
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

chore: coordinated release v0.184.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-322): create PRD #322 and fix git push in prd prompts [skip ci]
  docs/ROADMAP.md
  prds/322-ide-native-visualization.md
  shared-prompts/prd-close.md
  shared-prompts/prd-create.md
  shared-prompts/prd-done.md
Labels: documentation

feat(query): add wrap-up call and increase maxIterations to 30
  src/core/providers/host-provider.ts
  src/core/providers/vercel-provider.ts
  src/tools/query.ts
Labels: source

chore: coordinated release v0.185.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-323): create PRD #323 - constants message consolidation [skip ci]
  docs/ROADMAP.md
  prds/323-constants-message-consolidation.md
Labels: documentation

feat(prd-323): implement validation message consolidation
  prds/323-constants-message-consolidation.md
  src/core/capability-operations.ts
  src/core/capability-tools.ts
  src/core/constants/errors.ts
  src/core/constants/index.ts
  src/core/constants/investigation.ts
  src/core/constants/stages.ts
  src/core/constants/validation.ts
  src/core/kubectl-tools.ts
  src/core/policy-operations.ts
  src/core/providers/host-provider.ts
  src/core/providers/vercel-provider.ts
  src/core/resource-tools.ts
  src/tools/prompts.ts
Labels: source

feat(prd-323): implement Kubernetes error message consolidation
  prds/323-constants-message-consolidation.md
  src/core/constants/errors.ts
  src/core/kubernetes-utils.ts
Labels: source

feat(prd-323): complete AI service error message consolidation
  prds/323-constants-message-consolidation.md
  src/core/ai-provider-factory.ts
  src/core/constants/errors.ts
  src/core/index.ts
  src/core/pattern-operations.ts
  src/core/policy-operations.ts
  src/core/providers/noop-provider.ts
  src/core/providers/vercel-provider.ts
  src/core/schema.ts
  src/tools/organizational-data.ts
  src/tools/version.ts
Labels: source

feat(prd-323): consolidate stage instructions + complete PRD
  docs/ROADMAP.md
  prds/done/323-constants-message-consolidation.md
  src/core/constants/stages.ts
  src/tools/answer-question.ts
Labels: documentation, source

refactor(prd-323): remove unused OPERATION_MESSAGES and CONFIG_MESSAGES constants
  src/core/constants/validation.ts
Labels: source

refactor(prd-323): fix import path to match project conventions
  src/tools/answer-question.ts
Labels: source

feat(prd-251): implement Helm investigation tools
  prds/251-helm-day2-operations.md
  src/core/helm-tools.ts
Labels: source

feat(version): add resources collection with synced types to status
  .mcp-kubernetes.json
  dot.nu
  scripts/dot-ai.nu
  src/tools/version.ts
  tests/integration/tools/version.test.ts
Labels: source, tests, config

chore: coordinated release v0.186.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-251): implement Helm investigation tools
  prds/251-helm-day2-operations.md
  src/core/helm-tools.ts
Labels: source

Scripts [skip ci]
  dot.nu
  scripts/dot-ai.nu
  scripts/jaeger.nu
Labels: none

Scripts [skip ci]
  scripts/dot-ai.nu
Labels: none

docs(prd-326): create PRD #326 - feedback message content block display [skip ci]
  docs/ROADMAP.md
  prds/326-feedback-message-content-block.md
Labels: documentation

refactor(prd-323): consolidate duplicated constants and messages (#324)
  prds/323-constants-message-consolidation.md
  prds/done/323-constants-message-consolidation.md
  src/core/ai-provider-factory.ts
  src/core/capability-operations.ts
  src/core/capability-tools.ts
  src/core/constants/errors.ts
  src/core/constants/index.ts
  src/core/constants/investigation.ts
  src/core/constants/stages.ts
  src/core/constants/validation.ts
  src/core/index.ts
  src/core/kubectl-tools.ts
  src/core/kubernetes-utils.ts
  src/core/pattern-operations.ts
  src/core/policy-operations.ts
  src/core/providers/host-provider.ts
  src/core/providers/noop-provider.ts
  src/core/providers/vercel-provider.ts
  src/core/resource-tools.ts
  src/core/schema.ts
  src/tools/answer-question.ts
  src/tools/organizational-data.ts
  src/tools/prompts.ts
  src/tools/version.ts
Labels: source

chore: coordinated release v0.187.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix(security): update @modelcontextprotocol/sdk to 1.25.2
  package-lock.json
Labels: dependencies, config
