Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

fix(prd-407): address code review feedback and fix RBAC test concurrency
  docs/ai-engine/tools/remediate.md
  src/core/internal-tools.ts
  src/tools/remediate.ts
  tests/integration/tools/rbac.test.ts
  tests/integration/tools/remediate.test.ts
  tests/unit/core/internal-tools.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: documentation, source, tests

fix(prd-407): address round 2 review feedback and fix security vulnerabilities
  docs/ai-engine/tools/remediate.md
  package-lock.json
  src/core/internal-tools.ts
  src/tools/remediate.ts
  tests/integration/tools/rbac.test.ts
Labels: documentation, source, tests, dependencies, config

fix(prd-407): use --since for audit log fetch to avoid tail truncation
  tests/integration/tools/rbac.test.ts
Labels: tests

fix: use compact JSON in ConsoleLogger to reduce log volume
  src/core/error-handling.ts
  tests/integration/tools/rbac.test.ts
Labels: source, tests

feat(remediate): add GitOps-aware remediation with Argo CD and Flux detection (#409)
  .claude/settings.json
  changelog.d/407.feature.md
  docs/ROADMAP.md
  docs/ai-engine/tools/remediate.md
  package-lock.json
  prds/done/407-gitops-discovery.md
  prompts/operate-system.md
  prompts/remediate-system.md
  src/core/error-handling.ts
  src/core/git-utils.ts
  src/core/internal-tools.ts
  src/tools/push-to-git.ts
  src/tools/remediate.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/rbac.test.ts
  tests/integration/tools/remediate.test.ts
  tests/unit/core/internal-tools.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: documentation, source, tests, dependencies, config

docs: update changelog for v1.11.0 [skip ci]
  changelog.d/407.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.11.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-358): implement MCP client capability for external server integration
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/templates/mcp-servers-configmap.yaml
  charts/values.yaml
  prds/358-mcp-server-integration.md
  src/core/mcp-client-manager.ts
  src/core/mcp-client-registry.ts
  src/core/mcp-client-types.ts
  src/mcp/server.ts
  src/tools/operate-analysis.ts
  src/tools/query.ts
  src/tools/remediate.ts
  src/tools/version.ts
Labels: source, infrastructure

feat(prd-358): add Prometheus MCP server to test infrastructure
  prds/358-mcp-server-integration.md
  src/core/mcp-client-manager.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/version.test.ts
Labels: source, tests

feat(prd-358): add Prometheus MCP integration test for remediate flow
  prds/358-mcp-server-integration.md
  tests/integration/tools/remediate.test.ts
Labels: tests

docs(prd-358): add MCP server integration documentation
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/remediate.md
  prds/358-mcp-server-integration.md
Labels: documentation

chore(prd-358): mark PRD complete and archive to done
  docs/ROADMAP.md
  prds/done/358-mcp-server-integration.md
Labels: documentation

docs(prd-358): add changelog fragment for MCP server integration
  changelog.d/358.feature.md
Labels: none

docs(prd-405): update dependency analysis PRD with AI-first approach [skip ci]
  prds/405-dependency-impact-analysis.md
Labels: none

feat: split integration tests into parallel CI jobs
  .github/workflows/ci.yml
  tests/integration/infrastructure/infra-profiles.sh
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests, ci-cd

refactor: group base-only integration tests to reduce CI jobs
  .github/workflows/ci.yml
Labels: ci-cd

fix: capabilities test needs CNPG, group with policies
  .github/workflows/ci.yml
  tests/integration/infrastructure/infra-profiles.sh
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests, ci-cd

docs(prd-405): add standalone tool and free-text input design decisions [skip ci]
  prds/405-dependency-impact-analysis.md
Labels: none

feat(prd-405): implement impact_analysis MCP tool
  prds/405-dependency-impact-analysis.md
  prompts/impact-analysis-system.md
  src/interfaces/mcp.ts
  src/tools/impact-analysis.ts
  src/tools/index.ts
Labels: source

fix: address CI failures and CodeRabbit review findings
  .github/workflows/ci.yml
  docs/ai-engine/setup/deployment.md
  src/mcp/server.ts
  src/tools/generate-manifests.ts
  tests/integration/infrastructure/infra-profiles.sh
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/query.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, ci-cd

fix: use tcpSocket readiness probe for prometheus-mcp
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

fix: increase resource sync wait to 180s, remove stale line refs
  tests/integration/tools/query.test.ts
  tests/integration/tools/version.test.ts
Labels: tests

fix: seed resources collection in version test beforeAll
  tests/integration/tools/version.test.ts
Labels: tests

feat(mcp): add MCP server integration for extended tool capabilities (#410)
  .github/workflows/ci.yml
  changelog.d/358.feature.md
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/templates/mcp-servers-configmap.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/remediate.md
  prds/done/358-mcp-server-integration.md
  src/core/mcp-client-manager.ts
  src/core/mcp-client-registry.ts
  src/core/mcp-client-types.ts
  src/mcp/server.ts
  src/tools/generate-manifests.ts
  src/tools/operate-analysis.ts
  src/tools/query.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/infrastructure/infra-profiles.sh
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/query.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, ci-cd, infrastructure

test(prd-405): add impact_analysis integration tests with intentional failures
  prompts/impact-analysis-system.md
  tests/integration/fixtures/gitops/cnpg-cluster/cluster.yaml
  tests/integration/fixtures/gitops/cnpg-cluster/kustomization.yaml
  tests/integration/infrastructure/infra-profiles.sh
  tests/integration/tools/impact-analysis.test.ts
Labels: tests

Fixtures [skip ci]
  tests/integration/fixtures/gitops/cnpg-cluster/cluster.yaml
  tests/integration/fixtures/gitops/cnpg-cluster/kustomization.yaml
Labels: tests

feat(prd-382): add Alibaba Qwen 3.5 Plus AI provider
  .env.vals.yaml
  changelog.d/382.feature.md
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  prds/382-alibaba-qwen-provider.md
  src/core/ai-provider-factory.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, source, tests, infrastructure, dependencies, config

chore(prd-382): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/382-alibaba-qwen-provider.md
Labels: documentation

feat(prd-382): add Alibaba Qwen 3.5 Plus AI provider (#411)
  .env.vals.yaml
  changelog.d/382.feature.md
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  prds/done/382-alibaba-qwen-provider.md
  src/core/ai-provider-factory.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, source, tests, infrastructure, dependencies, config

feat(prd-405): complete M1 — git/fs tools, simplified prompt, real test assertions
  prds/405-dependency-impact-analysis.md
  prompts/impact-analysis-system.md
  src/tools/impact-analysis.ts
  tests/integration/tools/impact-analysis.test.ts
Labels: source, tests

feat(prd-405): complete M2 — operate/remediate agentInstructions with impact_analysis
  prds/405-dependency-impact-analysis.md
  src/tools/operate-analysis.ts
  src/tools/operate.ts
  src/tools/remediate.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

feat(prd-405): complete M3 — query agentInstructions with impact_analysis
  package-lock.json
  prds/405-dependency-impact-analysis.md
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests, dependencies, config

docs(prd-405): complete M4 — impact analysis guide and interface note updates
  docs/ai-engine/tools/impact-analysis.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  prds/405-dependency-impact-analysis.md
Labels: documentation

chore(prd-405): archive PRD, update roadmap, changelog fragment, and skill updates
  .claude/skills/dot-ai-port-destroy/SKILL.md
  .claude/skills/dot-ai-port-setup/SKILL.md
  .claude/skills/dot-ai-prd-start/SKILL.md
  .claude/skills/dot-ai-prd-update-decisions/SKILL.md
  .claude/skills/dot-ai-tag-release/SKILL.md
  .claude/skills/dot-ai-tag-release/analyze.sh
  .claude/skills/dot-ai-users/SKILL.md
  .claude/skills/dot-ai-worktree-prd/SKILL.md
  .claude/skills/dot-ai-worktree-prd/create.sh
  .claude/skills/dot-ai-write-docs/SKILL.md
  .claude/skills/dot-ai/SKILL.md
  .mcp-test.json
  changelog.d/405.feature.md
  docs/ROADMAP.md
  prds/done/405-dependency-impact-analysis.md
Labels: documentation, config

fix(prd-405): address CodeRabbit review feedback
  docs/ai-engine/tools/impact-analysis.md
  tests/integration/tools/query.test.ts
Labels: documentation, tests

feat(impact-analysis): dependency & impact analysis tool (PRD #405) (#412)
  .claude/skills/dot-ai-port-destroy/SKILL.md
  .claude/skills/dot-ai-port-setup/SKILL.md
  .claude/skills/dot-ai-prd-start/SKILL.md
  .claude/skills/dot-ai-prd-update-decisions/SKILL.md
  .claude/skills/dot-ai-tag-release/SKILL.md
  .claude/skills/dot-ai-tag-release/analyze.sh
  .claude/skills/dot-ai-users/SKILL.md
  .claude/skills/dot-ai-worktree-prd/SKILL.md
  .claude/skills/dot-ai-worktree-prd/create.sh
  .claude/skills/dot-ai-write-docs/SKILL.md
  .claude/skills/dot-ai/SKILL.md
  .mcp-test.json
  changelog.d/405.feature.md
  docs/ROADMAP.md
  docs/ai-engine/tools/impact-analysis.md
  docs/ai-engine/tools/operate.md
  docs/ai-engine/tools/overview.md
  docs/ai-engine/tools/query.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  prds/405-dependency-impact-analysis.md
  prds/done/405-dependency-impact-analysis.md
  prompts/impact-analysis-system.md
  src/interfaces/mcp.ts
  src/tools/impact-analysis.ts
  src/tools/index.ts
  src/tools/operate-analysis.ts
  src/tools/operate.ts
  src/tools/query.ts
  src/tools/remediate.ts
  tests/integration/infrastructure/infra-profiles.sh
  tests/integration/tools/impact-analysis.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/remediate.test.ts
Labels: documentation, source, tests, config

docs: update changelog for v1.12.0 [skip ci]
  changelog.d/358.feature.md
  changelog.d/382.feature.md
  changelog.d/405.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.12.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

feat(remediate): add GitOps Operations support via git_create_pr (PRD #408)
  src/core/internal-tools.ts
  src/tools/remediate.ts
  tests/unit/core/internal-tools.test.ts
Labels: source, tests

fix(remediate): address CodeRabbit review comments
  src/core/internal-tools.ts
  src/tools/remediate.ts
  tests/unit/core/internal-tools.test.ts
Labels: source, tests
