Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

feat(prd-291): complete M5 semantic bridge tests, add M6 docs milestone
  prds/291-cluster-query-tool.md
  shared-prompts/prd-create.md
  src/interfaces/rest-api.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/query.test.ts
Labels: source, tests

docs(prd-291): add directory-specific CLAUDE.md instructions, update M6 docs list
  CLAUDE.md
  prds/291-cluster-query-tool.md
Labels: documentation

chore: update local configuration files
  .mcp.json
  dot.nu
  scripts/crossplane.nu
  scripts/dot-ai.nu
Labels: config

feat(prd-216): complete fire-and-forget scan API (Milestone 1.1)
  prds/216-controller-based-autonomous-capability-scanning.md
  src/core/discovery.ts
  src/tools/organizational-data.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: source, tests

docs(prd-216): complete Phase 1 - controller PRD created [skip ci]
  prds/216-controller-based-autonomous-capability-scanning.md
Labels: none

docs(prd-216): add Phase 3 for documentation updates [skip ci]
  prds/216-controller-based-autonomous-capability-scanning.md
Labels: none

docs(prd-216): mark Phase 2 controller implementation complete [skip ci]
  prds/216-controller-based-autonomous-capability-scanning.md
Labels: none

docs(prd-216): complete Milestone 3.1 - update kubernetes setup guide [skip ci]
  docs/setup/kubernetes-setup.md
  prds/216-controller-based-autonomous-capability-scanning.md
Labels: documentation

docs(prd-216): improve quick-start guide and add work log entry [skip ci]
  docs/index.md
  docs/quick-start.md
  docs/setup/kubernetes-setup.md
  docs/setup/mcp-setup.md
  prds/216-controller-based-autonomous-capability-scanning.md
Labels: documentation

docs(prd-216): complete Milestone 3.2 - update capability documentation
  docs/guides/mcp-capability-management-guide.md
  docs/guides/mcp-operate-guide.md
  docs/guides/organizational-data-concepts.md
  docs/quick-start.md
  prds/216-controller-based-autonomous-capability-scanning.md
Labels: documentation

feat(capabilities): add fire-and-forget scan API for controller integration
  docs/diags.md
  docs/guides/mcp-remediate-guide.md
  docs/setup/kubernetes-setup.md
  prds/176-embedding-architecture-standardization.md
  prds/199-a2a-protocol-support.md
  prds/216-controller-based-autonomous-capability-scanning.md
  prds/251-helm-day2-operations.md
  prds/262-documentation-validation-phase1.md
  prds/264-gitops-tool-argocd.md
  prds/265-gitops-tool-flux.md
  prds/266-gitops-recommend-integration.md
  prds/291-cluster-query-tool.md
  shared-prompts/prd-close.md
  shared-prompts/prd-update-progress.md
Labels: documentation

fix: address CodeRabbit review feedback
  README.md
  docs/guides/mcp-remediate-guide.md
  src/core/discovery.ts
  src/tools/organizational-data.ts
  tests/integration/helpers/test-base.ts
Labels: documentation, source, tests

fix: resolve TypeScript flow analysis error in discovery.ts
  src/core/discovery.ts
Labels: source

docs: clarify mode and resourceList mutual exclusivity in schema
  src/tools/organizational-data.ts
Labels: source

feat(capabilities): add fire-and-forget scan API for controller integration (#305)
  README.md
  docs/diags.md
  docs/guides/mcp-capability-management-guide.md
  docs/guides/mcp-operate-guide.md
  docs/guides/mcp-remediate-guide.md
  docs/guides/organizational-data-concepts.md
  docs/index.md
  docs/quick-start.md
  docs/setup/kubernetes-setup.md
  docs/setup/mcp-setup.md
  prds/176-embedding-architecture-standardization.md
  prds/199-a2a-protocol-support.md
  prds/216-controller-based-autonomous-capability-scanning.md
  prds/251-helm-day2-operations.md
  prds/262-documentation-validation-phase1.md
  prds/264-gitops-tool-argocd.md
  prds/265-gitops-tool-flux.md
  prds/266-gitops-recommend-integration.md
  prds/291-cluster-query-tool.md
  shared-prompts/prd-close.md
  shared-prompts/prd-update-progress.md
  src/core/discovery.ts
  src/tools/organizational-data.ts
  tests/integration/helpers/test-base.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: documentation, source, tests

chore: coordinated release v0.172.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-216): archive completed PRD to done directory [skip ci]
  prds/done/216-controller-based-autonomous-capability-scanning.md
Labels: none

docs(prd-306): create PRD #306 - user-defined prompts [skip ci]
  docs/ROADMAP.md
  prds/306-user-defined-prompts.md
Labels: documentation

docs(prd-306): link to original feature request #164 [skip ci]
  prds/306-user-defined-prompts.md
Labels: none

docs(prd-307): create PRD #307 - elicitation enhancement [skip ci]
  docs/ROADMAP.md
  prds/307-elicitation-enhancement.md
Labels: documentation

docs(prd-307): add elicitation support evaluation as gate milestone [skip ci]
  prds/307-elicitation-enhancement.md
Labels: none

feat(gateway): implement Kubernetes Gateway API v1 support as Ingress alternative (#304)
  prds/done/281-kubernetes-gateway-api-support.md
Labels: none

chore: coordinated release v0.173.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: update PRD 306 for Phase 1 git-based prompt serving [skip ci]
  prds/306-user-defined-prompts.md
Labels: none

feat(prd-291): complete M6 documentation for cluster query tool
  .claude/commands/doc-write.md
  CLAUDE.md
  README.md
  docs/ROADMAP.md
  docs/guides/mcp-capability-management-guide.md
  docs/guides/mcp-query-guide.md
  docs/guides/mcp-tools-overview.md
  docs/img/query.jpeg
  docs/index.md
  docs/quick-start.md
  docs/setup/mcp-setup.md
  prds/291-cluster-query-tool.md
  src/tools/query.ts
Labels: documentation, source

fix: address CodeRabbit review feedback
  docs/guides/mcp-query-guide.md
  scripts/dot-ai.nu
  shared-prompts/prd-next.md
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: documentation, source, tests

fix: make Kind image loading sequential to avoid containerd issues
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

revert: remove image preloading optimization from test script
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

fix: add afterAll cleanup to query tests to prevent interference
  tests/integration/tools/query.test.ts
Labels: tests

fix: add beforeAll cleanup to query tests for resource isolation
  tests/integration/tools/query.test.ts
Labels: tests

feat(api): return specific resources in resync response
  src/core/resource-vector-service.ts
  src/interfaces/resource-sync-handler.ts
  tests/integration/tools/resource-sync.test.ts
Labels: source, tests

docs: move PRD 291 to done directory
  prds/done/291-cluster-query-tool.md
Labels: none

feat(query): implement cluster query tool for natural language cluster intelligence (#308)
  .claude/commands/doc-write.md
  .mcp.json
  CLAUDE.md
  README.md
  docs/ROADMAP.md
  docs/guides/mcp-capability-management-guide.md
  docs/guides/mcp-query-guide.md
  docs/guides/mcp-tools-overview.md
  docs/img/query.jpeg
  docs/index.md
  docs/quick-start.md
  docs/setup/mcp-setup.md
  dot.nu
  prds/done/291-cluster-query-tool.md
  prompts/query-system.md
  scripts/crossplane.nu
  scripts/dot-ai.nu
  shared-prompts/prd-create.md
  src/core/base-vector-service.ts
  src/core/capability-tools.ts
  src/core/resource-tools.ts
  src/core/resource-vector-service.ts
  src/core/tracing/qdrant-tracing.ts
  src/core/vector-db-service.ts
  src/interfaces/mcp.ts
  src/interfaces/resource-sync-handler.ts
  src/interfaces/rest-api.ts
  src/tools/query.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/resource-sync.test.ts
Labels: documentation, source, tests, config

chore: coordinated release v0.174.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-306): implement MCP arguments support for prompts
  prds/306-user-defined-prompts.md
  src/interfaces/rest-api.ts
  src/tools/prompts.ts
  tests/integration/CLAUDE.md
  tests/integration/tools/prompts.test.ts
  tests/integration/tools/resource-sync.test.ts
Labels: source, tests

feat(prd-306): add prdNumber argument to prd-start prompt
  prds/306-user-defined-prompts.md
  shared-prompts/prd-start.md
  tests/integration/tools/prompts.test.ts
Labels: tests

docs(prd-306): document argument decision for built-in prompts
  prds/306-user-defined-prompts.md
Labels: none

feat(prd-306): implement git-based user prompts loading
  .claude/commands/dev-done.md
  prds/306-user-defined-prompts.md
  src/core/user-prompts-loader.ts
  src/tools/prompts.ts
Labels: source

feat(prd-306): convert .claude/commands to MCP user prompts format
  user-prompts/eval-analyze-test-failure.md
  user-prompts/eval-run.md
  user-prompts/eval-update-model-metadata.md
Labels: none

feat(prd-306): convert .claude/commands to MCP user prompts format [skip ci]
  .claude/commands/dev-done.md
  user-prompts/eval-analyze-test-failure.md
  user-prompts/eval-run.md
  user-prompts/eval-update-model-metadata.md
Labels: none
