Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

revert: restore ci.yml to main version to fix workflow triggering
  .github/workflows/ci.yml
Labels: ci-cd

chore: add workflow_dispatch for manual triggering
  .github/workflows/ci.yml
Labels: ci-cd

chore: add comment to trigger CI
  .github/workflows/ci.yml
Labels: ci-cd

fix: regenerate package-lock.json with public npm registry
  package-lock.json
Labels: dependencies, config

fix: update Zod usage for v4 compatibility
  src/interfaces/rest-registry.ts
  src/tools/answer-question.ts
  src/tools/project-setup.ts
  src/tools/recommend.ts
Labels: source

ci: add workflow_dispatch trigger to enable manual runs
  .github/workflows/ci.yml
Labels: ci-cd

fix(ci): add npm pack step before Docker build
  .github/workflows/ci.yml
Labels: ci-cd

chore: bump version to 0.142.0 to sync with npm registry [skip ci]
  package.json
Labels: dependencies, config

fix(ci): include workflow_dispatch in job conditions
  .github/workflows/ci.yml
Labels: ci-cd

chore: coordinated release v0.142.0
  charts/Chart.yaml
  charts/values.yaml
  server.json
Labels: infrastructure, config

chore: move completed PRDs to done directory
  docs/ROADMAP.md
  prds/done/135-per-tool-model-configuration.md
  prds/done/151-ai-model-comparison-mcp-platform.md
  prds/done/25-crd-solution-tracking.md
Labels: documentation

docs(prd-209): close PRD #209 - no longer needed [skip ci]
  docs/ROADMAP.md
  package-lock.json
  prds/done/209-model-portfolio-management.md
Labels: documentation, dependencies, config

docs(prd-237): create PRD #237 - AI model support update [skip ci]
  docs/ROADMAP.md
  prds/237-ai-model-support-update.md
Labels: documentation

docs(prd-238): create PRD #238 - remove Anthropic SDK [skip ci]
  docs/ROADMAP.md
  prds/238-remove-anthropic-sdk.md
Labels: documentation

feat(prd-237): complete AI model support update - all milestones done
  .claude/commands/eval-analyze-test-failure.md
  .claude/commands/eval-run.md
  .claude/commands/eval-update-model-metadata.md
  .env.vals.yaml
  .teller.yml
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  docs/mcp-setup.md
  docs/mcp-tools-overview.md
  docs/observability-guide.md
  docs/pattern-management-guide.md
  docs/quick-start.md
  package-lock.json
  package.json
  prds/237-ai-model-support-update.md
  src/core/ai-provider-factory.ts
  src/core/ai-provider.interface.ts
  src/core/embedding-service.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  src/evaluation/model-metadata.json
  src/tools/remediate.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

fix: address CodeRabbit review feedback
  charts/values.yaml
  docs/mcp-setup.md
  docs/quick-start.md
  src/core/embedding-service.ts
  src/core/providers/vercel-provider.ts
Labels: documentation, source, infrastructure

feat(ai-models): update AI model support with Claude Opus 4.5, Kimi K2, Gemini 3, and GPT-5.1 Codex (#239)
  .claude/commands/eval-analyze-test-failure.md
  .claude/commands/eval-run.md
  .claude/commands/eval-update-model-metadata.md
  .env.vals.yaml
  .teller.yml
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/mcp-setup.md
  docs/mcp-tools-overview.md
  docs/observability-guide.md
  docs/pattern-management-guide.md
  docs/quick-start.md
  package-lock.json
  package.json
  prds/237-ai-model-support-update.md
  prds/238-remove-anthropic-sdk.md
  src/core/ai-provider-factory.ts
  src/core/ai-provider.interface.ts
  src/core/embedding-service.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  src/evaluation/model-metadata.json
  src/tools/remediate.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs(prd-237): archive completed PRD and update roadmap [skip ci]
  docs/ROADMAP.md
  prds/done/237-ai-model-support-update.md
Labels: documentation

chore: coordinated release v0.143.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix(chart): add Qdrant resources to Solution CR
  charts/templates/solution.yaml
Labels: infrastructure

chore(ci): update dot.nu version reference in release workflow
  .github/workflows/ci.yml
  dot.nu
Labels: ci-cd

chore: coordinated release v0.144.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

CNPG [skip ci]
  dot.nu
  scripts/cnpg.nu
Labels: none

chore(prd-225): reorder milestones to prioritize best practices enhancement
  prds/225-dockerfile-generation-system.md
Labels: none

Update PRD #109 with REST API architecture and separate repo approach [skip ci]
  devbox.json
  devbox.lock
  prds/109-web-ui-mcp-interaction.md
Labels: config

feat(prd-225): improve .dockerignore guidance to be principle-based
  .claude/commands/generate-dockerfile.md
  .dockerignore
  .env.vals.yaml
  Dockerfile
  devbox.json
  devbox.lock
  prds/225-dockerfile-generation-system.md
Labels: ci-cd, config

docs(prd-225): add milestone for existing Dockerfile improvement
  prds/225-dockerfile-generation-system.md
Labels: none

feat(prd-225): complete Milestone 3 - best practices enhancement
  .claude/commands/generate-dockerfile.md
  .dockerignore
  Dockerfile
  prds/225-dockerfile-generation-system.md
Labels: ci-cd

feat(prd-225): complete Milestone 4 - existing Dockerfile improvement
  .claude/commands/generate-dockerfile.md
  prds/225-dockerfile-generation-system.md
Labels: none

feat(prd-225): implement validation phase (Step 4: Build, Test, Iterate)
  .claude/commands/generate-dockerfile.md
  prds/225-dockerfile-generation-system.md
Labels: none

chore: WIP changes before merging main
  .dockerignore
  .gitignore
  Dockerfile
  devbox.json
  devbox.lock
  shared-prompts/prd-next.md
  shared-prompts/prd-update-progress.md
Labels: ci-cd, config

feat(prd-225): complete Milestone 5 - Go project testing & CI cleanup
  .github/workflows/ci.yml
  prds/225-dockerfile-generation-system.md
Labels: ci-cd

feat(prd-225): complete Milestone 6 - documentation
  README.md
  docs/mcp-prompts-guide.md
  prds/225-dockerfile-generation-system.md
  shared-prompts/generate-dockerfile.md
  shared-prompts/tests-reminder.md
Labels: documentation

chore(prd-225): archive completed PRD to prds/done/
  prds/done/225-dockerfile-generation-system.md
Labels: none

fix(remediate): add namespace scope guidance to prevent cross-namespace remediation
  prompts/remediate-system.md
Labels: none

fix(remediate): add validation delay for automatic mode to allow Kubernetes changes to propagate
  src/tools/remediate.ts
Labels: source

fix(remediate): provide full context to validation AI and increase controller wait
  src/tools/remediate.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests

fix(remediate): require JSON format in validation response
  docs/ROADMAP.md
  prds/241-anonymous-opt-in-analytics.md
  src/tools/remediate.ts
Labels: documentation, source

feat(prompts): add Dockerfile generation MCP prompt (#240)
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  README.md
  devbox.json
  devbox.lock
  docs/ROADMAP.md
  docs/mcp-prompts-guide.md
  prds/225-dockerfile-generation-system.md
  prds/241-anonymous-opt-in-analytics.md
  prds/done/225-dockerfile-generation-system.md
  prompts/remediate-system.md
  shared-prompts/generate-dockerfile.md
  shared-prompts/prd-next.md
  shared-prompts/prd-update-progress.md
  shared-prompts/tests-reminder.md
  src/tools/platform/discover-operations.tool.ts
  src/tools/remediate.ts
  tests/integration/tools/recommend.test.ts
Labels: documentation, source, tests, ci-cd, config

chore: bump version to 0.145.1
  package.json
Labels: dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
