Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

test(prd-710): swap the allowlist negative host to gist.github.com
  tests/integration/tools/recommend.test.ts
Labels: tests

fix: Fix invalid nginx image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update image tag from 'nginx:v999-nonexistent' to 'nginx:latest' in deployment.yaml [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(recommend)!: pull request workflow for pushToGit (#710) (#716)
  changelog.d/710-git-credential-host-allowlist.breaking.md
  changelog.d/710-pushtogit-apply-verb-and-path-guards.breaking.md
  charts/templates/deployment.yaml
  charts/values.yaml
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/setup/authorization.md
  docs/ai-engine/setup/deployment.md
  docs/ai-engine/tools/prompts.md
  docs/ai-engine/tools/recommend.md
  docs/ai-engine/tools/remediate.md
  mock-server/prompts-override.ts
  package-lock.json
  package.json
  prds/710-pushtogit-pull-request-workflow.md
  schema/openapi.json
  src/core/git-utils.ts
  src/core/internal-tools.ts
  src/core/user-prompts-loader.ts
  src/tools/generate-manifests.ts
  src/tools/push-to-git.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  tests/integration/tools/prompts.test.ts
  tests/integration/tools/rbac.test.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
  tests/unit/core/git-utils-create-pr.test.ts
  tests/unit/core/git-utils-security.test.ts
  tests/unit/core/remediate-git-clone-credential.test.ts
  tests/unit/core/user-prompts-loader.test.ts
  tests/unit/core/user-prompts-server-credential.test.ts
  tests/unit/helm/gitops-allowed-repo-hosts.test.ts
  tests/unit/interfaces/rest-api-prompts-override.test.ts
  tests/unit/mock-server/scrub-credentials-mirror.test.ts
  tests/unit/tools/push-to-git.test.ts
  tests/unit/tools/recommend-push-to-git-rbac.test.ts
  tests/unit/tools/remediate-response-shape.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs(prd-710): archive completed PRD to prds/done [skip ci]
  prds/done/710-pushtogit-pull-request-workflow.md
Labels: none

docs: update changelog for v2.0.0 [skip ci]
  changelog.d/710-git-credential-host-allowlist.breaking.md
  changelog.d/710-pushtogit-apply-verb-and-path-guards.breaking.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v2.0.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: fix changelog heading nested in list item for v2.0.0 [skip ci]
  docs/CHANGELOG.md
Labels: documentation

docs: normalize changelog entry titles to bold instead of nested headings [skip ci]
  docs/CHANGELOG.md
Labels: documentation

feat(chart): expose mcp.progress.heartbeatIntervalMs value (#705)
  charts/templates/deployment.yaml
  charts/values.yaml
Labels: infrastructure

fix(mcp): address review on progress notifications (#705)
  .github/workflows/ci.yml
  changelog.d/705-mcp-progress-notifications.feature.md
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  prds/705-mcp-progress-notifications.md
  src/core/schema.ts
  src/interfaces/request-context.ts
  src/tools/recommend.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/mcp-progress.test.ts
Labels: documentation, source, tests, ci-cd, dependencies, config

fix: Update the deployment manifest in the source repository to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(remediate): stop merge-patching fields nested inside containers
  changelog.d/736-remediate-merge-patch-arrays.bugfix.md
  prompts/remediate-system.md
Labels: none

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment manifest from v999-nonexistent to latest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(mcp): isolate MCP clients per progress test (#705)
  tests/integration/tools/mcp-progress.test.ts
Labels: tests

fix: Fix container image tag in deployment manifest from invalid 'nginx:v999-nonexistent' to valid 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(mcp): opt-in progress notifications for long-running tool calls (#705)
  .github/workflows/ci.yml
  changelog.d/705-mcp-progress-notifications.feature.md
  charts/templates/deployment.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  prds/705-mcp-progress-notifications.md
  src/core/schema.ts
  src/interfaces/mcp.ts
  src/interfaces/request-context.ts
  src/tools/recommend.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/mcp-progress.test.ts
  tests/unit/interfaces/progress-reporter.test.ts
Labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix(remediate): tighten patch guidance after review
  changelog.d/736-remediate-merge-patch-arrays.bugfix.md
  prompts/remediate-system.md
Labels: none

fix: Update deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(models): refresh pinned AI model versions across providers
  src/core/ai-provider.interface.ts
  src/core/model-config.ts
  src/core/tracing/ai-tracing.ts
Labels: source

docs(changelog): add fragment for model pin refresh
  changelog.d/742.feature.md
Labels: none

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(remediate): stop merge-patching fields nested inside containers (#736)
  changelog.d/736-remediate-merge-patch-arrays.bugfix.md
  prompts/remediate-system.md
Labels: none

fix: Fix invalid image tag in deployment manifest in Git source repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update image tag in deployment.yaml from nginx:v999-nonexistent to nginx:1.25 [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(models): correct unverified capability claims in model pin comments
  changelog.d/742.feature.md
  src/core/model-config.ts
Labels: source

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(models): refresh pinned AI model versions across providers (#742)
  changelog.d/742.feature.md
  src/core/ai-provider.interface.ts
  src/core/model-config.ts
  src/core/tracing/ai-tracing.ts
Labels: source

docs: update changelog for v2.1.0 [skip ci]
  changelog.d/705-mcp-progress-notifications.feature.md
  changelog.d/736-remediate-merge-patch-arrays.bugfix.md
  changelog.d/742.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v2.1.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix(helm): configure local embeddings model
  changelog.d/753-local-embeddings-model.bugfix.md
  charts/templates/deployment.yaml
  tests/unit/helm/embeddings-env.test.ts
Labels: tests, infrastructure

fix(capabilities): M2/M3 require integer list limit, stabilize scan-count assertions, drop scan contract overclaim (#714)
  contracts/capabilities/README.md
  src/core/capability-operations.ts
  src/tools/organizational-data.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/unit/contracts/capabilities-contract.test.ts
Labels: source, tests

fix(capabilities): correct readiness failure attribution and truncated flag (#714)
  changelog.d/714.feature.md
  docs/ai-engine/tools/capability-management.md
  src/core/capability-operations.ts
  src/tools/version.ts
  tests/unit/contracts/capabilities-contract.test.ts
  tests/unit/tools/version-readiness.test.ts
Labels: documentation, source, tests

docs(capabilities): M5 document /readyz probe and list response contract, add changelog fragment (#714)
  changelog.d/714.feature.md
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/capability-management.md
Labels: documentation

M4: rework /readyz per Option B — gate on Qdrant + conditional embedding health, collection existence informational (#714)
  changelog.d/714.feature.md
  charts/templates/deployment.yaml
  docs/ai-engine/api/rest-api.md
  src/interfaces/mcp.ts
  src/tools/version.ts
  tests/unit/tools/version-readiness.test.ts
Labels: documentation, source, tests, infrastructure

feat(capabilities): M2 raise list ceiling to 10000, flag truncation, add identity-only projection (#714)
  src/core/capability-operations.ts
  src/tools/organizational-data.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: source, tests

feat(#714): M1 cheap counting — add vector_count plugin op and drop payload scroll in getCapabilitiesCount
  packages/agentic-tools/src/qdrant/operations.ts
  packages/agentic-tools/src/tools/vector.ts
  packages/agentic-tools/tests/unit/vector-tools.test.ts
  src/core/base-vector-service.ts
  src/core/capability-vector-service.ts
Labels: source, tests

feat(readiness): M4 add unauthenticated /readyz probe verifying capability subsystem, repoint chart readinessProbe (#714)
  charts/templates/deployment.yaml
  src/interfaces/mcp.ts
  src/tools/version.ts
  tests/integration/tools/auth.test.ts
  tests/unit/tools/version-readiness.test.ts
Labels: source, tests, infrastructure

fix(readiness): M4 gate /readyz on embedding backend health and document embeddingHealthy (#714)
  changelog.d/714.feature.md
  docs/ai-engine/api/rest-api.md
  src/tools/version.ts
Labels: documentation, source
