Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

chore: coordinated release v0.188.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-326): move feedback message to separate MCP content block
  prds/326-feedback-message-content-block.md
  src/core/pattern-operations.ts
  src/core/policy-operations.ts
  src/tools/generate-manifests.ts
  src/tools/operate-execution.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/project-setup.ts
  src/tools/project-setup/generate-scope.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
Labels: source, tests

chore(prd-326): mark PRD complete and archive
  docs/ROADMAP.md
  prds/done/326-feedback-message-content-block.md
Labels: documentation

fix(prd-326): move feedback message to separate MCP content block (#327)
  docs/ROADMAP.md
  prds/done/326-feedback-message-content-block.md
  src/core/pattern-operations.ts
  src/core/policy-operations.ts
  src/tools/generate-manifests.ts
  src/tools/operate-execution.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/project-setup.ts
  src/tools/project-setup/generate-scope.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
Labels: documentation, source, tests

chore: coordinated release v0.189.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix: consolidate agent display instructions for visualization URL and feedback
  src/core/agent-display.ts
  src/core/index.ts
  src/tools/generate-manifests.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/project-setup.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

chore: coordinated release v0.190.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-328): create PRD #328 - dashboard HTTP API endpoints [skip ci]
  docs/ROADMAP.md
  prds/328-dashboard-http-api.md
Labels: documentation

feat(prd-328): implement dashboard HTTP API endpoints
  prds/328-dashboard-http-api.md
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-328): implement printer columns support via Kubernetes Table API
  prds/328-dashboard-http-api.md
  src/core/capabilities.ts
  src/core/capability-scan-workflow.ts
  src/core/capability-vector-service.ts
  src/core/discovery.ts
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
  src/tools/organizational-data.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-328): implement single resource endpoint for dashboard detail page
  prds/328-dashboard-http-api.md
  src/core/capabilities.ts
  src/core/capability-operations.ts
  src/core/capability-scan-workflow.ts
  src/core/capability-vector-service.ts
  src/core/discovery.ts
  src/core/kubectl-tools.ts
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
  src/tools/organizational-data.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-328): implement pod logs endpoint for dashboard Logs tab
  prds/328-dashboard-http-api.md
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat: add [visualization] prefix mode to query tool for direct visualization output
  examples/reset-sync-and-scan-test-cluster.sh
  prompts/partials/query-simple-output.md
  prompts/partials/visualization-output.md
  prompts/query-system.md
  prompts/visualize.md
  src/core/visualization.ts
  src/interfaces/rest-api.ts
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

fix(tests): improve test isolation and consistency
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/recommend.test.ts
Labels: tests

feat(prd-328): add sessionId to visualization mode query response
  examples/reset-sync-and-scan-test-cluster.sh
  prds/328-dashboard-http-api.md
  src/tools/query.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-328): complete Dashboard HTTP API + add visualization status fields
  .claude/skills/process-feature-request/SKILL.md
  .claude/skills/query-dot-ai/SKILL.md
  .claude/skills/request-dot-ai-feature/SKILL.md
  devbox.json
  package-lock.json
  prds/328-dashboard-http-api.md
  prompts/partials/visualization-output.md
  scripts/reset-sync-and-scan-test-cluster.sh
Labels: dependencies, config

feat(prd-328): add bar-chart visualization type for metrics data
  .claude/skills/process-feature-request/SKILL.md
  .claude/skills/request-dot-ai-feature/SKILL.md
  prds/328-dashboard-http-api.md
  prompts/partials/visualization-output.md
  src/core/visualization.ts
  src/interfaces/rest-api.ts
  src/tools/query.ts
Labels: source

chore: update devbox.lock
  devbox.lock
Labels: none

chore: add kind to devbox dependencies
  devbox.json
  devbox.lock
Labels: config

Query
  .env.vals.yaml
  dot.nu
  examples/find-mcp-servers.sh
  examples/solution-dot-ai.yaml
  scripts/dot-ai.nu
Labels: config

chore: coordinated release v0.191.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

Query
  dot.nu
  examples/databases.yaml
  examples/find-mcp-servers.sh
  examples/qdrant-ingress.yaml
  prompts/query-system.md
Labels: none

chore: coordinated release v0.192.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

Query [skip ci]
  dot.nu
Labels: none

docs(prd-331): create PRD #331 - towncrier release notes [skip ci]
  docs/ROADMAP.md
  prds/331-towncrier-release-notes.md
Labels: documentation

feat(prd-331): complete Milestone 1 - towncrier setup
  CONTRIBUTING.md
  changelog.d/.gitkeep
  prds/331-towncrier-release-notes.md
  pyproject.toml
  shared-prompts/prd-create.md
Labels: documentation, config

feat(prd-331): add towncrier release notes infrastructure
  .claude/skills/changelog-fragment/SKILL.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  changelog.d/breaking/.gitkeep
  changelog.d/bugfix/.gitkeep
  changelog.d/doc/.gitkeep
  changelog.d/feature/.gitkeep
  changelog.d/feature/320-visualization-urls.md
  changelog.d/misc/.gitkeep
  docs/CHANGELOG.md
  pyproject.toml
Labels: documentation, ci-cd, config

docs(prd-331): update PRD with progress [skip ci]
  prds/331-towncrier-release-notes.md
Labels: none

docs: update release notes for v0.180.0
  docs/CHANGELOG.md
Labels: documentation

fix(prd-331): correct fragment filename format for towncrier
  .claude/skills/changelog-fragment/SKILL.md
  changelog.d/feature/320.md
Labels: none

fix: remove failed v0.180.0 changelog entry for retry [skip ci]
  docs/CHANGELOG.md
Labels: documentation

docs: update release notes for v0.180.0
  docs/CHANGELOG.md
Labels: documentation

fix(prd-331): use flat structure with type in filename for towncrier
  .claude/skills/changelog-fragment/SKILL.md
  changelog.d/.gitkeep
  changelog.d/320.feature.md
  changelog.d/breaking/.gitkeep
  changelog.d/bugfix/.gitkeep
  changelog.d/doc/.gitkeep
  changelog.d/feature/.gitkeep
  changelog.d/misc/.gitkeep
  docs/CHANGELOG.md
Labels: documentation

docs: update release notes for v0.180.0
  changelog.d/320.feature.md
  docs/CHANGELOG.md
Labels: documentation

docs(prd-331): complete towncrier release notes infrastructure
  changelog.d/331.misc.md
  docs/ROADMAP.md
  prds/done/331-towncrier-release-notes.md
Labels: documentation

feat(prd-328): implement pod logs endpoint for dashboard Logs tab
  prds/328-dashboard-http-api.md
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-328): implement single resource endpoint for dashboard detail page
  prds/328-dashboard-http-api.md
  src/core/capabilities.ts
  src/core/capability-operations.ts
  src/core/capability-scan-workflow.ts
  src/core/capability-vector-service.ts
  src/core/discovery.ts
  src/core/kubectl-tools.ts
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
  src/tools/organizational-data.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-328): implement printer columns support via Kubernetes Table API
  prds/328-dashboard-http-api.md
  src/core/capabilities.ts
  src/core/capability-scan-workflow.ts
  src/core/capability-vector-service.ts
  src/core/discovery.ts
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
  src/tools/organizational-data.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/query.test.ts
Labels: source, tests

feat(prd-328): implement dashboard HTTP API endpoints
  prds/328-dashboard-http-api.md
  src/core/resource-tools.ts
  src/interfaces/rest-api.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/query.test.ts
Labels: source, tests

docs(prd-328): update progress log with recommend workflow session state enhancements
  prds/328-dashboard-http-api.md
Labels: none

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
