Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

feat(prd-621): per-request path, branch, and credential for prompts repo override
  changelog.d/621.feature.md
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/prompts.md
  mock-server/fixtures/prompts/get-override-path-branch.json
  mock-server/fixtures/prompts/list-override-path-branch.json
  mock-server/fixtures/prompts/refresh-override-path-branch.json
  mock-server/prompts-override.ts
  mock-server/server.ts
  src/core/git-utils.ts
  src/core/user-prompts-loader.ts
  src/interfaces/cors-headers.ts
  src/interfaces/header-redaction.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/git-utils-override-auth.test.ts
  tests/unit/core/user-prompts-loader.test.ts
  tests/unit/interfaces/cors-headers.test.ts
  tests/unit/interfaces/header-redaction.test.ts
  tests/unit/interfaces/rest-api-prompts-override.test.ts
Labels: documentation, source, tests

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-621): spawn git directly for token clone; serialize prompts cache tests
  src/core/git-utils.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/git-utils-override-auth.test.ts
Labels: source, tests

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-621): mark M1-M6 complete, M7 drafted (CI-verified green)
  prds/621-prompts-override-path-branch-credential.md
Labels: none

fix: Update deployment manifest with valid nginx image tag in source Git repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment image tag to valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(deps): bump @grpc/grpc-js to 1.14.4 for GHSA-5375-pq7m-f5r2 and GHSA-99f4-grh7-6pcq
  package-lock.json
  package.json
Labels: dependencies, config

fix(prd-621): address CodeRabbit review on PR #633
  docs/ai-engine/api/rest-api.md
  mock-server/server.ts
  src/interfaces/cors-headers.ts
  src/interfaces/mcp.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/interfaces/cors-headers.test.ts
  tests/unit/interfaces/rest-api-url-scrubbing.test.ts
Labels: documentation, source, tests

fix: Fix the invalid nginx image tag in deployment.yaml [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix container image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(operate): use robust shared JSON extractor for AI response parsing
  src/tools/operate-analysis.ts
  tests/unit/core/platform-utils.test.ts
Labels: source, tests

fix(deps): override esbuild to ^0.28.1 for GHSA-gv7w-rqvm-qjhr
  package-lock.json
  package.json
Labels: dependencies, config

fix: Update deployment.yaml to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(changelog): add fragment for operate JSON parsing fix [skip ci]
  changelog.d/operate-json-parse.bugfix.md
Labels: none

fix(provider): Remove unsupported Copilot PAT tokens (+ bundled repo-wide CI fixes) (#628)
  changelog.d/627-fix-copilot-pat-support.bugfix.md
  changelog.d/operate-json-parse.bugfix.md
  charts/values.yaml
  docs/CHANGELOG.md
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  src/core/providers/copilot-token-exchanger.ts
  src/core/providers/vercel-provider.ts
  src/tools/operate-analysis.ts
  tests/integration/tools/copilot-provider.test.ts
  tests/unit/core/platform-utils.test.ts
  tests/unit/core/providers/copilot-token-exchanger.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs: update changelog for v1.21.1 [skip ci]
  changelog.d/627-fix-copilot-pat-support.bugfix.md
  changelog.d/operate-json-parse.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.21.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix: Fix the invalid image tag in the deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-621): guard single-settle in token-clone spawn handler
  src/core/git-utils.ts
  tests/unit/core/git-utils-override-auth.test.ts
Labels: source, tests

fix: Fix invalid nginx image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

chore(agent-deck): release worker owns prd-done-except-merge + CI/review checks
  .dot-agent-deck.toml
Labels: config

fix: Update image tag to valid nginx image in source deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-621): per-request path, branch, and credential for the prompts repo override (#633)
  .dot-agent-deck.toml
  changelog.d/621.feature.md
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/prompts.md
  mock-server/fixtures/prompts/get-override-path-branch.json
  mock-server/fixtures/prompts/list-override-path-branch.json
  mock-server/fixtures/prompts/refresh-override-path-branch.json
  mock-server/prompts-override.ts
  mock-server/server.ts
  prds/621-prompts-override-path-branch-credential.md
  src/core/git-utils.ts
  src/core/user-prompts-loader.ts
  src/interfaces/cors-headers.ts
  src/interfaces/header-redaction.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/git-utils-override-auth.test.ts
  tests/unit/core/user-prompts-loader.test.ts
  tests/unit/interfaces/cors-headers.test.ts
  tests/unit/interfaces/header-redaction.test.ts
  tests/unit/interfaces/rest-api-prompts-override.test.ts
  tests/unit/interfaces/rest-api-url-scrubbing.test.ts
Labels: documentation, source, tests, config

docs: update changelog for v1.22.0 [skip ci]
  changelog.d/621.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.22.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

chore: gitignore .dot-agent-deck/ orchestrator state
  .dot-agent-deck/orchestrator-context.md
  .gitignore
Labels: none

fix(prompts): surface per-request override clone failures instead of failing open
  changelog.d/575-prompts-override-fail-open.bugfix.md
  src/core/user-prompts-loader.ts
  src/interfaces/rest-api.ts
  src/tools/prompts.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/user-prompts-loader.test.ts
Labels: source, tests

docs(prd-647): create PRD #647 - prompts source ingestion endpoint [skip ci]
  prds/647-prompts-source-ingestion-endpoint.md
Labels: none

docs(skill): fix publish-mock-server steps (multi-arch builder, version tag, no hardcoded path)
  .claude/skills/publish-mock-server/SKILL.md
Labels: none

fix: Update deployment.yaml to use valid nginx image tag (nginx:latest) [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the invalid image tag in the deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prompts): document PROMPTS_SOURCE_ERROR (502) in schemas; fix M4 parity test
  schema/openapi.json
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  tests/integration/tools/prompts.test.ts
Labels: source, tests

fix: Fix the invalid nginx image tag in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(deps): clear all npm audit advisories (otel bump + transitive updates)
  changelog.d/648-dependency-security-updates.misc.md
  package-lock.json
  package.json
Labels: dependencies, config

fix: Update deployment.yaml with valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(integration): surface actual payload on AI-driven query/recommend assertion failures
  tests/integration/tools/query.test.ts
  tests/integration/tools/recommend.test.ts
Labels: tests

vals
  .env.vals.yaml
Labels: config

fix: Fix the invalid image tag in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update the deployment image tag in the source Git repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests
