Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

chore: coordinated release v1.24.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs: drop duplicated changelog-fragment convention from CLAUDE.md [skip ci]
  CLAUDE.md
Labels: documentation

docs(claude): drop worktree how-to duplication + dedupe AI-prompts convention [skip ci]
  CLAUDE.md
Labels: documentation

docs(prd-694): create PRD #694 - AWS credential provider chain for Bedrock on EKS [skip ci]
  docs/ROADMAP.md
  prds/694-bedrock-aws-credential-chain.md
Labels: documentation

docs: align PRD 694 with confirmed AWS requirements
  prds/694-bedrock-aws-credential-chain.md
Labels: none

feat: add AWS credential chain for Bedrock
  package-lock.json
  package.json
  src/core/embedding-service.ts
  src/core/providers/vercel-provider.ts
Labels: source, dependencies, config

test: cover Bedrock AWS credential provider chain
  tests/unit/core/embedding-service.bedrock.test.ts
  tests/unit/core/providers/vercel-provider.bedrock.test.ts
Labels: tests

test: fix non-Bedrock credential-chain coverage
  tests/unit/core/embedding-service.bedrock.test.ts
Labels: tests

chore: update transitive dependencies for security advisories
  package-lock.json
Labels: dependencies, config

docs(694): add changelog fragment for secretless Bedrock auth
  changelog.d/694.feature.md
Labels: none

feat: add AWS credential provider chain for Bedrock (#698)
  changelog.d/694.feature.md
  package-lock.json
  package.json
  prds/694-bedrock-aws-credential-chain.md
  src/core/embedding-service.ts
  src/core/providers/vercel-provider.ts
  tests/unit/core/embedding-service.bedrock.test.ts
  tests/unit/core/providers/vercel-provider.bedrock.test.ts
Labels: source, tests, dependencies, config

docs: update changelog for v1.25.0 [skip ci]
  changelog.d/694.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.25.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-464): archive completed PRD to prds/done [skip ci]
  docs/ROADMAP.md
  prds/464-mock-language-model-unit-testing.md
  prds/done/464-mock-language-model-unit-testing.md
Labels: documentation

docs(prd-705): create PRD #705 - MCP progress notifications for long-running tools [skip ci]
  prds/455-evaluate-streamtext-long-operations.md
  prds/705-mcp-progress-notifications.md
Labels: none

docs(prd-705): link deferred question-loop parallelization to #706 [skip ci]
  prds/705-mcp-progress-notifications.md
Labels: none

docs(prd-706): create PRD #706 - parallelize per-solution question generation [skip ci]
  prds/706-parallelize-question-generation.md
Labels: none

docs(prd-706): correct partial-failure analysis [skip ci]
  prds/706-parallelize-question-generation.md
Labels: none

chore(renovate): automerge workflow and devbox updates [skip ci]
  renovate.json
Labels: config

Add MCP Toplist rank badge
  README.md
Labels: documentation

fix(mcp): log progress-notification send failures at warn (#705)
  src/interfaces/mcp.ts
Labels: source

test(mcp): add MCP-client integration coverage for progress notifications (#705)
  tests/integration/tools/mcp-progress.test.ts
Labels: tests

test(mcp): cover progress reporter, heartbeat, and no-token no-op (#705)
  tests/unit/interfaces/progress-reporter.test.ts
Labels: tests

feat(recommend): emit semantic phase progress across solution analysis (#705)
  src/core/schema.ts
  src/tools/recommend.ts
Labels: source

feat(mcp): add opt-in progress-notification plumbing for tool calls (#705)
  src/interfaces/mcp.ts
  src/interfaces/request-context.ts
Labels: source

docs(changelog): document MCP progress notifications and client config (#705)
  changelog.d/705-mcp-progress-notifications.feature.md
Labels: none

feat(mcp): drive per-call time-based progress heartbeat for liveness (#705)
  src/interfaces/mcp.ts
  src/interfaces/request-context.ts
Labels: source

test(mcp): run shared-session progress tests sequentially (#705)
  tests/integration/tools/mcp-progress.test.ts
Labels: tests

docs(prd-705): mark milestones complete and resolve open questions
  prds/705-mcp-progress-notifications.md
Labels: none

test(mcp): assert progress with toMatchObject (#705)
  tests/integration/tools/mcp-progress.test.ts
Labels: tests

fix(mcp): single monotonic progress sequence per token (#705)
  prds/705-mcp-progress-notifications.md
  src/interfaces/mcp.ts
  src/interfaces/request-context.ts
  tests/unit/interfaces/progress-reporter.test.ts
Labels: source, tests

test(mcp): assert solution shape, drop generic matcher (#705)
  tests/integration/tools/mcp-progress.test.ts
Labels: tests

docs(prd-710): create PRD #710 - pull request workflow for pushToGit [skip ci]
  prds/710-pushtogit-pull-request-workflow.md
Labels: none

docs(claude): require chart values for new config, keep project knowledge in repo [skip ci]
  CLAUDE.md
  docs/CLAUDE.md
Labels: documentation

docs(prd-714): create PRD #714 - capabilities list contract and readiness signal [skip ci]
  docs/ROADMAP.md
  prds/714-capabilities-list-contract.md
Labels: documentation

refactor(git): extract shared createPullRequest() helper (PRD #710 M1)
  prds/710-pushtogit-pull-request-workflow.md
  src/core/git-utils.ts
  src/core/internal-tools.ts
  src/tools/remediate.ts
  tests/unit/core/git-utils-create-pr.test.ts
Labels: source, tests

harden(git): tighten createPullRequest() contract and host check (PRD #710 M1)
  src/core/git-utils.ts
  src/tools/remediate.ts
  tests/unit/core/git-utils-create-pr.test.ts
Labels: source, tests

test(recommend): pin pushToGit PR mode behavior (PRD #710 M2/M3, RED)
  tests/integration/tools/rbac.test.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
Labels: tests

fix(git): linear credential scrub, tighter GitHub remote parsing (PRD #710 M1)
  mock-server/prompts-override.ts
  src/core/git-utils.ts
  src/tools/remediate.ts
  tests/unit/core/git-utils-create-pr.test.ts
  tests/unit/tools/remediate-response-shape.test.ts
Labels: source, tests

fix: Fix image tag in deployment manifest from invalid 'nginx:v999-nonexistent' to valid 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
