Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

chore: coordinated release v0.125.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-137): implement Phase 1 core OpenTelemetry tracing foundation
  package-lock.json
  package.json
  prds/137-opentelemetry-tracing.md
  src/core/tracing/config.ts
  src/core/tracing/index.ts
  src/core/tracing/tracer.ts
  src/core/tracing/types.ts
  src/mcp/server.ts
Labels: source, dependencies, config

feat(prd-137): implement HTTP SERVER spans, OTLP exporter & context propagation
  package-lock.json
  package.json
  prds/137-opentelemetry-tracing.md
  src/core/tracing/http-tracing.ts
  src/core/tracing/index.ts
  src/core/tracing/tracer.ts
  src/interfaces/mcp.ts
Labels: source, dependencies, config

feat(prd-137): implement STDIO tool tracing and version tool enhancements
  .teller.yml
  prds/137-opentelemetry-tracing.md
  src/core/tracing/index.ts
  src/core/tracing/tool-tracing.ts
  src/interfaces/mcp.ts
  src/tools/version.ts
Labels: source, config

feat(prd-137): implement AI provider chat tracing with GenAI semantic conventions
  prds/137-opentelemetry-tracing.md
  src/core/embedding-service.ts
  src/core/index.ts
  src/core/providers/anthropic-provider.ts
  src/core/providers/vercel-provider.ts
  src/core/tracing/ai-tracing.ts
  src/core/tracing/index.ts
Labels: source

feat(prd-137): add toolLoop iteration tracing and simplify tracing code
  prds/137-opentelemetry-tracing.md
  src/core/providers/anthropic-provider.ts
  src/core/providers/vercel-provider.ts
  src/core/tracing/ai-tracing.ts
  src/core/tracing/http-tracing.ts
Labels: source

feat(prd-137): complete Phase 2 AI embeddings & Kubernetes tracing + simplify capability scan workflow
  prds/137-opentelemetry-tracing.md
  src/core/capability-scan-workflow.ts
  src/core/discovery.ts
  src/core/embedding-service.ts
  src/core/kubernetes-utils.ts
  src/core/tracing/index.ts
  src/core/tracing/k8s-tracing.ts
  src/tools/organizational-data.ts
  src/tools/version.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: source, tests

feat(prd-137): implement Qdrant vector database tracing + fix capability scanning
  prds/137-opentelemetry-tracing.md
  src/core/capability-scan-workflow.ts
  src/core/tracing/index.ts
  src/core/tracing/qdrant-tracing.ts
  src/core/vector-db-service.ts
Labels: source

feat(prd-137): remove auto-instrumentation in favor of manual tracing
  src/core/tracing/tracer.ts
Labels: source

feat(prd-137): create observability documentation and complete Phase 1
  docs/mcp-setup.md
  docs/observability-guide.md
  prds/137-opentelemetry-tracing.md
Labels: documentation

feat(prd-137): add extraEnv support to Helm chart and complete Phase 1 deployment documentation
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/values.yaml
  docs/setup/docker-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  prds/137-opentelemetry-tracing.md
Labels: documentation, infrastructure

docs(prd-137): complete OpenTelemetry tracing PRD and create PRD 197
  docs/ROADMAP.md
  prds/197-multi-step-workflow-distributed-tracing.md
  prds/done/137-opentelemetry-tracing.md
Labels: documentation

fix: address CodeRabbit review feedback
  docs/observability-guide.md
  src/core/tracing/config.ts
  src/core/tracing/http-tracing.ts
Labels: documentation, source

feat(observability): add OpenTelemetry distributed tracing (#198)
  .teller.yml
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/values.yaml
  docs/ROADMAP.md
  docs/mcp-setup.md
  docs/observability-guide.md
  docs/setup/docker-setup.md
  docs/setup/kubernetes-setup.md
  docs/setup/kubernetes-toolhive-setup.md
  package-lock.json
  package.json
  prds/137-opentelemetry-tracing.md
  prds/197-multi-step-workflow-distributed-tracing.md
  prds/done/137-opentelemetry-tracing.md
  src/core/capability-scan-workflow.ts
  src/core/discovery.ts
  src/core/embedding-service.ts
  src/core/index.ts
  src/core/kubernetes-utils.ts
  src/core/providers/anthropic-provider.ts
  src/core/providers/vercel-provider.ts
  src/core/tracing/ai-tracing.ts
  src/core/tracing/config.ts
  src/core/tracing/http-tracing.ts
  src/core/tracing/index.ts
  src/core/tracing/k8s-tracing.ts
  src/core/tracing/qdrant-tracing.ts
  src/core/tracing/tool-tracing.ts
  src/core/tracing/tracer.ts
  src/core/tracing/types.ts
  src/core/vector-db-service.ts
  src/interfaces/mcp.ts
  src/mcp/server.ts
  src/tools/organizational-data.ts
  src/tools/version.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

chore: coordinated release v0.126.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-199): create PRD #199 - Agent-to-Agent (A2A) Protocol Support [skip ci]
  docs/ROADMAP.md
  prds/199-a2a-protocol-support.md
Labels: documentation

fix(helm): add customLlm and customEmbeddings secrets to secret template
  charts/templates/secret.yaml
Labels: infrastructure

docs(kubernetes): add custom LLM endpoint configuration examples
  docs/setup/kubernetes-setup.md
Labels: documentation

chore: coordinated release v0.127.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(kagent): add kagent integration setup guide [skip ci]
  docs/mcp-setup.md
  docs/setup/kagent-setup.md
  docs/setup/kubernetes-setup.md
Labels: documentation

Docs [skip ci]
  docs/setup/kagent-setup.md
Labels: documentation

fix(version): clarify policy intent vs Kyverno policy generation status [skip ci]
  src/tools/version.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

feat(prd-175): implement Amazon Bedrock provider support with embeddings
  devbox.json
  devbox.lock
  docs/mcp-setup.md
  package-lock.json
  package.json
  prds/175-bedrock-provider-support.md
  src/core/ai-provider-factory.ts
  src/core/embedding-service.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, source, tests, dependencies, config

docs(prd-175): archive completed PRD to done directory
  prds/done/175-bedrock-provider-support.md
Labels: none

feat(prd-175): implement Amazon Bedrock provider support with embeddings (#200)
  devbox.json
  devbox.lock
  docs/mcp-setup.md
  package-lock.json
  package.json
  prds/175-bedrock-provider-support.md
  prds/done/175-bedrock-provider-support.md
  src/core/ai-provider-factory.ts
  src/core/embedding-service.ts
  src/core/model-config.ts
  src/core/providers/vercel-provider.ts
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, source, tests, dependencies, config

chore: coordinated release v0.128.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-201): create PRD #201 - AI-Powered Application Operations Tool [skip ci]
  prds/201-operate-tool.md
  prds/done/4-application-lifecycle-management.md
Labels: none

docs(prd-202): create PRD #202 - GitOps Integration for Argo CD and Flux [skip ci]
  docs/ROADMAP.md
  prds/202-gitops-integration.md
Labels: documentation

Video [skip ci]
  eval/analysis/platform/synthesis-report.md
Labels: none

feat: improve tracing observability and cleanup unused dependencies
  dot.nu
  package-lock.json
  package.json
  scripts/dot-ai.nu
  scripts/jaeger.nu
  scripts/openai.nu
  src/interfaces/mcp.ts
Labels: source, dependencies, config

chore: coordinated release v0.129.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

Minor [skip ci]
  src/core/kubernetes-utils.ts
Labels: source

fix(helm): default CUSTOM_EMBEDDINGS_BASE_URL to baseURL when embeddingsBaseURL is empty
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/values.yaml
Labels: infrastructure

chore: coordinated release v0.130.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix: AnthropicProvider now uses correct model for anthropic_haiku
  src/core/providers/anthropic-provider.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

chore: coordinated release v0.131.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix(version): improve diagnostic accuracy and error details for custom endpoints
  src/tools/version.ts
Labels: source

chore: coordinated release v0.132.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(embeddings): add support for custom embedding models and dimensions
  charts/templates/deployment.yaml
  charts/templates/mcpserver.yaml
  charts/values.yaml
  docs/mcp-setup.md
  src/core/embedding-service.ts
Labels: documentation, source, infrastructure

chore: coordinated release v0.133.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config
