Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix(remediate): find the analysis JSON, not the first brace
  src/tools/remediate.ts
  tests/unit/tools/remediate-final-analysis-parse.test.ts
Labels: source, tests

docs(prd-811): record the #810 interaction, the constrained-prompt gap and follow-ups
  prds/811-untrusted-content-boundary.md
Labels: none

docs(prd-811): add changelog fragment for untrusted-content boundary
  changelog.d/811.feature.md
Labels: none

fix: Fix the invalid image tag in the deployment manifest stored in Git [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update the container image tag in deployment manifest from invalid 'nginx:v999-nonexistent' to valid 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-811): address PR #841 review findings
  CLAUDE.md
  changelog.d/810.feature.md
  changelog.d/811.feature.md
  docs/dev/injection-eval-guide.md
  prds/811-untrusted-content-boundary.md
  src/core/platform-utils.ts
  src/evaluation/injection/detectors.ts
  src/evaluation/injection/report.ts
  src/tools/remediate.ts
  tests/integration/helpers/model-prompt-capture.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/untrusted-content-boundary.test.ts
  tests/unit/core/platform-utils.test.ts
  tests/unit/evaluation/injection/detectors.test.ts
  tests/unit/evaluation/injection/report.test.ts
Labels: documentation, source, tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

perf(remediate): make JSON-candidate extraction linear (CWE-400)
  prds/811-untrusted-content-boundary.md
  src/core/platform-utils.ts
  src/tools/remediate.ts
  tests/unit/core/platform-utils.test.ts
  tests/unit/tools/remediate-final-analysis-parse.test.ts
Labels: source, tests

perf(core): make ```json fence extraction linear
  src/core/platform-utils.ts
  tests/unit/core/platform-utils.test.ts
Labels: source, tests

fix: Update the deployment manifest to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx:latest image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs: update changelog for v2.4.0 [skip ci]
  changelog.d/810.feature.md
  changelog.d/811.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v2.4.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: link dev-only eval guide by absolute URL
  docs/ai-engine/operations/untrusted-content.md
Labels: documentation

test(eval): injection corpus v2 for SA_TOKEN_CANARY and copyable secret
  changelog.d/847.misc.md
  docs/dev/injection-eval-guide.md
  eval/datasets/injection-corpus-v2.jsonl
  prds/811-untrusted-content-boundary.md
  src/evaluation/injection/corpus.ts
  src/evaluation/injection/detectors.ts
  src/evaluation/injection/fixtures.ts
  tests/unit/evaluation/injection/corpus.test.ts
  tests/unit/evaluation/injection/detectors.test.ts
  tests/unit/evaluation/injection/fixtures.test.ts
  tests/unit/evaluation/injection/run-injection-eval.test.ts
Labels: documentation, source, tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
