Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

docs: update changelog for v1.23.1 [skip ci]
  changelog.d/681-prd-full-skill-body.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.23.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

Skills [skip ci]
  .claude/skills/dot-ai-changelog-fragment/SKILL.md
  .claude/skills/dot-ai-tag-release/SKILL.md
  .claude/skills/dot-ai-tag-release/analyze.sh
  .claude/skills/dot-ai-tag-release/cleanup.sh
  devbox.json
Labels: config

fix(knowledge): normalize legacy migration to unified chunk schema (#673)
  .github/workflows/ci.yml
  packages/agentic-tools/src/qdrant/operations.ts
  packages/agentic-tools/src/qdrant/types.ts
  packages/agentic-tools/src/tools/vector.ts
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  packages/agentic-tools/tests/unit/vector-tools.test.ts
  src/core/knowledge-migration.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/infrastructure/seed-legacy-patterns.mjs
  tests/integration/tools/unified-knowledge-base.test.ts
  tests/integration/tools/version.test.ts
  tests/unit/core/knowledge-migration.test.ts
Labels: source, tests, ci-cd

refactor(knowledge): extract searchKnowledgeBase into core service to break core->tools cycle
  src/core/knowledge-service.ts
  src/core/schema.ts
  src/interfaces/rest-api.ts
  src/tools/manage-knowledge.ts
  src/tools/operate.ts
Labels: source

fix(knowledge): remove unimplemented analyze op from manageOrgData and add search to description
  src/tools/organizational-data.ts
Labels: source

fix(knowledge): bound per-chunk text in operate formatKnowledgeContext to limit prompt size
  src/tools/operate.ts
Labels: source

fix(knowledge): re-run legacy migration when a plugin is discovered in the background
  src/mcp/server.ts
Labels: source

fix(knowledge): namespace migrated point IDs with uuidv5 to prevent collisions before legacy delete
  package-lock.json
  package.json
  src/core/knowledge-migration.ts
  tests/unit/core/knowledge-migration.test.ts
Labels: source, tests, dependencies, config

test(knowledge): mark independent nested describe blocks as concurrent
  tests/integration/tools/unified-knowledge-base.test.ts
Labels: tests

fix(knowledge): default missing search payload fields to avoid undefined content crash
  src/core/knowledge-service.ts
Labels: source

fix(knowledge): guard migration against concurrent runs and gate re-run on vector_store plugin
  src/core/knowledge-migration.ts
  src/mcp/server.ts
Labels: source

fix(knowledge): guard malformed plugin search response to keep error contract
  src/core/knowledge-service.ts
Labels: source

fix(knowledge): reuse a lazy EmbeddingService singleton in searchKnowledgeBase
  src/core/knowledge-service.ts
Labels: source

fix(knowledge): return error instead of throwing when query embedding fails
  src/core/knowledge-service.ts
Labels: source

docs(knowledge): correct migration header to describe store-success delete gating
  src/core/knowledge-migration.ts
Labels: source

refactor(knowledge): source KNOWLEDGE_NAMESPACE from uuid DNS constant to prevent drift
  packages/agentic-tools/src/tools/knowledge.ts
  src/core/knowledge-migration.ts
  tests/integration/tools/manage-knowledge.test.ts
Labels: source, tests

refactor(knowledge): share plugin/collection/limit constants from knowledge-service
  src/core/knowledge-service.ts
  src/tools/manage-knowledge.ts
Labels: source

Fix/375 unified knowledge base (#682)
  package-lock.json
  package.json
  packages/agentic-tools/src/tools/knowledge.ts
  src/core/knowledge-migration.ts
  src/core/knowledge-service.ts
  src/core/schema.ts
  src/interfaces/rest-api.ts
  src/mcp/server.ts
  src/tools/manage-knowledge.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  tests/integration/tools/manage-knowledge.test.ts
  tests/integration/tools/unified-knowledge-base.test.ts
  tests/unit/core/knowledge-migration.test.ts
Labels: source, tests, dependencies, config

fix(version): put knowledgeSearch and knowledge-base-search on one readiness rule
  src/tools/version.ts
Labels: source

fix(prompts): resolve ingest cache root once to prevent cross-device rename
  src/core/user-prompts-loader.ts
Labels: source

test(operate): seed HPA scaling pattern via manageKnowledge (PRD #375)
  tests/integration/tools/operate.test.ts
Labels: tests

fix: Fix deployment image tag in Git repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(knowledge): isolate per-collection migration failures
  src/core/knowledge-migration.ts
Labels: source

refactor(knowledge): dedupe collection-not-found detection
  src/core/knowledge-service.ts
Labels: source

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(recommend): retry generate→deploy to absorb AI-values variance
  tests/integration/tools/recommend.test.ts
Labels: tests

fix(query): retry transient AI tool-loop failures in the query handler
  src/tools/query.ts
Labels: source

fix: Fix the image tag in the deployment.yaml manifest from invalid 'nginx:v999-nonexistent' to valid 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

refactor(query): extract retry helper with backoff + add unit coverage
  src/tools/query.ts
  tests/unit/tools/query-retry.test.ts
Labels: source, tests

fix(local-embeddings): add opt-in model prefetch to bypass TEI's Xet downloader
  charts/templates/local-embeddings.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, tests, infrastructure

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(local-embeddings): scope prefetch heading to the embedding model [skip ci]
  docs/ai-engine/setup/deployment.md
Labels: documentation

refactor(knowledge): close out remaining CodeRabbit review items
  src/core/knowledge-service.ts
  src/interfaces/rest-api.ts
  src/tools/operate.ts
Labels: source

fix: Fix container image tag in deployment manifest to use valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(ci): guard migration-seed port-forwards; add doc emoji (CodeRabbit)
  docs/ai-engine/setup/deployment.md
  tests/integration/infrastructure/run-integration-tests.sh
Labels: documentation, tests

fix: Update deployment image tag to valid nginx:latest in Git repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(changelog): add fragments for #375 unified knowledge base [skip ci]
  changelog.d/375-manage-org-data-capabilities-only.breaking.md
  changelog.d/375-unified-knowledge-base.feature.md
  changelog.d/647-prompts-ingest-cross-device.bugfix.md
Labels: none

docs(changelog): reclassify manageOrgData change as a feature note [skip ci]
  changelog.d/375-manage-org-data-capabilities-only.breaking.md
  changelog.d/375-unified-knowledge-base.feature.md
Labels: none

docs: update changelog for v1.24.0 [skip ci]
  changelog.d/375-unified-knowledge-base.feature.md
  changelog.d/647-prompts-ingest-cross-device.bugfix.md
  docs/CHANGELOG.md
Labels: documentation
