Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

feat(rbac): include virtual 'users' entry in tool discovery for RBAC-authorized users
  changelog.d/392-users-discovery.feature.md
  mock-server/fixtures/tools/discovery-success.json
  src/interfaces/rest-api.ts
  tests/integration/tools/rbac.test.ts
  tests/unit/mock-server/fixtures.test.ts
Labels: source, tests

docs: update changelog for v1.9.0 [skip ci]
  changelog.d/392-users-discovery.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.9.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix(rbac): grant apply verb on users resource for dotai-admin role
  changelog.d/admin-users-apply.bugfix.md
  charts/templates/rbac-enforcement.yaml
Labels: infrastructure

docs: update changelog for v1.9.1 [skip ci]
  changelog.d/admin-users-apply.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.9.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-342): close PRD #342 - not enough benefit to continue [skip ci]
  docs/ROADMAP.md
  prds/done/342-modular-plugin-architecture.md
Labels: documentation

Scripts [skip ci]
  scripts/dot-ai.nu
Labels: none

refactor: address vfarcic review feedback
  src/tools/generate-manifests.ts
  src/tools/push-to-git.ts
  src/tools/recommend.ts
Labels: source

fix: address review feedback on Helm values and author email
  src/tools/push-to-git.ts
Labels: source

docs(prd): create PRDs #404, #405, #406 for new features [skip ci]
  docs/ROADMAP.md
  prds/404-cost-estimation-optimization.md
  prds/405-dependency-impact-analysis.md
  prds/406-upgrade-path-analysis.md
Labels: documentation

feat(recommend): limit pushToGit to raw/kustomize manifests, add Helm GitOps PRD
  docs/ai-engine/tools/recommend.md
  prds/403-helm-gitops-support.md
  src/tools/generate-manifests.ts
  src/tools/push-to-git.ts
  tests/unit/tools/push-to-git.test.ts
Labels: documentation, source, tests

feat(recommend): add pushToGit stage for GitOps workflows (PRD #395)
  charts/values.yaml
  docs/ai-engine/tools/recommend.md
  packages/agentic-tools/package-lock.json
  prds/395-git-push-recommend-integration.md
  prds/403-helm-gitops-support.md
  src/tools/generate-manifests.ts
  src/tools/push-to-git.ts
  src/tools/recommend.ts
  tests/integration/tools/recommend.test.ts
  tests/unit/tools/push-to-git.test.ts
Labels: documentation, source, tests, infrastructure

docs(changelog): add changelog fragment for PRD #395 pushToGit feature
  changelog.d/395.feature.md
Labels: none

docs(prd-395): mark PRD #395 as complete [skip ci]
  prds/395-git-push-recommend-integration.md
Labels: none

feat(recommend): unify post-generation workflow options (PRD #395 follow-up)
  .mcp-test.json
  packages/agentic-tools/package-lock.json
  prds/362-git-operations-recommend.md
  prds/363-argocd-operate.md
  src/tools/generate-manifests.ts
  src/tools/push-to-git.ts
  tests/integration/tools/recommend.test.ts
Labels: source, tests, config

docs: update changelog for v1.10.0 [skip ci]
  changelog.d/395.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.10.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(recommend): update GitOps section to reflect unified workflow options [skip ci]
  docs/ai-engine/tools/recommend.md
Labels: documentation

fix(dex): increase readiness probe timeout to prevent false unhealthy events
  changelog.d/dex-probe.bugfix.md
  charts/values.yaml
Labels: infrastructure

docs: update changelog for v1.10.1 [skip ci]
  changelog.d/dex-probe.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.10.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

Revert "fix(dex): increase readiness probe timeout to prevent false unhealthy events"
  charts/values.yaml
Labels: infrastructure

feat(auth): support X-Dot-AI-Authorization fallback header for K8s proxy
  changelog.d/proxy-auth.feature.md
  src/interfaces/mcp.ts
  src/interfaces/oauth/middleware.ts
Labels: source

chore: reclassify changelog fragment as misc (not feature)
  changelog.d/proxy-auth.misc.md
Labels: none

docs: update changelog for v1.10.2 [skip ci]
  changelog.d/proxy-auth.misc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.10.2
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

Removed MCP config [skip ci]
  .mcp-docker.json
Labels: config

fix(docs): move migration note outside provider table to fix rendering
  docs/ai-engine/setup/deployment.md
Labels: documentation

docs(prd-407,prd-408): create GitOps discovery and operations PRDs [skip ci]
  docs/ROADMAP.md
  prds/407-gitops-discovery.md
  prds/408-gitops-operations.md
Labels: documentation

feat(prd-407): implement GitOps discovery internal tools and remediate integration
  package-lock.json
  prds/407-gitops-discovery.md
  prompts/remediate-system.md
  src/core/git-utils.ts
  src/core/internal-tools.ts
  src/tools/push-to-git.ts
  src/tools/remediate.ts
  tests/unit/tools/push-to-git.test.ts
Labels: source, tests, dependencies, config

test(prd-407): add GitOps test fixtures with broken deployment [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
  tests/integration/fixtures/gitops/broken-app/kustomization.yaml
Labels: tests

test(prd-407): add GitOps test fixtures with broken deployment [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
  tests/integration/fixtures/gitops/broken-app/kustomization.yaml
Labels: tests

test(prd-407): add GitOps integration tests for Argo CD and Flux
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/remediate.test.ts
Labels: tests

fix(prd-407): enforce dry-run command identity and improve test infra
  prompts/operate-system.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/rbac.test.ts
Labels: tests

chore: clean up claude settings permissions list
  .claude/settings.json
Labels: none

docs(prd-407): update progress — Milestone 1 complete, Milestone 2 nearly done
  prds/407-gitops-discovery.md
Labels: none

test(prd-407): add path traversal security unit tests for internal tools
  prds/407-gitops-discovery.md
  tests/unit/core/internal-tools.test.ts
Labels: tests

docs(prd-407): add GitOps-aware remediation to remediate guide
  docs/ai-engine/tools/remediate.md
  prds/407-gitops-discovery.md
Labels: documentation

chore(prd-407): archive PRD, add changelog fragment, update roadmap
  changelog.d/407.feature.md
  docs/ROADMAP.md
  prds/done/407-gitops-discovery.md
Labels: documentation
