Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

fix(docs): update broken configuration-components anchor links
  docs/guides/organizational-data-concepts.md
  docs/guides/pattern-management-guide.md
  docs/guides/policy-management-guide.md
Labels: documentation

docs(prd-348): add implementation notes from first attempt [skip ci]
  prds/348-reduce-excessive-logging.md
Labels: none

chore: coordinated release v0.193.0
  changelog.d/328.feature.md
  changelog.d/331.misc.md
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

refactor(skills): move shared skills to submodule
  .claude/skills/changelog-fragment
  .claude/skills/changelog-fragment/SKILL.md
  .claude/skills/process-feature-request
  .claude/skills/process-feature-request/SKILL.md
  .claude/skills/query-dot-ai
  .claude/skills/query-dot-ai/SKILL.md
  .claude/skills/request-dot-ai-feature
  .claude/skills/request-dot-ai-feature/SKILL.md
  .claude/skills/tag-release
  .claude/skills/tag-release/SKILL.md
  .claude/skills/worktree-prd
  .gitmodules
Labels: none

fix: make category optional in prompt frontmatter validation (#372)
  changelog.d/372.bugfix.md
  src/tools/prompts.ts
Labels: source

docs(prd-356): mark as blocked by PRD #359 (Qdrant Plugin Migration)
  prds/356-knowledge-base-system.md
Labels: none

docs(prd-354): create PRD #354 - REST API route registry with OpenAPI and fixtures [skip ci]
  docs/ROADMAP.md
  prds/354-rest-route-registry-openapi-fixtures.md
Labels: documentation

chore: remove skills submodule and symlinks
  .claude/skills/changelog-fragment
  .claude/skills/process-feature-request
  .claude/skills/query-dot-ai
  .claude/skills/request-dot-ai-feature
  .claude/skills/tag-release
  .claude/skills/worktree-prd
  .gitmodules
Labels: none

docs(prd-358): create PRD #358 - MCP server integration [skip ci]
  docs/ROADMAP.md
  prds/358-mcp-server-integration.md
Labels: documentation

Examples
  examples/knowledgebase/git-knowledge-source.yaml
Labels: none

chore: coordinated release v1.2.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: improve test output handling instruction
  CLAUDE.md
Labels: documentation

chore: coordinated release v1.0.3
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

docs: add MCP vs Plugin architecture guidance to CLAUDE.md
  CLAUDE.md
Labels: documentation

docs: update changelog for v1.2.0 [skip ci]
  changelog.d/370.bugfix.md
  changelog.d/370.feature.md
  changelog.d/372.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

fix: read OpenAPI spec version from package.json instead of hardcoding
  schema/openapi.json
  src/interfaces/openapi-generator.ts
Labels: source

Grafana
  dot.nu
  scripts/grafana-stack.nu
Labels: none

docs(prd-139): close PRD #139 - no longer needed [skip ci]
  prds/done/139-ai-provider-comparison-benchmarking.md
Labels: none

fix: use towncrier fragment instead of manual changelog entry
  changelog.d/347.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

feat: enable mock server fixtures for tools and prompts endpoints
  mock-server/routes.ts
  tests/unit/mock-server/fixtures.test.ts
Labels: tests

Knowledgebase
  examples/knowledgebase/apps-devopstoolkit-live.md
  examples/knowledgebase/databases.md
  examples/knowledgebase/environments.md
  examples/knowledgebase/git-knowledge-source.yaml
  examples/knowledgebase/naming-conventions.md
  examples/knowledgebase/security-policies.md
Labels: none

feat(knowledge-base): implement Knowledge Base System (#367)
  .claude/settings.json
  .claude/skills/write-docs/SKILL.md
  .github/workflows/ci.yml
  .nsprc
  README.md
  changelog.d/356.feature.md
  devbox.json
  docs/ROADMAP.md
  docs/guides/mcp-knowledge-base-guide.md
  docs/guides/mcp-tools-overview.md
  docs/index.md
  mock-server/fixtures/tools/manageKnowledge-deleteByUri-success.json
  mock-server/fixtures/tools/manageKnowledge-ingest-success.json
  mock-server/fixtures/tools/manageKnowledge-search-success.json
  mock-server/routes.ts
  package-lock.json
  package.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
  packages/agentic-tools/src/tools/index.ts
  packages/agentic-tools/src/tools/knowledge.ts
  prds/356-knowledge-base-system.md
  prds/done/356-knowledge-base-system.md
  prompts/knowledge-ask.md
  src/core/knowledge-types.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/knowledge.ts
  src/tools/index.ts
  src/tools/manage-knowledge.ts
  src/tools/version.ts
  tests/integration/tools/manage-knowledge.test.ts
  tests/integration/tools/version.test.ts
Labels: documentation, source, tests, ci-cd, dependencies, config

docs(prd-356,prd-357): create PRDs for knowledge base and policy extraction [skip ci]
  docs/ROADMAP.md
  prds/356-knowledge-base-system.md
  prds/357-policy-extraction-from-knowledge-base.md
Labels: documentation

docs(prd): close PRDs #264, #265, #266 - superseded by new GitOps approach [skip ci]
  prds/done/264-gitops-tool-argocd.md
  prds/done/265-gitops-tool-flux.md
  prds/done/266-gitops-recommend-integration.md
Labels: none

chore: add changelog fragment for plugin Dockerfile fix
  changelog.d/347-2.bugfix.md
Labels: none

docs(prd-359): create PRD #359 - Qdrant operations plugin migration [skip ci]
  docs/ROADMAP.md
  prds/359-qdrant-operations-plugin-migration.md
Labels: documentation

docs(prd-180): close PRD #180 - superseded by separate auth and permissions PRDs [skip ci]
  docs/ROADMAP.md
  prds/done/180-dynamic-credential-management.md
Labels: documentation

Env
  .env.vals.yaml
Labels: config

docs(prd-353): defer Kimi K2.5 - document investigation findings
  .env.vals.yaml
  prds/353-kimi-k25-support.md
Labels: config

docs(prd): update #360 to align with MCP Authorization Specification
  prds/360-user-authentication.md
Labels: none

docs(prd-354): clarify M8 to notify dot-ai-ui on completion [skip ci]
  prds/354-rest-route-registry-openapi-fixtures.md
Labels: none

docs: handle missing PRD label on issue creation [skip ci]
  shared-prompts/prd-create.md
Labels: none

ci: checkout submodules to fix broken symlinks
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/test-fork-pr.yml
Labels: ci-cd

feat: auto-generate OpenAPI spec on release
  .github/workflows/release.yml
  package.json
  schema/openapi.json
  scripts/generate-openapi.sh
Labels: ci-cd, dependencies, config

docs(prd-155): close PRD #155 - superseded by controller architecture [skip ci]
  docs/ROADMAP.md
  prds/done/155-parallel-capability-analysis.md
Labels: documentation

docs(prd): create PRDs #362 and #363 for GitOps integration [skip ci]
  docs/ROADMAP.md
  prds/362-git-operations-recommend.md
  prds/363-argocd-operate.md
Labels: documentation

fix: exclude plugin tools from MCP tool registration
  docs/CHANGELOG.md
  src/interfaces/mcp.ts
Labels: documentation, source

chore: update package-lock.json for v1.1.0
  package-lock.json
Labels: dependencies, config

feat(hooks): add changelog reminder for prd-done workflow
  .claude/hooks/prd-done-changelog-reminder.sh
  .claude/settings.json
Labels: none

chore: coordinated release v1.1.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config
