Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix: remove SHA256 digests from Dockerfiles to enable ARM64 support
  Dockerfile
  Dockerfile-qdrant
  renovate.json
Labels: ci-cd, config

chore: coordinated release v0.134.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix(tracing): use __dirname instead of process.cwd() for package.json path
  .mcp.json
  dot.nu
  src/core/tracing/config.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests, config

chore: coordinated release v0.135.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix: store and use actual apiVersion from cluster instead of AI guessing
  src/core/capabilities.ts
  src/core/capability-operations.ts
  src/core/capability-scan-workflow.ts
  src/core/capability-vector-service.ts
  src/core/schema.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: source, tests

chore: coordinated release v0.136.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix: use chat completions API for custom LLM endpoints
  src/core/providers/vercel-provider.ts
Labels: source

chore: coordinated release v0.137.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

Scripts [skip ci]
  dot.nu
Labels: none

feat: add MCP protocol endpoints to OpenAPI specification
  src/interfaces/openapi-generator.ts
Labels: source

chore: coordinated release v0.138.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: clarify docker setup uses all environment variables from configuration overview
  docs/setup/docker-setup.md
Labels: documentation

fix: clarify recommend tool supports cloud resources via Crossplane
  package-lock.json
  src/tools/recommend.ts
Labels: source, dependencies, config

chore: coordinated release v0.139.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

dot.nu [skip ci]
  dot.nu
Labels: none

docs(prd-209): create PRD #209 - model-portfolio-management [skip ci]
  docs/ROADMAP.md
  prds/209-model-portfolio-management.md
Labels: documentation

Script [skip ci]
  dot.nu
Labels: none

docs(prd-216): create PRD #216 - controller-based-autonomous-capability-scanning [skip ci]
  docs/ROADMAP.md
  prds/216-controller-based-autonomous-capability-scanning.md
Labels: documentation

chore: remove unused Dockerfile.dev and Dockerfile.local [skip ci]
  Dockerfile.dev
  Dockerfile.local
Labels: ci-cd

refactor: migrate recommend workflow tools to GenericSessionManager
  prds/201-operate-tool.md
  src/core/deploy-operation.ts
  src/tools/answer-question.ts
  src/tools/choose-solution.ts
  src/tools/deploy-manifests.ts
  src/tools/generate-manifests.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
Labels: source, tests

fix: revert Qdrant image to tests-latest for integration tests
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

docs(prd-201): Phase 0 complete - GenericSessionManager migration
  prds/201-operate-tool.md
Labels: none

feat(prd-201): implement Milestone 1 core infrastructure foundations
  prds/201-operate-tool.md
  prompts/operate-system.md
  prompts/operate-user.md
  src/tools/operate.ts
Labels: source

feat(prd-201): add pattern-driven integration test for operate tool
  prds/201-operate-tool.md
  src/core/pattern-vector-service.ts
  src/core/schema.ts
  src/interfaces/mcp.ts
  src/tools/operate-analysis.ts
  src/tools/operate-execution.ts
  src/tools/operate.ts
  src/tools/version.ts
  tests/integration/README.md
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/infrastructure/setup-cluster.sh
  tests/integration/tools/operate.test.ts
Labels: source, tests

fix(prd-201): correct Milestone 1 completion to 86% (was 43%)
  prds/201-operate-tool.md
Labels: none

feat(prd-201): implement Milestone 2 - execution workflow with AI validation
  prds/201-operate-tool.md
  src/core/command-executor.ts
  src/tools/operate-execution.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/operate.test.ts
Labels: source, tests

feat(prd-201): complete Milestone 3 - resource creation with HPA validation
  prds/201-operate-tool.md
  tests/integration/tools/operate.test.ts
Labels: tests

feat(prd-201): recognize Milestone 4 as complete - infrastructure already implemented
  prds/201-operate-tool.md
Labels: none

fix(operate): correct template placeholder syntax for context injection
  src/tools/operate-analysis.ts
Labels: source

feat(prd-201): complete Milestone 7 - documentation and testing
  docs/mcp-operate-guide.md
  docs/mcp-tools-overview.md
  prds/201-operate-tool.md
Labels: documentation

docs(prd-201): archive completed PRD and update roadmap
  docs/ROADMAP.md
  prds/done/201-operate-tool.md
Labels: documentation

fix(deps): update js-yaml to resolve prototype pollution vulnerability
  package-lock.json
Labels: dependencies, config

debug: add minimal capabilities test with logging
  tests/integration/tools/debug-capabilities.test.ts
Labels: tests

chore: remove debug test file
  tests/integration/tools/debug-capabilities.test.ts
Labels: tests

Test
  .mcp.json
Labels: config

fix: pull latest Qdrant test image and update js-yaml dependency
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

chore: remove unnecessary docker pull in test setup
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

fix: extract metadata for core Kubernetes resources without API group
  src/core/capability-scan-workflow.ts
Labels: source

fix: use sessionDir parameter in DeployOperation for policy manifest lookup
  src/core/deploy-operation.ts
Labels: source

fix: add explicit timeout to operate error handling test
  tests/integration/tools/operate.test.ts
Labels: tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
