Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

feat(prd-263): complete Milestone 1 - create generate-cicd.md prompt
  prds/263-intelligent-cicd-workflow-generation.md
  shared-prompts/generate-cicd.md
Labels: none

fix(prd-263): improve generate-cicd prompt UX and reduce workflow duplication
  shared-prompts/generate-cicd.md
Labels: none

Docs
  docs/img/capabilities.jpeg
  docs/img/github.jpeg
  docs/img/index.jpeg
  docs/img/patterns.jpeg
  docs/img/policies.jpeg
  docs/img/prompts.jpeg
  docs/img/recommendation.jpeg
  docs/img/remediation.jpeg
Labels: documentation

chore: coordinated release v0.161.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-263): complete Milestones 2-4 - real project testing
  prds/263-intelligent-cicd-workflow-generation.md
  shared-prompts/generate-cicd.md
Labels: none

docs(prd-263): complete Milestones 5-6 - documentation and PRD closure
  README.md
  docs/guides/mcp-prompts-guide.md
  prds/263-intelligent-cicd-workflow-generation.md
Labels: documentation

docs(roadmap): remove completed PRD #263
  docs/ROADMAP.md
Labels: documentation

chore(prd-263): archive completed PRD to prds/done/
  prds/done/263-intelligent-cicd-workflow-generation.md
Labels: none

fix(prompts): fix code fence syntax in generate-cicd prompt
  prds/283-trigger-website-rebuild.md
  shared-prompts/generate-cicd.md
Labels: none

fix(policy): reduce capability schema limit to avoid Haiku token limit
  src/core/unified-creation-session.ts
Labels: source

feat(prompts): add intelligent CI/CD workflow generation prompt (#282)
  README.md
  docs/ROADMAP.md
  docs/guides/mcp-prompts-guide.md
  prds/283-trigger-website-rebuild.md
  prds/done/263-intelligent-cicd-workflow-generation.md
  shared-prompts/generate-cicd.md
  src/core/unified-creation-session.ts
Labels: documentation, source

chore: coordinated release v0.162.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: add Kubernetes Gateway API support PRD and implementation plan
  prds/281-kubernetes-gateway-api-support.md
Labels: none

docs(prd): refine Web UI architecture with visualization-only model
  prds/109-web-ui-mcp-interaction.md
Labels: none

feat(ci): trigger website rebuild on doc changes (#283)
  .github/workflows/ci.yml
  prds/283-trigger-website-rebuild.md
Labels: ci-cd

docs: rename MCP Prompts Guide to Shared Prompt Library
  docs/guides/mcp-prompts-guide.md
Labels: documentation

docs(prd): mark PRD #283 as complete and archive
  prds/done/283-trigger-website-rebuild.md
Labels: none

refactor: move gateway-api tests to tests/unit/helm and update PRD
  prds/281-kubernetes-gateway-api-support.md
  tests/unit/helm/gateway-api.test.ts
Labels: tests

fix: Use consistent ES module imports for fs
  tests/unit/helm/gateway-api.test.ts
Labels: tests

docs: Clarify placeholder values in Gateway API setup guide
  docs/setup/gateway-api-setup.md
Labels: documentation

test: Fix misleading test type in header comment
  tests/unit/helm/gateway-api.test.ts
Labels: tests

fix(prompts): use raw Handlebars output to prevent HTML escaping
  prompts/capabilities-generation.md
  prompts/capability-inference.md
  prompts/helm-chart-selection.md
  prompts/helm-generation.md
  prompts/host-tools.md
  prompts/kyverno-generation.md
  prompts/operate-user.md
  prompts/packaging-generation.md
  prompts/policy-complete-apply.md
  prompts/policy-complete-save.md
  prompts/question-generation.md
  prompts/resource-analysis.md
  prompts/resource-selection.md
  prompts/solution-enhancement.md
  src/core/unified-creation-session.ts
Labels: source

fix(tests): consolidate CRUD into full scan test to fix race condition
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests

fix: address CodeRabbit review comments
  .github/workflows/ci.yml
  prompts/host-tools.md
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests, ci-cd

feat(ci): trigger website rebuild on doc changes (#285)
  .github/workflows/ci.yml
  docs/guides/mcp-prompts-guide.md
  prds/done/283-trigger-website-rebuild.md
  prompts/capabilities-generation.md
  prompts/capability-inference.md
  prompts/helm-chart-selection.md
  prompts/helm-generation.md
  prompts/kyverno-generation.md
  prompts/operate-user.md
  prompts/packaging-generation.md
  prompts/policy-complete-apply.md
  prompts/policy-complete-save.md
  prompts/question-generation.md
  prompts/resource-analysis.md
  prompts/resource-selection.md
  prompts/solution-enhancement.md
  src/core/unified-creation-session.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: documentation, source, tests, ci-cd

chore: coordinated release v0.163.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(mcp): add 1 hour timeout for sampling requests
  src/interfaces/mcp.ts
Labels: source

feat(tool-utils): enhance extractToolCalls to handle non-JSON code blocks and fallback JSON extraction
  src/core/providers/tool-utils.ts
  tests/unit/core/providers/tool-utils.test.ts
Labels: source, tests

279-issues (#284)
  src/core/providers/tool-utils.ts
  src/interfaces/mcp.ts
  tests/unit/core/providers/tool-utils.test.ts
Labels: source, tests

chore: coordinated release v0.164.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs: Update Kubernetes setup guide and enhance Gateway API test definitions
  docs/setup/kubernetes-setup.md
  tests/unit/helm/gateway-api.test.ts
Labels: documentation, tests

feat(auth): allow public access to OpenAPI specification endpoint
  src/interfaces/mcp.ts
  tests/integration/tools/openapi.test.ts
Labels: source, tests

chore: coordinated release v0.165.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-287): create PRD #287 - Resource Sync Endpoint [skip ci]
  docs/ROADMAP.md
  prds/287-resource-sync-endpoint.md
Labels: documentation

Add Kubernetes Gateway API v1 support as Ingress alternative (#286)
  README.md
  charts/Chart.yaml
  charts/templates/_helpers.tpl
  charts/templates/gateway.yaml
  charts/templates/httproute.yaml
  charts/templates/ingress.yaml
  charts/values.yaml
  docs/setup/kubernetes-setup.md
  docs/setup/mcp-setup.md
  examples/gateway-api/README.md
  examples/gateway-api/basic-http.yaml
  examples/gateway-api/external-dns.yaml
  examples/gateway-api/https-cert-manager.yaml
  package-lock.json
  prds/281-kubernetes-gateway-api-support.md
  tests/unit/helm/gateway-api.test.ts
Labels: documentation, tests, infrastructure, dependencies, config

chore: coordinated release v0.166.0
  charts/Chart.yaml
  charts/values.yaml
  dot.nu
  package.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-287): implement ResourceVectorService (M1, M3 complete)
  prds/287-resource-sync-endpoint.md
  src/core/resource-vector-service.ts
Labels: source

Refactor Gateway API: Reference existing Gateway instead of creating per-app Gateway Fixes #288
  prds/288-gateway-api-reference-pattern.md
Labels: none

PRD: Gateway API Reference Pattern with `-http` Suffix Fixes irizzante/dot-ai#3
  prds/288-gateway-api-reference-pattern.md
Labels: none

feat(prd-287): implement REST sync endpoint (M2 complete)
  prds/287-resource-sync-endpoint.md
  src/core/resource-vector-service.ts
  src/core/vector-db-service.ts
  src/interfaces/resource-sync-handler.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/resource-sync.test.ts
Labels: source, tests
