Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

feat(query): expose search_knowledge tool for documentation retrieval
  prompts/query-system.md
  src/core/knowledge-tools.ts
  src/tools/query.ts
  tests/unit/core/knowledge-tools.test.ts
Labels: source, tests

chore: trivial change to test Tenki CI
  README.md
Labels: documentation

fix: Update deployment image tag to valid nginx:latest in Git source [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(security): resolve npm audit advisories
  .nsprc
  package-lock.json
  package.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
Labels: dependencies, config

fix: Update image tag in deployment.yaml from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

ci: switch CI runners to tenki-standard-medium-4c-8g
  .github/workflows/ci.yml
Labels: ci-cd

fix: Update the image tag in the deployment manifest from non-existent version to valid nginx:latest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the invalid image tag in the deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

ci: revert runner change back to ubuntu-latest
  .github/workflows/ci.yml
Labels: ci-cd

docs: add changelog fragment for #468 security fix
  changelog.d/468-npm-audit-fixes.bugfix.md
Labels: none

fix(security): resolve npm audit advisories (#468)
  .nsprc
  README.md
  changelog.d/468-npm-audit-fixes.bugfix.md
  package-lock.json
  package.json
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
Labels: documentation, dependencies, config

fix: Update the deployment image tag to valid 'nginx:latest' in Git source [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(ci): replace broken heredocs in release.yml with echo statements
  .github/workflows/release.yml
Labels: ci-cd

docs: update changelog for v1.16.2 [skip ci]
  changelog.d/468-npm-audit-fixes.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.16.2
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

fix: Update the nginx image tag from v999-nonexistent to latest in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix invalid image tag in deployment manifest stored in Git repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(helm): allow custom AI provider base URL through Helm chart (#474)
  changelog.d/474-answer-validator-empty-select.bugfix.md
  changelog.d/474-custom-provider-helm.bugfix.md
  charts/templates/deployment.yaml
  charts/values.yaml
  src/core/ai-provider-factory.ts
  src/tools/answer-question.ts
  tests/unit/core/providers/custom-headers-base-url.test.ts
  tests/unit/tools/answer-question.test.ts
Labels: source, tests, infrastructure

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

test(integration): create draft PRs and add Helm regression test
  changelog.d/474-integration-draft-prs.misc.md
  src/core/internal-tools.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/remediate.test.ts
  tests/unit/helm/ai-provider.test.ts
Labels: source, tests

fix: Update the deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(helm): custom AI provider base URL now works through Helm chart (#474) (#477)
  changelog.d/474-answer-validator-empty-select.bugfix.md
  changelog.d/474-custom-provider-helm.bugfix.md
  changelog.d/474-integration-draft-prs.misc.md
  charts/templates/deployment.yaml
  charts/values.yaml
  src/core/ai-provider-factory.ts
  src/core/internal-tools.ts
  src/tools/answer-question.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/remediate.test.ts
  tests/unit/core/providers/custom-headers-base-url.test.ts
  tests/unit/helm/ai-provider.test.ts
  tests/unit/tools/answer-question.test.ts
Labels: source, tests, infrastructure

docs: update changelog for v1.16.3 [skip ci]
  changelog.d/474-answer-validator-empty-select.bugfix.md
  changelog.d/474-custom-provider-helm.bugfix.md
  changelog.d/474-integration-draft-prs.misc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.16.3
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-480): resolve open decisions D1-D4 and finalize pin table
  docs/ROADMAP.md
  prds/480-refresh-pinned-ai-models.md
Labels: documentation

fix: Update image tag in deployment.yaml from 'nginx:v999-nonexistent' to a valid stable tag 'nginx:1.27' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-480): upgrade anthropic_opus pin to claude-opus-4-7
  prds/480-refresh-pinned-ai-models.md
  src/core/model-config.ts
  tests/integration/tools/rbac.test.ts
Labels: source, tests

fix: Update the Deployment manifest in Git to replace the non-existent nginx image tag with a valid tag. [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update the GitOps deployment manifest to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-480): resolve D5 - hold openai/custom at gpt-5.4
  prds/480-refresh-pinned-ai-models.md
Labels: none

fix: Update the deployment manifest in the Git repository to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix the image tag in the deployment manifest from nginx:v999-nonexistent to nginx:latest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-480): resolve D6 - hold kimi at kimi-k2.5
  prds/480-refresh-pinned-ai-models.md
Labels: none

fix: Update image tag from 'nginx:v999-nonexistent' to 'nginx:1.25.0' in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-480): upgrade alibaba pin to qwen3.6-plus
  prds/480-refresh-pinned-ai-models.md
  src/core/model-config.ts
Labels: source

fix: Fix the image tag in the deployment manifest within the Git repository [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-480): resolve D3 revised - hold google_flash at gemini-3-flash-preview
  prds/480-refresh-pinned-ai-models.md
Labels: none

docs(prd-480): wrap up — defer M7/M8, complete M9/M10
  docs/ai-engine/setup/deployment.md
  prds/480-refresh-pinned-ai-models.md
  src/core/ai-provider.interface.ts
  src/core/tracing/ai-tracing.ts
Labels: documentation, source

docs(prd-480): close out — mark complete, add changelog fragment
  changelog.d/480-refresh-ai-model-pins.feature.md
  docs/ROADMAP.md
  prds/done/480-refresh-pinned-ai-models.md
Labels: documentation

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
