Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

chore: coordinated release v1.0.1
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

fix(docs): update broken kubernetes-setup link in CHANGELOG
  docs/CHANGELOG.md
Labels: documentation

fix(docs): update broken configuration-components anchor links
  docs/guides/organizational-data-concepts.md
  docs/guides/pattern-management-guide.md
  docs/guides/policy-management-guide.md
Labels: documentation

docs(prd-353): create PRD #353 - Kimi K2.5 support [skip ci]
  .claude/settings.json
  docs/ROADMAP.md
  prds/353-kimi-k25-support.md
Labels: documentation

refactor(skills): move shared skills to submodule
  .claude/skills/changelog-fragment
  .claude/skills/changelog-fragment/SKILL.md
  .claude/skills/process-feature-request
  .claude/skills/process-feature-request/SKILL.md
  .claude/skills/query-dot-ai
  .claude/skills/query-dot-ai/SKILL.md
  .claude/skills/request-dot-ai-feature
  .claude/skills/request-dot-ai-feature/SKILL.md
  .claude/skills/tag-release
  .claude/skills/tag-release/SKILL.md
  .claude/skills/worktree-prd
  .gitmodules
Labels: none

docs(prd-354): create PRD #354 - REST API route registry with OpenAPI and fixtures [skip ci]
  docs/ROADMAP.md
  prds/354-rest-route-registry-openapi-fixtures.md
Labels: documentation

docs(prd-354): clarify M8 to notify dot-ai-ui on completion [skip ci]
  prds/354-rest-route-registry-openapi-fixtures.md
Labels: none

feat(hooks): add changelog reminder for prd-done workflow
  .claude/hooks/prd-done-changelog-reminder.sh
  .claude/settings.json
Labels: none

feat(prd-354): implement RestRouteRegistry class with route registration and matching
  prds/354-rest-route-registry-openapi-fixtures.md
  src/interfaces/rest-route-registry.ts
  tests/unit/interfaces/rest-route-registry.test.ts
Labels: source, tests

feat(prd-354): define Zod schemas for all REST endpoint responses
  package-lock.json
  prds/354-rest-route-registry-openapi-fixtures.md
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/events.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/logs.ts
  src/interfaces/schemas/prompts.ts
  src/interfaces/schemas/resources.ts
  src/interfaces/schemas/sessions.ts
  src/interfaces/schemas/tools.ts
  src/interfaces/schemas/visualization.ts
Labels: source, dependencies, config

feat(prd-354): migrate REST API to registry-based routing (M3)
  prds/354-rest-route-registry-openapi-fixtures.md
  src/interfaces/rest-api.ts
  src/interfaces/rest-route-registry.ts
  src/interfaces/routes/index.ts
  tests/integration/tools/prompts.test.ts
  tests/integration/tools/resource-sync.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests

docs(prd-353): defer Kimi K2.5 - document investigation findings
  .env.vals.yaml
  prds/353-kimi-k25-support.md
Labels: config

feat(prd-354): integrate RestRouteRegistry with OpenAPI generator (M4)
  prds/354-rest-route-registry-openapi-fixtures.md
  src/interfaces/openapi-generator.ts
  src/interfaces/rest-api.ts
  tests/integration/tools/openapi.test.ts
Labels: source, tests

ci: checkout submodules to fix broken symlinks
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/test-fork-pr.yml
Labels: ci-cd

fix: exclude plugin tools from MCP tool registration
  docs/CHANGELOG.md
  src/interfaces/mcp.ts
Labels: documentation, source

chore(prd-354): mark PRD complete and add changelog fragment
  changelog.d/354.feature.md
  docs/ROADMAP.md
  prds/done/354-rest-route-registry-openapi-fixtures.md
Labels: documentation

fix: use towncrier fragment instead of manual changelog entry
  changelog.d/347.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

fix(plugin): use official images for kubectl/helm instead of curl
  packages/agentic-tools/Dockerfile
Labels: none

chore: add changelog fragment for plugin Dockerfile fix
  changelog.d/347-2.bugfix.md
Labels: none

fix(prd-354): remove src/test-fixtures - fixtures are in mock-server only
  src/test-fixtures/fixtures/events/index.ts
  src/test-fixtures/fixtures/index.ts
  src/test-fixtures/fixtures/prompts/index.ts
  src/test-fixtures/fixtures/resources/index.ts
  src/test-fixtures/fixtures/sessions/index.ts
  src/test-fixtures/fixtures/tools/index.ts
  src/test-fixtures/fixtures/visualization/index.ts
  src/test-fixtures/index.ts
  tests/unit/test-fixtures/fixture-validation.test.ts
Labels: source, tests

chore: coordinated release v1.0.3
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

fix: push changelog changes immediately after towncrier build
  .github/workflows/release.yml
  changelog.d/343.misc.md
  changelog.d/345.breaking.md
  changelog.d/347-2.bugfix.md
  changelog.d/347.bugfix.md
  changelog.d/348.bugfix.md
Labels: ci-cd

fix(prd-354): address CodeRabbit review feedback
  src/interfaces/rest-api.ts
  src/interfaces/rest-route-registry.ts
  src/interfaces/schemas/resources.ts
  tests/unit/interfaces/rest-route-registry.test.ts
Labels: source, tests

docs(prd-356,prd-357): create PRDs for knowledge base and policy extraction [skip ci]
  docs/ROADMAP.md
  prds/356-knowledge-base-system.md
  prds/357-policy-extraction-from-knowledge-base.md
Labels: documentation

docs(prd-150): close PRD #150 - superseded by MCP client approach [skip ci]
  docs/ROADMAP.md
  prds/done/150-remediation-observability-integration.md
Labels: documentation

docs(prd-358): create PRD #358 - MCP server integration [skip ci]
  docs/ROADMAP.md
  prds/358-mcp-server-integration.md
Labels: documentation

docs(prd-359): create PRD #359 - Qdrant operations plugin migration [skip ci]
  docs/ROADMAP.md
  prds/359-qdrant-operations-plugin-migration.md
Labels: documentation

docs(prd-356): mark as blocked by PRD #359 (Qdrant Plugin Migration)
  prds/356-knowledge-base-system.md
Labels: none

docs(prd-155): close PRD #155 - superseded by controller architecture [skip ci]
  docs/ROADMAP.md
  prds/done/155-parallel-capability-analysis.md
Labels: documentation

docs(prd-139): close PRD #139 - no longer needed [skip ci]
  prds/done/139-ai-provider-comparison-benchmarking.md
Labels: none

feat(prd-359): add shared Qdrant operations to agentic-tools plugin
  packages/agentic-tools/package-lock.json
  packages/agentic-tools/package.json
  packages/agentic-tools/src/qdrant/client.ts
  packages/agentic-tools/src/qdrant/index.ts
  packages/agentic-tools/src/qdrant/operations.ts
  packages/agentic-tools/src/qdrant/types.ts
  packages/agentic-tools/src/tools/qdrant-base.ts
  packages/agentic-tools/tests/unit/qdrant-base.test.ts
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  packages/agentic-tools/tests/unit/tools.test.ts
  prds/359-qdrant-operations-plugin-migration.md
Labels: tests

docs(prd-165): close PRD #165 - superseded by Kubernetes-only deployment [skip ci]
  prds/165-guided-setup-system.md
Labels: none

docs(prd-176): mark PRD #176 as completed [skip ci]
  prds/176-embedding-architecture-standardization.md
Labels: none

feat(prd-359): complete Phase 1 - expose generic vector tools in agentic-tools plugin
  CLAUDE.md
  packages/agentic-tools/Dockerfile
  packages/agentic-tools/src/tools/index.ts
  packages/agentic-tools/src/tools/vector.ts
  packages/agentic-tools/tests/unit/tools.test.ts
  packages/agentic-tools/tests/unit/vector-tools.test.ts
  prds/359-qdrant-operations-plugin-migration.md
  tests/integration/tools/version.test.ts
Labels: documentation, tests

docs(prd-180): close PRD #180 - superseded by separate auth and permissions PRDs [skip ci]
  docs/ROADMAP.md
  prds/done/180-dynamic-credential-management.md
Labels: documentation

docs(prd): create PRDs #360 and #361 for multi-user authentication and permissions [skip ci]
  docs/ROADMAP.md
  prds/360-user-authentication.md
  prds/361-user-specific-permissions.md
Labels: documentation

docs(prd): close PRDs #264, #265, #266 - superseded by new GitOps approach [skip ci]
  prds/done/264-gitops-tool-argocd.md
  prds/done/265-gitops-tool-flux.md
  prds/done/266-gitops-recommend-integration.md
Labels: none

docs(prd): create PRDs #362 and #363 for GitOps integration [skip ci]
  docs/ROADMAP.md
  prds/362-git-operations-recommend.md
  prds/363-argocd-operate.md
Labels: documentation

feat(prd-359): complete Phase 2 - unified plugin tool invocation pattern
  package-lock.json
  prds/359-qdrant-operations-plugin-migration.md
  src/core/capability-scan-workflow.ts
  src/core/command-executor.ts
  src/core/crd-availability.ts
  src/core/deploy-operation.ts
  src/core/discovery.ts
  src/core/index.ts
  src/core/pattern-operations.ts
  src/core/plugin-manager.ts
  src/core/plugin-registry.ts
  src/core/policy-operations.ts
  src/core/schema.ts
  src/core/telemetry/client.ts
  src/core/telemetry/index.ts
  src/core/unified-creation-session.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/mcp/server.ts
  src/tools/deploy-manifests.ts
  src/tools/generate-manifests.ts
  src/tools/operate-execution.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/recommend.ts
  src/tools/remediate.ts
  src/tools/version.ts
Labels: source, dependencies, config

feat(prd-359): complete Phase 3 & 4 - migrate MCP to use plugin for Qdrant ops
  charts/templates/deployment.yaml
  charts/templates/plugin-deployment.yaml
  packages/agentic-tools/src/qdrant/operations.ts
  packages/agentic-tools/src/qdrant/types.ts
  packages/agentic-tools/src/tools/vector.ts
  packages/agentic-tools/tests/unit/vector-tools.test.ts
  prds/359-qdrant-operations-plugin-migration.md
  src/core/base-vector-service.ts
  src/core/capability-vector-service.ts
  src/core/index.ts
  src/core/pattern-operations.ts
  src/core/pattern-vector-service.ts
  src/core/policy-operations.ts
  src/core/policy-vector-service.ts
  src/core/resource-vector-service.ts
  src/core/schema.ts
  src/core/vector-db-service.ts
  src/tools/version.ts
  tests/integration/tools/manage-org-data-patterns.test.ts
  tests/integration/tools/manage-org-data-policies.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests, infrastructure

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
