Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

test(prd-647): add RED integration test for source ingest → render (M2+M3)
  tests/integration/tools/prompts.test.ts
Labels: tests

test(prd-647): add RED integration tests for M4 dedup, D2 render-miss, D5 caps + GREEN safety nets (M5)
  tests/integration/tools/prompts.test.ts
Labels: tests

fix(prompts): surface per-request override clone failures instead of failing open (#648)
  .claude/skills/publish-mock-server/SKILL.md
  .env.vals.yaml
  changelog.d/575-prompts-override-fail-open.bugfix.md
  changelog.d/648-dependency-security-updates.misc.md
  package-lock.json
  package.json
  schema/openapi.json
  src/core/user-prompts-loader.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  src/tools/prompts.ts
  tests/integration/tools/prompts.test.ts
  tests/integration/tools/query.test.ts
  tests/integration/tools/recommend.test.ts
  tests/unit/core/user-prompts-loader.test.ts
Labels: source, tests, dependencies, config

feat(prd-647): server-side ingestion endpoint for CLI-uploaded skill sources
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/prompts.md
  mock-server/prompts-ingest.ts
  mock-server/routes.ts
  mock-server/server.ts
  prds/647-prompts-source-ingestion-endpoint.md
  src/core/user-prompts-loader.ts
  src/interfaces/mcp.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  src/tools/prompts.ts
  tests/integration/helpers/http-client.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/ingested-prompts.test.ts
  tests/unit/interfaces/rest-api-prompts-override.test.ts
  tests/unit/interfaces/rest-api-url-scrubbing.test.ts
  tests/unit/mock-server/prompts-ingest.test.ts
Labels: documentation, source, tests

chore(prd-647): add changelog fragment for prompts source ingestion endpoint
  changelog.d/647-prompts-source-ingestion-endpoint.feature.md
Labels: none

fix: Fix the invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-647): address CodeRabbit review findings on #655
  changelog.d/647-prompts-source-ingestion-endpoint.feature.md
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/prompts.md
  mock-server/prompts-ingest.ts
  schema/openapi.json
  src/core/user-prompts-loader.ts
  src/interfaces/mcp.ts
  src/interfaces/openapi-generator.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  tests/integration/helpers/http-client.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/ingested-prompts.test.ts
Labels: documentation, source, tests

fix: Fix the invalid image tag in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-647): document the render endpoint 400 response in OpenAPI
  schema/openapi.json
  src/interfaces/routes/index.ts
Labels: source

fix: Fix the nginx image tag in the deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(knowledge): add vector extraction to migration of legacy collections
  packages/agentic-tools/src/qdrant/operations.ts
  packages/agentic-tools/src/qdrant/types.ts
  packages/agentic-tools/src/tools/vector.ts
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  packages/agentic-tools/tests/unit/vector-tools.test.ts
  src/core/knowledge-migration.ts
Labels: source, tests

test(prd-647): RED for list-by-source on GET /api/v1/prompts (TDD)
  tests/integration/tools/prompts.test.ts
Labels: tests

feat(prd-647): list-by-source on GET /api/v1/prompts (cli#13 contract amendment)
  mock-server/prompts-ingest.ts
  mock-server/server.ts
  prds/647-prompts-source-ingestion-endpoint.md
  schema/openapi.json
  src/interfaces/openapi-generator.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  src/tools/prompts.ts
  tests/unit/core/ingested-prompts.test.ts
  tests/unit/mock-server/prompts-ingest.test.ts
Labels: source, tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-647): clear dompurify CVE (CI gate) + cover openapi WeakMap keying
  changelog.d/655-dompurify-security.misc.md
  package-lock.json
  package.json
  tests/unit/interfaces/openapi-generator.test.ts
Labels: tests, dependencies, config

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-647): fix altitude + restart framing for CLI-uploaded sources
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/prompts.md
Labels: documentation

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-647): clear undici CVEs (CI Security Analysis gate)
  changelog.d/655-undici-security.misc.md
  package-lock.json
  package.json
Labels: dependencies, config

docs(prd-647): trim CLI-uploaded-sources section to user altitude
  docs/ai-engine/tools/prompts.md
Labels: documentation

fix: Fix invalid image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-647): drop the redundant "unchanged by default" note
  docs/ai-engine/tools/prompts.md
Labels: documentation

fix: Update the deployment manifest in Git to use valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-647): server-side prompts source ingestion endpoint (#655)
  changelog.d/647-prompts-source-ingestion-endpoint.feature.md
  changelog.d/655-dompurify-security.misc.md
  changelog.d/655-undici-security.misc.md
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/prompts.md
  mock-server/prompts-ingest.ts
  mock-server/routes.ts
  mock-server/server.ts
  package-lock.json
  package.json
  prds/647-prompts-source-ingestion-endpoint.md
  schema/openapi.json
  src/core/user-prompts-loader.ts
  src/interfaces/mcp.ts
  src/interfaces/openapi-generator.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  src/tools/prompts.ts
  tests/integration/helpers/http-client.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/ingested-prompts.test.ts
  tests/unit/interfaces/openapi-generator.test.ts
  tests/unit/interfaces/rest-api-prompts-override.test.ts
  tests/unit/interfaces/rest-api-url-scrubbing.test.ts
  tests/unit/mock-server/prompts-ingest.test.ts
Labels: documentation, source, tests, dependencies, config

docs(prd-647): add list-by-source to changelog fragment
  changelog.d/647-prompts-source-ingestion-endpoint.feature.md
Labels: none

fix: Update image tag to valid nginx version in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-647): add list-by-source to changelog fragment (#664)
  changelog.d/647-prompts-source-ingestion-endpoint.feature.md
Labels: none

docs: update changelog for v1.23.0 [skip ci]
  changelog.d/575-prompts-override-fail-open.bugfix.md
  changelog.d/647-prompts-source-ingestion-endpoint.feature.md
  changelog.d/648-dependency-security-updates.misc.md
  changelog.d/655-dompurify-security.misc.md
  changelog.d/655-undici-security.misc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.23.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(knowledge): Migration transforms legacy payload schema to the new schema
  src/core/knowledge-migration.ts
  tests/unit/core/knowledge-migration.test.ts
Labels: source, tests

feat(knowledge): migration fully exercises the migration path incl. legacy seeding
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/infrastructure/seed-legacy-patterns.mjs
  tests/integration/tools/unified-knowledge-base.test.ts
Labels: tests

feat(knowledge): version renamed vectordb collections + summary
  tests/integration/tools/version.test.ts
Labels: tests

ci(integration-test): integrate knowledge-migration test into ci
  .github/workflows/ci.yml
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests, ci-cd

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(ci): fail migration integration test when seeding fails instead of skipping
  tests/integration/infrastructure/run-integration-tests.sh
  tests/integration/tools/unified-knowledge-base.test.ts
Labels: tests

test(knowledge): consolidate integration search assertions into a single toMatchObject
  tests/integration/tools/unified-knowledge-base.test.ts
Labels: tests

test(knowledge): assert migration stores embedding and not the legacy vector key
  tests/unit/core/knowledge-migration.test.ts
Labels: tests

fix(knowledge): guard legacy-delete path against truncated lists and knowledge-base recreation
  src/core/knowledge-migration.ts
  tests/unit/core/knowledge-migration.test.ts
Labels: source, tests

fix(prompts): make prd-full args optional so it renders as a full skill (#681)
  changelog.d/681-prd-full-skill-body.bugfix.md
  shared-prompts/prd-full.md
  tests/integration/tools/prompts.test.ts
Labels: tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
