Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

fix(tests): address CodeRabbit review feedback
  tests/integration/tools/prompts.test.ts
Labels: tests

feat(prd-380): identity in version tool + auth cleanup (Task 2.4)
  .mcp-test.json
  prds/380-gateway-auth-rbac.md
  src/interfaces/auth.ts
  src/interfaces/mcp.ts
  src/interfaces/oauth/middleware.ts
  src/interfaces/oauth/types.ts
  src/interfaces/request-context.ts
  src/tools/version.ts
  tests/integration/tools/auth.test.ts
  tests/integration/tools/manage-org-data-capabilities.test.ts
  tests/integration/tools/operate.test.ts
  tests/integration/tools/recommend.test.ts
  tests/integration/tools/remediate.test.ts
  tests/integration/tools/version.test.ts
Labels: source, tests, config

fix(tests): exact prompt count and remove duplicate test block
  tests/integration/tools/prompts.test.ts
Labels: tests

feat(prompts): serve folder-based skills from git repositories (#391)
  .github/workflows/ci.yml
  CLAUDE.md
  changelog.d/387.feature.md
  docs/ROADMAP.md
  package-lock.json
  prds/done/387-folder-based-skills.md
  src/core/user-prompts-loader.ts
  src/interfaces/mcp.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/prompts.ts
  src/tools/prompts.ts
  tests/integration/tools/prompts.test.ts
Labels: documentation, source, tests, ci-cd, dependencies, config

docs: update changelog for v1.5.0 [skip ci]
  changelog.d/387.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.5.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

feat(prd-380): user management via Dex gRPC API (Task 2.5)
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/values.yaml
  package-lock.json
  package.json
  src/interfaces/oauth/dex-api.proto
  src/interfaces/oauth/index.ts
  src/interfaces/oauth/user-management.ts
  src/interfaces/rest-api.ts
  src/interfaces/routes/index.ts
  src/interfaces/schemas/common.ts
  src/interfaces/schemas/index.ts
  src/interfaces/schemas/users.ts
  tests/integration/tools/auth.test.ts
Labels: source, tests, infrastructure, dependencies, config

feat(mock-server): add files[] to prompt render fixture for folder-based skills
  mock-server/fixtures/prompts/get-success.json
  tests/unit/mock-server/fixtures.test.ts
Labels: tests

fix(prd-380): copy dex-api.proto to dist during build
  package.json
Labels: dependencies, config

fix(tests): remove CACHE_TTL=0 that broke prompts cache refresh test
  tests/integration/infrastructure/run-integration-tests.sh
Labels: tests

docs(prd-380): update Task 2.5 — Dex gRPC API, no config reloader
  prds/380-gateway-auth-rbac.md
Labels: none

docs(prd-380): reduce scope to auth + docs, split RBAC into PRD #392
  .mcp-test.json
  docs/ROADMAP.md
  prds/380-gateway-auth-rbac.md
  prds/392-rbac-enforcement.md
Labels: documentation, config

feat(mock-server): add POST /api/v1/prompts/refresh route [skip ci]
  mock-server/fixtures/prompts/refresh-success.json
  mock-server/routes.ts
  tests/unit/mock-server/fixtures.test.ts
Labels: tests

docs(prd-380): add authentication overview page (Task 3.1)
  docs/ai-engine/setup/authentication.md
  prds/380-gateway-auth-rbac.md
Labels: documentation

feat: add git_clone and git_push tools for GitOps workflow
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  package-lock.json
  package.json
  src/core/git-utils.ts
  src/interfaces/mcp.ts
  src/tools/git-clone.ts
  src/tools/git-push.ts
  src/tools/index.ts
  tests/unit/core/git-utils.test.ts
  tests/unit/tools/git-clone.test.ts
  tests/unit/tools/git-push.test.ts
Labels: source, tests, infrastructure, dependencies, config

fix: address PR review feedback
  charts/templates/secret.yaml
  charts/values.yaml
  src/core/git-utils.ts
  tests/unit/core/git-utils.test.ts
Labels: source, tests, infrastructure

fix: address CodeRabbit review feedback
  charts/templates/secret.yaml
  src/core/git-utils.ts
  tests/unit/core/git-utils.test.ts
  tests/unit/tools/git-clone.test.ts
  tests/unit/tools/git-push.test.ts
Labels: source, tests, infrastructure

fix: address CodeRabbit critical and minor feedback
  charts/templates/secret.yaml
  src/core/git-utils.ts
Labels: source, infrastructure

docs(prd-380): update deployment & quick-start guides for OAuth (Task 3.2)
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/authentication.md
  docs/ai-engine/setup/deployment.md
  prds/380-gateway-auth-rbac.md
Labels: documentation

test: add integration tests for git_clone and git_push tools
  tests/integration/tools/git-operations.test.ts
Labels: tests

docs: update PRD #362 with Milestone 1 completion status
  prds/362-git-operations-recommend.md
Labels: none

docs(prd-380): add OAuth section to MCP client setup page (Task 3.3)
  docs/ai-engine/setup/authentication.md
  docs/mcp/index.md
  prds/380-gateway-auth-rbac.md
Labels: documentation

docs(prd-380): defer user management docs to CLI/UI projects (Task 3.4)
  docs/ai-engine/setup/authentication.md
  prds/380-gateway-auth-rbac.md
Labels: documentation

docs(prd-380): add connector documentation with validated Google example (Task 3.5)
  .env.vals.yaml
  docs/ai-engine/setup/connectors.md
  prds/380-gateway-auth-rbac.md
Labels: documentation, config

feat(prd-380): add user management mock fixtures, fix HTTPRoute test (Task 3.4)
  mock-server/fixtures/users/create-success.json
  mock-server/fixtures/users/delete-success.json
  mock-server/fixtures/users/list-success.json
  mock-server/routes.ts
  prds/380-gateway-auth-rbac.md
  tests/unit/helm/gateway-api.test.ts
  tests/unit/mock-server/fixtures.test.ts
Labels: tests

fix: address PR review feedback - use DOT_AI_GIT_TOKEN and improve security
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  src/core/git-utils.ts
  tests/unit/core/git-utils.test.ts
Labels: source, tests, infrastructure

refactor: address all PR review feedback
  charts/values.yaml
  packages/agentic-tools/src/tools/git-clone.ts
  packages/agentic-tools/src/tools/git-push.ts
  packages/agentic-tools/src/tools/index.ts
  src/interfaces/mcp.ts
  src/tools/git-clone.ts
  src/tools/git-push.ts
  src/tools/index.ts
  tests/integration/tools/git-operations.test.ts
  tests/unit/tools/git-clone.test.ts
  tests/unit/tools/git-push.test.ts
Labels: source, tests, infrastructure

fix: restore missing values.yaml sections (localEmbeddings, gateway, plugins)
  charts/values.yaml
Labels: infrastructure

fix: address CodeRabbit nitpick comments
  packages/agentic-tools/src/tools/git-clone.ts
  packages/agentic-tools/src/tools/git-push.ts
  tests/integration/tools/git-operations.test.ts
Labels: tests

fix: address CodeRabbit security and test pattern comments
  src/core/git-utils.ts
  tests/integration/tools/git-operations.test.ts
Labels: source, tests

feat(prompts): add issue assignment step to prd-start [skip ci]
  shared-prompts/prd-start.md
Labels: none

refactor: move git operations from plugin to MCP server layer
  package-lock.json
  packages/agentic-tools/src/tools/git-clone.ts
  packages/agentic-tools/src/tools/git-push.ts
  packages/agentic-tools/src/tools/helm-list.ts
  packages/agentic-tools/src/tools/index.ts
  packages/agentic-tools/tests/unit/qdrant-operations.test.ts
  src/core/git-utils.ts
  src/core/user-prompts-loader.ts
  tests/integration/tools/git-operations.test.ts
  tests/unit/core/git-utils.test.ts
Labels: source, tests, dependencies, config

style: revert formatting changes in values.yaml, keep only githubApp addition
  charts/values.yaml
Labels: infrastructure

style: revert formatting-only changes in plugin index.ts
  packages/agentic-tools/src/tools/index.ts
Labels: none

feat(prd-380): branded Dex login page, OAuth mock fixtures, secure connector docs (Task 3.6)
  charts/templates/dex-config.yaml
  charts/values.yaml
  dex-theme/Dockerfile
  dex-theme/robots.txt
  dex-theme/static/main.css
  dex-theme/templates/approval.html
  dex-theme/templates/error.html
  dex-theme/templates/footer.html
  dex-theme/templates/header.html
  dex-theme/templates/login.html
  dex-theme/templates/password.html
  docs/ai-engine/setup/connectors.md
  mock-server/fixtures/oauth/authorization-server-metadata.json
  mock-server/fixtures/oauth/protected-resource-metadata.json
  mock-server/fixtures/oauth/register-success.json
  mock-server/fixtures/oauth/token-success.json
  mock-server/routes.ts
  mock-server/server.ts
  prds/380-gateway-auth-rbac.md
  tests/integration/tools/auth.test.ts
  tests/unit/mock-server/fixtures.test.ts
Labels: documentation, tests, infrastructure

chore(prd-380): archive PRD, add changelog fragment, update roadmap
  changelog.d/380.feature.md
  docs/ROADMAP.md
  prds/392-rbac-enforcement.md
  prds/done/380-gateway-auth-rbac.md
Labels: documentation

fix(ci): remove push trigger to prevent skipped jobs polluting PR checks
  .github/workflows/ci.yml
  CLAUDE.md
Labels: documentation, ci-cd

fix(prd-380): track dex subchart, fix CodeQL type confusion in OAuth callback
  .gitignore
  charts/charts/dex-0.24.0.tgz
  src/interfaces/oauth/provider.ts
Labels: source, infrastructure

fix(prd-380): address CodeRabbit review findings — security hardening & cleanup
  charts/templates/_helpers.tpl
  charts/templates/deployment.yaml
  charts/templates/dex-config.yaml
  docs/ai-engine/quick-start.md
  docs/ai-engine/setup/authentication.md
  docs/ai-engine/setup/deployment.md
  src/core/schema.ts
  src/interfaces/mcp.ts
  src/interfaces/oauth/dex-client.ts
  src/interfaces/oauth/jwt.ts
  src/interfaces/oauth/middleware.ts
  src/interfaces/oauth/provider.ts
  src/interfaces/oauth/user-management.ts
  src/interfaces/rest-api.ts
  src/tools/remediate.ts
  tests/integration/tools/auth.test.ts
Labels: documentation, source, tests, infrastructure

fix(prd-380): disable Dex in gateway-api helm tests to fix required guard
  tests/unit/helm/gateway-api.test.ts
Labels: tests

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'
