Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

test(copilot): add integration test suite gated on AI_PROVIDER=copilot
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  src/core/providers/copilot-token-exchanger.ts
  src/core/providers/vercel-provider.ts
  tests/integration/tools/copilot-provider.test.ts
  tests/unit/core/providers/copilot-token-exchanger.test.ts
Labels: documentation, source, tests, dependencies, config

fix: Update deployment.yaml image tag from invalid 'nginx:v999-nonexistent' to valid 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Fix image tag in deployment.yaml to use valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(prd-581): per-request user prompts repository override
  changelog.d/581.feature.md
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/prompts.md
  mock-server/fixtures/prompts/get-success.json
  mock-server/fixtures/prompts/list-success.json
  mock-server/fixtures/prompts/refresh-success.json
  mock-server/prompts-override.ts
  mock-server/read-json-body.ts
  mock-server/server.ts
  prds/581-per-request-user-prompts-repo.md
  src/core/user-prompts-loader.ts
  src/interfaces/rest-api.ts
  src/tools/prompts.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/user-prompts-loader.test.ts
  tests/unit/core/user-prompts-source.test.ts
  tests/unit/interfaces/rest-api-url-scrubbing.test.ts
  tests/unit/mock-server/fixtures.test.ts
  tests/unit/mock-server/read-json-body.test.ts
Labels: documentation, source, tests

chore: ignore .dot-agent-deck/ agent coordination artifacts
  .gitignore
Labels: none

fix(copilot): address CodeRabbit review comments
  docs/ai-engine/setup/deployment.md
  src/core/providers/vercel-provider.ts
  tests/integration/tools/copilot-provider.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: documentation, source, tests

fix(prd-581): include new mock-server modules in Docker build
  mock-server/Dockerfile
Labels: none

fix: Fix the invalid image tag in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update the deployment.yaml manifest to use a valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(prd-581): scrub query-string credentials and harden parse-failure path
  src/core/user-prompts-loader.ts
  src/interfaces/rest-api.ts
  tests/unit/core/user-prompts-source.test.ts
  tests/unit/interfaces/rest-api-url-scrubbing.test.ts
Labels: source, tests

fix: Fix container image tag from invalid 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(knowledge): add tags field to KnowledgeChunkPayload and search results
  src/core/knowledge-types.ts
  src/tools/manage-knowledge.ts
  tests/integration/tools/unified-knowledge-base.test.ts
Labels: source, tests

feat(knowledge): add AI classification during ingestion
  prompts/knowledge-classification.md
  src/tools/manage-knowledge.ts
Labels: source

feat(knowledge): update consumers to use unified knowledge base
  prompts/operate-user.md
  src/core/schema.ts
  src/tools/operate-analysis.ts
  src/tools/operate.ts
Labels: source

feat(knowledge): retire pattern/policy infrastructure (Milestone 4)
  package-lock.json
  src/core/index.ts
  src/core/organizational-types.ts
  src/core/pattern-operations.ts
  src/core/pattern-types.ts
  src/core/pattern-vector-service.ts
  src/core/policy-operations.ts
  src/core/policy-vector-service.ts
  src/core/unified-creation-session.ts
  src/core/unified-creation-types.ts
  src/tools/organizational-data.ts
  src/tools/version.ts
  tests/integration/tools/manage-org-data-patterns.test.ts
  tests/integration/tools/manage-org-data-policies.test.ts
Labels: source, tests, dependencies, config

feat(knowledge): auto-migrate legacy collections at server startup (Milestone 5)
  src/core/knowledge-migration.ts
  src/mcp/server.ts
Labels: source

test(knowledge): e2e and migration integration tests (Milestone 6)
  tests/integration/tools/unified-knowledge-base.test.ts
Labels: tests

fix: Update deployment.yaml to use valid nginx:latest image tag instead of nginx:v999-nonexistent [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment manifest to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(providers): add GitHub Copilot provider with token exchange (#591)
  charts/templates/deployment.yaml
  charts/templates/secret.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
  package-lock.json
  package.json
  prds/587-github-copilot-provider.md
  src/core/ai-provider-factory.ts
  src/core/model-config.ts
  src/core/providers/copilot-token-exchanger.ts
  src/core/providers/vercel-provider.ts
  tests/integration/tools/copilot-provider.test.ts
  tests/unit/core/providers/copilot-token-exchanger.test.ts
  tests/unit/core/providers/vercel-provider.copilot.createOpenAI.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs(changelog): add fragment for #587 GitHub Copilot provider
  changelog.d/587.feature.md
Labels: none

docs: update changelog for v1.20.0 [skip ci]
  changelog.d/464-vercel-provider-toolloop-tests.misc.md
  changelog.d/587.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.20.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-581): lead multi-source section with CLI workflow, not REST
  docs/ai-engine/tools/prompts.md
Labels: documentation

fix: Update the container image tag in the deployment manifest from invalid 'nginx:v999-nonexistent' to valid 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

chore(deps): bump hono 4.12.19 → 4.12.23 to clear npm audit
  package-lock.json
Labels: dependencies, config

chore(deps): sync package.json + Chart.yaml from main, bump hono
  charts/Chart.yaml
  package-lock.json
  package.json
Labels: infrastructure, dependencies, config

fix: Update deployment.yaml to use valid nginx image tag (nginx:latest) [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat: per-request user prompts repository override (#581) (#607)
  .gitignore
  changelog.d/581.feature.md
  docs/ai-engine/api/rest-api.md
  docs/ai-engine/tools/prompts.md
  mock-server/Dockerfile
  mock-server/fixtures/prompts/get-success.json
  mock-server/fixtures/prompts/list-success.json
  mock-server/fixtures/prompts/refresh-success.json
  mock-server/prompts-override.ts
  mock-server/read-json-body.ts
  mock-server/server.ts
  package-lock.json
  prds/581-per-request-user-prompts-repo.md
  src/core/user-prompts-loader.ts
  src/interfaces/rest-api.ts
  src/tools/prompts.ts
  tests/integration/tools/prompts.test.ts
  tests/unit/core/user-prompts-loader.test.ts
  tests/unit/core/user-prompts-source.test.ts
  tests/unit/interfaces/rest-api-url-scrubbing.test.ts
  tests/unit/mock-server/fixtures.test.ts
  tests/unit/mock-server/read-json-body.test.ts
Labels: documentation, source, tests, dependencies, config

docs: update changelog for v1.21.0 [skip ci]
  changelog.d/581.feature.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.21.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-627): create PRD #627 - fix Copilot provider token-type support [skip ci]
  prds/627-fix-copilot-token-type-support.md
Labels: none

fix copilot pat token support
  changelog.d/627-fix-copilot-pat-support.bugfix.md
  charts/values.yaml
  docs/CHANGELOG.md
  docs/ai-engine/setup/deployment.md
  src/core/providers/copilot-token-exchanger.ts
  src/core/providers/vercel-provider.ts
  tests/integration/tools/copilot-provider.test.ts
  tests/unit/core/providers/copilot-token-exchanger.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: documentation, source, tests, infrastructure

fix: Fix invalid image tag in deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs(prd-621): create PRD #621 - per-request path, branch, and credential for the prompts repo override [skip ci]
  docs/ROADMAP.md
  prds/621-prompts-override-path-branch-credential.md
Labels: documentation

chore(agent-deck): add tester worker with integration-test TDD chain [skip ci]
  .dot-agent-deck.toml
  devbox.json
Labels: config

feat(mock-server): implement GET /api/v1/resource single-resource endpoint [skip ci]
  mock-server/fixtures/resources/single-resources.json
  mock-server/resource-lookup.ts
  mock-server/routes.ts
  mock-server/server.ts
  tests/unit/mock-server/fixtures.test.ts
Labels: tests
