Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

fix: update devbox-install-action from v0.11.0 to v0.14.0
  .github/workflows/release.yml
Labels: ci-cd

chore: coordinated release v1.2.3
  charts/Chart.yaml
  charts/values.yaml
  package-lock.json
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-357): close PRD #357 - superseded by unified knowledge base approach [skip ci]
  docs/ROADMAP.md
  prds/done/357-policy-extraction-from-knowledge-base.md
Labels: documentation

docs(prd-375,prd-376): create unified knowledge base PRDs [skip ci]
  docs/ROADMAP.md
  prds/375-unified-knowledge-base.md
  prds/376-retire-legacy-collection-migration.md
Labels: documentation

docs(prd-218): close PRD #218 - superseded by unified knowledge base approach [skip ci]
  docs/ROADMAP.md
  prds/done/218-pattern-policy-learning-system.md
Labels: documentation

fix: increase agentic-tools readiness probe initialDelaySeconds to 30s
  changelog.d/readiness-probe.bugfix.md
  charts/templates/plugin-deployment.yaml
Labels: infrastructure

docs: update changelog for v1.2.4 [skip ci]
  changelog.d/readiness-probe.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v1.2.4
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-228,prd-377): close PRD #228, create PRD #377 - deployment doc generation [skip ci]
  docs/ROADMAP.md
  prds/377-deployment-documentation-generation.md
  prds/done/228-deployment-documentation-learning.md
Labels: documentation

docs(prd-360): close PRD #360 - superseded by gateway-delegated authN + RBAC approach [skip ci]
  docs/ROADMAP.md
  prds/done/360-user-authentication.md
Labels: documentation

docs(prd-380): create PRD #380 - gateway-delegated auth & built-in RBAC [skip ci]
  docs/ROADMAP.md
  prds/380-gateway-auth-rbac.md
Labels: documentation

Scripts [skip ci]
  scripts/dot-ai.nu
Labels: none

chore: coordinated release v0.187.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

chore: coordinated release v0.186.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

docs(prd-326): create PRD #326 - feedback message content block display [skip ci]
  docs/ROADMAP.md
  prds/326-feedback-message-content-block.md
Labels: documentation

chore: coordinated release v0.188.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

refactor(prd-323): consolidate duplicated constants and messages (#324)
  prds/323-constants-message-consolidation.md
  prds/done/323-constants-message-consolidation.md
  src/core/ai-provider-factory.ts
  src/core/capability-operations.ts
  src/core/capability-tools.ts
  src/core/constants/errors.ts
  src/core/constants/index.ts
  src/core/constants/investigation.ts
  src/core/constants/stages.ts
  src/core/constants/validation.ts
  src/core/index.ts
  src/core/kubectl-tools.ts
  src/core/kubernetes-utils.ts
  src/core/pattern-operations.ts
  src/core/policy-operations.ts
  src/core/providers/host-provider.ts
  src/core/providers/noop-provider.ts
  src/core/providers/vercel-provider.ts
  src/core/resource-tools.ts
  src/core/schema.ts
  src/tools/answer-question.ts
  src/tools/organizational-data.ts
  src/tools/prompts.ts
  src/tools/version.ts
Labels: source

Scripts [skip ci]
  dot.nu
  scripts/dot-ai.nu
  scripts/jaeger.nu
Labels: none

fix(security): update @modelcontextprotocol/sdk to 1.25.2
  package-lock.json
Labels: dependencies, config

feat(version): add resources collection with synced types to status
  .mcp-kubernetes.json
  dot.nu
  scripts/dot-ai.nu
  src/tools/version.ts
  tests/integration/tools/version.test.ts
Labels: source, tests, config

Query [skip ci]
  dot.nu
Labels: none

docs(prd-336): create PRD #336 - global annotations support in Helm chart [skip ci]
  docs/ROADMAP.md
  prds/336-helm-global-annotations.md
Labels: documentation

docs: update release notes for v0.180.0
  changelog.d/320.feature.md
  docs/CHANGELOG.md
Labels: documentation

docs: add changelog fragment for PRD #338 [skip ci]
  changelog.d/338.misc.md
Labels: none

chore: update tag-release skill to handle [skip ci] commits [skip ci]
  .claude/skills/tag-release/SKILL.md
Labels: none

docs(prd-345): add stdio transport removal to scope
  prds/345-kubernetes-only-deployment.md
Labels: none

fix(docs): update broken kubernetes-setup link in CHANGELOG
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v0.190.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix(helm): increase readiness probe initial delay to 30s
  charts/templates/deployment.yaml
Labels: infrastructure

chore: coordinated release v0.192.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  server.json
Labels: infrastructure, dependencies, config

fix(plugin): background retry for plugin discovery
  docs/dev/development-setup.md
  docs/guides/mcp-prompts-guide.md
  docs/guides/telemetry-guide.md
  docs/index.md
  docs/quick-start.md
  src/core/plugin-manager.ts
  src/mcp/server.ts
  src/tools/version.ts
  tests/unit/core/plugin-manager.test.ts
Labels: documentation, source, tests

fix(prd-326): move feedback message to separate MCP content block (#327)
  docs/ROADMAP.md
  prds/done/326-feedback-message-content-block.md
  src/core/pattern-operations.ts
  src/core/policy-operations.ts
  src/tools/generate-manifests.ts
  src/tools/operate-execution.ts
  src/tools/operate.ts
  src/tools/organizational-data.ts
  src/tools/project-setup.ts
  src/tools/project-setup/generate-scope.ts
  src/tools/remediate.ts
  src/tools/version.ts
  tests/integration/tools/feedback.test.ts
Labels: documentation, source, tests

dot.nu [skip ci]
  scripts/dot-ai.nu
Labels: none

fix(logging): reduce excessive logging when circuit breaker is open (#352)
  changelog.d/348.bugfix.md
  docs/ROADMAP.md
  prds/done/348-reduce-excessive-logging.md
  src/core/capability-scan-workflow.ts
  src/core/circuit-breaker.ts
  src/core/command-executor.ts
  src/interfaces/resource-sync-handler.ts
  tests/unit/core/circuit-breaker.test.ts
  tests/unit/core/command-executor.test.ts
Labels: documentation, source, tests

docs(prd-331): complete towncrier release notes infrastructure
  changelog.d/331.misc.md
  docs/ROADMAP.md
  prds/done/331-towncrier-release-notes.md
Labels: documentation

chore: coordinated release v0.195.0
  changelog.d/336.feature.md
  changelog.d/337.feature.md
  charts/Chart.yaml
  charts/values.yaml
  docs/CHANGELOG.md
  package.json
  server.json
Labels: documentation, infrastructure, dependencies, config

chore: add changelog-fragment and tag-release skills
  .claude/skills/changelog-fragment/SKILL.md
  .claude/skills/tag-release/SKILL.md
Labels: none

feat(telemetry): add PostHog telemetry for anonymous usage analytics (#335)
  README.md
  changelog.d/feature/329.md
  charts/values.yaml
  docs/ROADMAP.md
  docs/guides/telemetry-guide.md
  package-lock.json
  package.json
  prds/329-posthog-telemetry.md
  prds/done/329-posthog-telemetry.md
  src/core/telemetry/client.ts
  src/core/telemetry/config.ts
  src/core/telemetry/index.ts
  src/core/telemetry/types.ts
  src/core/tracing/index.ts
  src/core/tracing/tool-tracing.ts
  src/interfaces/mcp.ts
  src/mcp/server.ts
  tests/integration/infrastructure/run-integration-tests.sh
  tests/unit/core/telemetry/telemetry.test.ts
Labels: documentation, source, tests, infrastructure, dependencies, config

docs: add git worktrees guidance for feature work [skip ci]
  CLAUDE.md
Labels: documentation

docs(prd-331): update PRD with progress [skip ci]
  prds/331-towncrier-release-notes.md
Labels: none
