Repository vfarcic/dot-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, tests, ci-cd, infrastructure, dependencies, config

.github/labeler.yml:

# This configuration automatically labels pull requests based on file paths.
# Learn more: https://github.com/actions/labeler

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
    - '*.md'
    - 'README*'

# Source code changes
source:
- changed-files:
  - any-glob-to-any-file:
    - 'src/**/*'

# Test changes
tests:
- changed-files:
  - any-glob-to-any-file:
    - 'tests/**/*'
    - '**/*.test.*'
    - '**/*.spec.*'

# CI/CD changes
ci-cd:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/*'
    - '.github/actions/**/*'
    - 'Dockerfile*'
    - 'docker-compose*.yml'

# Infrastructure changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'k8s/**/*'
    - 'kubernetes/**/*'
    - 'manifests/**/*'
    - 'helm/**/*'
    - 'charts/**/*'
    - 'Chart.yaml'
    - 'values.yaml'
    - 'kind.yaml'

# Dependencies
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'package-lock.json'
    - 'yarn.lock'
    - 'pnpm-lock.yaml'

# Configuration changes
config:
- changed-files:
  - any-glob-to-any-file:
    - '*.config.*'
    - '*.json'
    - '*.yaml'
    - '*.yml'
    - '*.toml'
    - '.env*'
    - 'tsconfig.json'
    - '.eslintrc*'
    - '.prettierrc*'

fix: read-only /readyz probe, TOCTOU-free truncated flag, single-sourced envelope (M2/M3/M4, #714)
  docs/ai-engine/tools/capability-management.md
  src/core/capability-operations.ts
  src/interfaces/rest-api.ts
  src/tools/version.ts
  tests/unit/contracts/capabilities-contract.test.ts
  tests/unit/tools/version-readiness.test.ts
Labels: documentation, source, tests

feat(capabilities): M3 publish response contract as golden fixtures with drift guard (#714)
  contracts/capabilities/README.md
  contracts/capabilities/delete.json
  contracts/capabilities/list-backend-unavailable.json
  contracts/capabilities/list-empty.json
  contracts/capabilities/list-full.json
  contracts/capabilities/list-identity-only.json
  contracts/capabilities/list-truncated.json
  contracts/capabilities/progress-completed.json
  package.json
  tests/unit/contracts/capabilities-contract.test.ts
Labels: tests, dependencies, config

fix(readiness): M4 coalesce concurrent /readyz probes and stop leaking raw backend errors (#714)
  src/interfaces/mcp.ts
  src/tools/version.ts
  tests/unit/tools/version-readiness.test.ts
Labels: source, tests

fix(readiness): M4 anchor /readyz cache TTL to probe completion and gate on embedding availability (#714)
  docs/ai-engine/api/rest-api.md
  src/interfaces/mcp.ts
  src/tools/version.ts
  tests/unit/tools/version-readiness.test.ts
Labels: documentation, source, tests

chore: start fresh Claude session in devbox agent script [skip ci]
  devbox.json
Labels: config

fix(test): gate Copilot e2e on supported token shape
  changelog.d/759-copilot-token-shape-gate.bugfix.md
  src/core/providers/copilot-token-exchanger.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: source, tests

test(copilot): preserve live credentials during e2e
  tests/integration/tools/copilot-provider.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: tests

fix(helm): handle prefetched embeddings model
  changelog.d/753-local-embeddings-model.bugfix.md
  charts/templates/deployment.yaml
  tests/integration/tools/version.test.ts
  tests/unit/helm/embeddings-env.test.ts
Labels: tests, infrastructure

feat(helm): support local embeddings scheduling
  changelog.d/755-local-embeddings-scheduling.feature.md
  charts/templates/local-embeddings.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
  tests/unit/helm/local-embeddings-scheduling.test.ts
Labels: documentation, tests, infrastructure

chore: remove dot-ai skills generate SessionStart hook
  .claude/settings.json
Labels: none

chore: point dev-flow roles at the existing devbox agent script [skip ci]
  .dot-agent-deck.toml
Labels: config

feat(helm): support nodeSelector, affinity and tolerations for local embeddings (#755)
  charts/templates/local-embeddings.yaml
  charts/values.yaml
  tests/unit/helm/local-embeddings-scheduling.test.ts
Labels: tests, infrastructure

docs: document local embeddings pod scheduling values (#755)
  docs/ai-engine/setup/deployment.md
Labels: documentation

chore(deps): vendor qdrant subchart 1.18.0 [skip ci]
  charts/charts/qdrant-1.15.5.tgz
  charts/charts/qdrant-1.18.0.tgz
Labels: infrastructure

chore: ignore the dot-ai skill runtime lock [skip ci]
  .gitignore
Labels: none

fix(helm): correct local embeddings scheduling docs and widen test coverage (#755)
  charts/values.yaml
  tests/unit/helm/local-embeddings-scheduling.test.ts
Labels: tests, infrastructure

docs: add changelog fragment for local embeddings pod scheduling (#755)
  changelog.d/755.feature.md
Labels: none

fix: Fix the invalid image tag in the deployment manifest to use a valid nginx image [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

feat(helm): support nodeSelector, affinity and tolerations for local embeddings (#761)
  .claude/settings.json
  changelog.d/755.feature.md
  charts/templates/local-embeddings.yaml
  charts/values.yaml
  docs/ai-engine/setup/deployment.md
  tests/unit/helm/local-embeddings-scheduling.test.ts
Labels: documentation, tests, infrastructure

fix(helm): configure local embeddings model (#754)
  changelog.d/753-local-embeddings-model.bugfix.md
  charts/templates/deployment.yaml
  tests/integration/tools/version.test.ts
  tests/unit/helm/embeddings-env.test.ts
Labels: tests, infrastructure

fix(deps): update nanoid to 3.3.18 for GHSA-2v37-7h3g-55p8
  package-lock.json
Labels: dependencies, config

fix: Fix the container image tag in the deployment manifest from 'nginx:v999-nonexistent' to 'nginx:latest' [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix(deps): update nanoid to 3.3.18 for GHSA-2v37-7h3g-55p8 (#768)
  package-lock.json
Labels: dependencies, config

docs: credit @reysylaj for the local embeddings scheduling request [skip ci]
  changelog.d/755.feature.md
Labels: none

fix(test): gate Copilot e2e on supported token shape (#760)
  changelog.d/759-copilot-token-shape-gate.bugfix.md
  src/core/providers/copilot-token-exchanger.ts
  tests/integration/tools/copilot-provider.test.ts
  tests/unit/core/providers/vercel-provider.copilot.test.ts
Labels: source, tests

docs: update changelog for v2.2.0 [skip ci]
  changelog.d/753-local-embeddings-model.bugfix.md
  changelog.d/755.feature.md
  changelog.d/759-copilot-token-shape-gate.bugfix.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v2.2.0
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

test(copilot): isolate integration credential checks
  changelog.d/759-copilot-integration-credential-isolation.bugfix.md
  tests/integration/tools/copilot-provider.test.ts
Labels: tests

docs: fix changelog fragment naming so issue links resolve
  CONTRIBUTING.md
  changelog.d/777.doc.md
  docs/CHANGELOG.md
Labels: documentation

fix: Fix the container image tag in deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

fix: Update deployment.yaml to use valid nginx image tag [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs: fix slug-only changelog links and tag fenced blocks
  CONTRIBUTING.md
  changelog.d/777.doc.md
  docs/CHANGELOG.md
Labels: documentation

fix: Fix the invalid image tag in the deployment manifest [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs: scope the fragment-naming claim to issue-linked fragments
  changelog.d/777.doc.md
Labels: none

fix: Fix image tag in deployment manifest from invalid tag to valid nginx version [skip ci]
  tests/integration/fixtures/gitops/broken-app/deployment.yaml
Labels: tests

docs: fix changelog fragment naming so issue links resolve (#778)
  CONTRIBUTING.md
  changelog.d/777.doc.md
  docs/CHANGELOG.md
Labels: documentation

docs: update changelog for v2.2.1 [skip ci]
  changelog.d/777.doc.md
  docs/CHANGELOG.md
Labels: documentation

chore: coordinated release v2.2.1
  charts/Chart.yaml
  charts/values.yaml
  package.json
  schema/openapi.json
  server.json
Labels: infrastructure, dependencies, config

test(copilot): remove duplicate PAT coverage
  changelog.d/759-copilot-integration-credential-isolation.bugfix.md
  changelog.d/759.misc.md
  tests/integration/tools/copilot-provider.test.ts
Labels: tests

test(capabilities): add concurrency-safe and isolated list-contract integration tests (#714)
  tests/integration/tools/manage-org-data-capabilities.test.ts
Labels: tests
